@import url(//hello.myfonts.net/count/394097);.main {
  width: 100%;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__not-page, .main__del {
  width: 100%;
  max-width: 1300px;
  margin: 120px 0 100px;
}

.main__not-page-title, .main__del-title {
  font: 40px/56px "TTDrugsCondensed-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0;
}

.main__not-page_wrap, .main__del_wrap {
  margin: 20px 0 50px;
  max-width: 420px;
}

.main__not-page_wrap .g-empty-info, .main__del_wrap .g-empty-info {
  margin: 0;
  color: #333;
}

.main__not-page .g-link, .main__del .g-link {
  font: 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.main__not-page-info, .main__del-info {
  font: 30px/43px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0;
  max-width: 530px;
}

@media (max-width: 1399px) {
  .main__not-page,
  .main__del {
    max-width: 970px;
  }
}

@media (max-width: 1069px) {
  .main__not-page,
  .main__del {
    max-width: 640px;
  }
}

@media (max-width: 729px) {
  .main__not-page,
  .main__del {
    max-width: calc(100% - 92px);
    margin: 63px 0 100px;
  }
  .main__not-page-title,
  .main__del-title {
    font-size: 26px;
    line-height: 36px;
  }
  .main__not-page .g-link,
  .main__del .g-link {
    font-size: 14px;
    line-height: 22px;
  }
  .main__not-page-info,
  .main__del-info {
    font-size: 22px;
    line-height: 1.27;
  }
}

@media (max-width: 425px) {
  .main__not-page,
  .main__del {
    max-width: calc(100% - 40px);
  }
}
