@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .head-add__wrap,
  .add-event__content-nav-wrap,
  .add-event__format,
  .add-event__about,
  .add-event__price,
  .add-event__detail,
  .add-event__connect,
  .add-event__theme,
  .add-event__submit,
  .add-event__content-nav_gradient {
    max-width: 970px;
  }
  .add-event__content-nav {
    right: 0;
  }
  .add-event__format-name,
  .add-event__about-wrap,
  .add-event__price-wrap,
  .add-event__price-size,
  .add-event__detail-wrap,
  .add-event__detail-place,
  .add-event__connect-phone,
  .add-event__connect-email {
    max-width: 723px;
  }
  .add-event__detail-long {
    margin: 0;
  }
  .add-event__detail .add-event__detail-date,
  .add-event__detail .add-event__detail-time,
  .add-event__detail .add-event__detail-long {
    width: 33%;
    max-width: none;
  }
  .add-event__detail .add-event__detail-date .detail-date__input,
  .add-event__detail .add-event__detail-time .detail-date__input,
  .add-event__detail .add-event__detail-long .detail-date__input {
    width: 100%;
    max-width: none;
  }
  .add-event__detail .add-event__detail-date .detail-date__input {
    width: calc(100% - 20px);
  }
}

@media (max-width: 1069px) {
  .head-add__wrap,
  .add-event__content-nav-wrap,
  .add-event__format,
  .add-event__about,
  .add-event__price,
  .add-event__detail,
  .add-event__connect,
  .add-event__theme,
  .add-event__submit {
    max-width: 640px;
  }
  .head-add {
    border-bottom: 1px solid #d8d8d8;
  }
  .add-event__content-nav_gradient {
    max-width: 640px;
  }
  .add-event__content-nav-wrap {
    width: 100%;
    height: 22px;
    margin: 10px 0 0;
    max-width: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll {
    width: 100%;
    max-width: 640px;
    height: 50px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll .add-event__content-nav {
    width: 642px;
    white-space: nowrap;
  }
  .add-event__content-nav-wrap:after, .add-event__content-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .add-event__content-nav-wrap:before {
    left: -45px;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .add-event__content-nav-wrap:after {
    right: -45px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .add-event__content-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .add-event__content-nav-item {
    margin: 0 15px 0 0;
  }
  .add-event__content-nav-item:last-child {
    margin: 0;
  }
  .add-event__content-nav-item_active:before {
    height: 2px;
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
  }
  .add-event__format-title {
    margin-top: 48px;
  }
}

@media (max-width: 729px) {
  .head-add__wrap,
  .add-event__format,
  .add-event__about,
  .add-event__price,
  .add-event__detail,
  .add-event__connect,
  .add-event__theme,
  .add-event__submit {
    max-width: calc(100% - 92px);
  }
  .add-event__connect-messng-item .telegramm,
  .add-event__connect-messng-item .whatsapp,
  .add-event__connect-messng-item .skype,
  .add-event__connect-messng-item .viber {
    font-size: 14px;
    line-height: 22px;
  }
  .add-event__format-event-name,
  .price-size__entr {
    padding: 0 15px;
  }
  .head-add__logo {
    padding: 30px 0 55px;
    position: unset;
  }
  .head-add__logo-title {
    font-size: 26px;
    line-height: 32px;
  }
  .head-add__logo-cls-btn {
    top: 10px;
    right: 30px;
  }
  .add-event__content-nav_gradient {
    width: 100vw;
    max-width: none;
  }
  .add-event__content-nav-wrap {
    width: 100vw;
    height: 22px;
    max-width: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll {
    height: 50px;
    padding: 0 45px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll .add-event__content-nav {
    width: 642px;
    white-space: nowrap;
    padding: 0 45px 0 0;
  }
  .add-event__content-nav-wrap:after, .add-event__content-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .add-event__content-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .add-event__content-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .add-event .add-event__content-nav_fixed .add-event__content-nav-scrll {
    max-width: none;
  }
  .add-event__format-title {
    margin-bottom: 20px;
  }
  .add-event__format-subtitle {
    margin: 0 0 20px;
  }
  .add-event__about {
    margin-top: 40px;
  }
  .add-event__about-title {
    margin-bottom: 20px;
  }
  .add-event__about-btn {
    top: -7px;
  }
  .add-event__about-entr {
    font-size: 14px;
    line-height: 22px;
    padding: 14px 15px;
  }
  .add-event__about-wrap:not(.add-event__about-wrap_last),
  .add-event__price-wrap:not(.add-event__price-wrap_last),
  .add-event__detail-wrap {
    margin-bottom: 25px;
  }
  .add-event__price-title,
  .add-event__detail-title,
  .add-event__connect-title {
    margin: 40px 0 20px;
  }
  .add-event__price-checkbox {
    margin-bottom: 18px;
  }
  .add-event__price-size {
    margin: 0 0 25px;
  }
  .add-event__price-size .price-size__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .add-event__price-size .price-size__btn-add {
    max-width: 171px;
    margin: 20px 0 0;
    height: auto;
  }
  .add-event__price-size .price-size__entr-wrap,
  .add-event__price-size .price-size__sale-wrap,
  .add-event__price-size .price-size__date-wrap {
    max-width: none;
  }
  .add-event__price-size .price-size__entr,
  .add-event__price-size .price-size__sale,
  .add-event__price-size .price-size__date {
    padding: 0 15px;
  }
  .add-event__price-size .price-size__sale-wrap,
  .add-event__price-size .price-size__date-wrap {
    margin: 20px 0 0;
  }
  .add-event__price-entr {
    font-size: 14px;
    line-height: 22px;
    padding: 14px 15px;
  }
  .add-event__price-btn {
    top: -7px;
  }
  .add-event__detail-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .add-event__detail-wrap .add-event__detail-date,
  .add-event__detail-wrap .add-event__detail-time,
  .add-event__detail-wrap .add-event__detail-long {
    width: 100%;
  }
  .add-event__detail-wrap .add-event__detail-time,
  .add-event__detail-wrap .add-event__detail-long {
    margin: 18px 0 0;
  }
  .add-event__detail-btn {
    top: -7px;
  }
  .add-event__detail-entr {
    font-size: 14px;
    line-height: 22px;
  }
  .add-event__detail-date .detail-date__input-wrap .detail-date__input {
    padding: 0 15px;
  }
  .add-event__detail-entr {
    padding: 14px 15px;
  }
  .add-event__connect-phone {
    margin-bottom: 15px;
  }
  .add-event__connect-phone .connect-phone__input {
    padding: 0 15px;
  }
  .add-event__connect-email {
    margin-bottom: 20px;
  }
  .add-event__connect-email .connect-email__input {
    padding: 0 15px;
  }
  .add-event__connect-info {
    font-size: 14px;
    line-height: 22px;
  }
  .add-event__connect-messng {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .add-event__connect-messng-item:nth-child(1), .add-event__connect-messng-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .add-event__connect-messng-item .telegramm {
    padding-left: 40px;
  }
  .add-event__connect-messng-item .skype,
  .add-event__connect-messng-item .whatsapp,
  .add-event__connect-messng-item .viber {
    padding-left: 35px;
  }
  .add-event__connect-messng-item .telegramm:before {
    width: 28px;
    height: 24px;
  }
  .add-event__connect-messng-item .skype:before,
  .add-event__connect-messng-item .whatsapp:before,
  .add-event__connect-messng-item .viber:before {
    width: 24px;
    height: 24px;
  }
  .add-event__theme-title {
    margin: 40px 0 20px;
  }
  .add-event__theme-subtitle {
    margin-bottom: 23px;
  }
  .add-event__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .add-event__theme-wrap {
    width: 50%;
    min-width: auto;
  }
  .add-event__theme-wrap:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .add-event__theme-wrap:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .add-event__theme-wrap:nth-child(25) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .add-event__theme-wrap:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .add-event__theme-wrap:nth-child(26) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .add-event__theme-wrap:nth-child(4) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .add-event__theme-wrap:nth-child(27) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .add-event__theme-wrap:nth-child(5) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .add-event__theme-wrap:nth-child(28) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .add-event__theme-wrap:nth-child(6) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .add-event__theme-wrap:nth-child(29) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .add-event__theme-wrap:nth-child(7) {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .add-event__theme-wrap:nth-child(30) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .add-event__theme-wrap:nth-child(8) {
    -webkit-box-ordinal-group: 16;
        -ms-flex-order: 15;
            order: 15;
  }
  .add-event__theme-wrap:nth-child(31) {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .add-event__theme-wrap:nth-child(9) {
    -webkit-box-ordinal-group: 18;
        -ms-flex-order: 17;
            order: 17;
  }
  .add-event__theme-wrap:nth-child(32) {
    -webkit-box-ordinal-group: 17;
        -ms-flex-order: 16;
            order: 16;
  }
  .add-event__theme-wrap:nth-child(10) {
    -webkit-box-ordinal-group: 20;
        -ms-flex-order: 19;
            order: 19;
  }
  .add-event__theme-wrap:nth-child(33) {
    -webkit-box-ordinal-group: 19;
        -ms-flex-order: 18;
            order: 18;
  }
  .add-event__theme-wrap:nth-child(11) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
  }
  .add-event__theme-wrap:nth-child(34) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .add-event__theme-wrap:nth-child(12) {
    -webkit-box-ordinal-group: 24;
        -ms-flex-order: 23;
            order: 23;
  }
  .add-event__theme-wrap:nth-child(35) {
    -webkit-box-ordinal-group: 23;
        -ms-flex-order: 22;
            order: 22;
  }
  .add-event__theme-wrap:nth-child(13) {
    -webkit-box-ordinal-group: 26;
        -ms-flex-order: 25;
            order: 25;
  }
  .add-event__theme-wrap:nth-child(36) {
    -webkit-box-ordinal-group: 25;
        -ms-flex-order: 24;
            order: 24;
  }
  .add-event__theme-wrap:nth-child(14) {
    -webkit-box-ordinal-group: 28;
        -ms-flex-order: 27;
            order: 27;
  }
  .add-event__theme-wrap:nth-child(37) {
    -webkit-box-ordinal-group: 27;
        -ms-flex-order: 26;
            order: 26;
  }
  .add-event__theme-wrap:nth-child(15) {
    -webkit-box-ordinal-group: 30;
        -ms-flex-order: 29;
            order: 29;
  }
  .add-event__theme-wrap:nth-child(38) {
    -webkit-box-ordinal-group: 29;
        -ms-flex-order: 28;
            order: 28;
  }
  .add-event__theme-wrap:nth-child(16) {
    -webkit-box-ordinal-group: 32;
        -ms-flex-order: 31;
            order: 31;
  }
  .add-event__theme-wrap:nth-child(39) {
    -webkit-box-ordinal-group: 31;
        -ms-flex-order: 30;
            order: 30;
  }
  .add-event__theme-wrap:nth-child(17) {
    -webkit-box-ordinal-group: 34;
        -ms-flex-order: 33;
            order: 33;
  }
  .add-event__theme-wrap:nth-child(40) {
    -webkit-box-ordinal-group: 33;
        -ms-flex-order: 32;
            order: 32;
  }
  .add-event__theme-wrap:nth-child(18) {
    -webkit-box-ordinal-group: 36;
        -ms-flex-order: 35;
            order: 35;
  }
  .add-event__theme-wrap:nth-child(41) {
    -webkit-box-ordinal-group: 35;
        -ms-flex-order: 34;
            order: 34;
  }
  .add-event__theme-wrap:nth-child(19) {
    -webkit-box-ordinal-group: 38;
        -ms-flex-order: 37;
            order: 37;
  }
  .add-event__theme-wrap:nth-child(42) {
    -webkit-box-ordinal-group: 37;
        -ms-flex-order: 36;
            order: 36;
  }
  .add-event__theme-wrap:nth-child(20) {
    -webkit-box-ordinal-group: 40;
        -ms-flex-order: 39;
            order: 39;
  }
  .add-event__theme-wrap:nth-child(43) {
    -webkit-box-ordinal-group: 39;
        -ms-flex-order: 38;
            order: 38;
  }
  .add-event__theme-wrap:nth-child(21) {
    -webkit-box-ordinal-group: 42;
        -ms-flex-order: 41;
            order: 41;
  }
  .add-event__theme-wrap:nth-child(44) {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .add-event__theme-wrap:nth-child(22) {
    -webkit-box-ordinal-group: 44;
        -ms-flex-order: 43;
            order: 43;
  }
  .add-event__theme-wrap:nth-child(45) {
    -webkit-box-ordinal-group: 43;
        -ms-flex-order: 42;
            order: 42;
  }
  .add-event__theme-wrap:nth-child(23) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .add-event__theme-wrap:nth-child(46) {
    -webkit-box-ordinal-group: 45;
        -ms-flex-order: 44;
            order: 44;
  }
  .add-event__theme-wrap:nth-child(24) {
    -webkit-box-ordinal-group: 48;
        -ms-flex-order: 47;
            order: 47;
  }
  .add-event__theme-wrap:nth-child(47) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .add-event__theme-descr {
    font-size: 14px;
  }
  .add-event__submit {
    margin: 50px 0 80px;
  }
  .add-event__submit-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .add-event__submit-btn_submit,
  .add-event__submit-btn_save {
    margin: 0;
    max-width: 280px;
  }
  .add-event__submit-btn_save {
    margin: 15px 0 0;
  }
}

@media (max-width: 425px) {
  .head-add__wrap,
  .add-event__format,
  .add-event__about,
  .add-event__price,
  .add-event__detail,
  .add-event__connect,
  .add-event__theme,
  .add-event__submit {
    max-width: calc(100% - 40px);
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll {
    padding: 0 20px;
  }
  .add-event__content-nav-wrap .add-event__content-nav-scrll .add-event__content-nav {
    padding: 0 20px 0 0;
    width: 642px;
  }
  .add-event__content-nav-wrap:before {
    width: 20px;
  }
  .add-event__connect-messng-item:nth-child(2) {
    margin-right: 0;
  }
}
