.modal {
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__window {
  width: 1088px;
  min-height: 100px;
  padding: 40px 35px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.modal__window-title {
  font: 42px/46px 'Leksa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 0 0 25px;
}

.modal__window-date {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  opacity: .8;
  margin: 0 0 40px;
}

.modal__window-subtitle {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  opacity: .8;
  margin: 0 0 5px;
}

.modal__window-text {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 0 0 30px;
}

.modal__window-success {
  width: 160px;
  height: 50px;
  background: #0070c9;
  font: 500 16px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  letter-spacing: .5px;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.modal__window-success:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.modal__window-cls {
  position: absolute;
  right: -60px;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: url("../img/cls_white.svg") 49% no-repeat;
  background-size: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.modal__window-cls:hover {
  border-color: #fff;
}

.modal__wrap {
  margin: 0 0 30px;
}

.modal__wrap:last-child {
  margin: 0 0 20px;
}

.modal__wrap-area {
  width: 100%;
  height: 82px;
  border: 1px solid #979797;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
}

.modal__wrap-area_title {
  font: 500 20px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.modal__wrap-area_text {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  color: rgba(0, 0, 0, 0.8);
}

.modal__wrap-input_file {
  display: none;
}

.modal__wrap-file {
  width: 166px;
  height: 40px;
  border: 1px solid #0070c9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal__wrap-file span {
  position: relative;
  padding: 0 0 0 33px;
  font: 500 16px/20px "Museo Sans Cyrl";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #0070c9;
}

.modal__wrap-file span:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 25px;
  height: 20px;
  background: url("../img/camera.svg") no-repeat;
  background-size: 100%;
}

.modal__wrap-calendar {
  width: 165px;
  height: 46px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.modal__wrap-add-flat {
  width: 245px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #0070c9;
  background: #fff;
  font: 500 16px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #0070c9;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: .5px;
}

.modal__wrap-add-flat span {
  position: relative;
  padding: 0 0 0 25px;
}

.modal__wrap-add-flat span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../img/add-ic.svg") no-repeat;
  background-size: 100%;
}

.modal__term {
  margin: 0 0 35px;
}

.modal__term-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.modal__term-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 10px;
}

.modal__term-check input {
  display: none;
}

.modal__term-check input:checked + .modal__term-checkbox {
  background: #0070c9;
}

.modal__term-check input:checked + .modal__term-checkbox:before {
  background: #fff;
  left: calc(100% - 17px);
}

.modal__term-check input:checked + .modal__term-checkbox + .modal__window-text {
  color: #999a9b;
}

.modal__term-check-text {
  margin: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.modal__term-checkbox {
  width: 32px;
  height: 18px;
  background: #efefef;
  border-radius: 9px;
  margin: 0 10px 0 0;
  position: relative;
}

.modal__term-checkbox:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #0070c9;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.modal__term-calendar {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 290px;
  height: 314px;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 1;
  overflow: hidden;
}

.modal__term-calendar .calendar__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.modal__term-calendar .calendar__month-btn {
  width: 12px;
  height: 15px;
  padding: 0;
  background: url("../img/btn_next_grey.svg") center no-repeat;
}

.modal__term-calendar .calendar__month-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__term-calendar .calendar__month-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.modal__term-calendar .calendar__month-text {
  width: 100%;
  min-width: 100%;
  text-align: center;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.modal__term-calendar .calendar__month-text span {
  color: #999a9b;
}

.modal__term-calendar .calendar__day {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15px;
}

.modal__term-calendar .calendar__day-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__term-calendar .calendar__day-week-item {
  width: 28px;
  font: bold 14px/28px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  text-transform: uppercase;
  text-align: center;
}

.modal__term-calendar .calendar__day-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal__term-calendar .calendar__day-text {
  width: 28px;
  font: 16px/28px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.modal__term-calendar .calendar__day-text:not(:nth-child(7n)) {
  margin-right: 10.5px;
}

.modal__term-calendar .calendar__day-text:hover {
  background-color: rgba(255, 136, 97, 0.2);
}

.modal__term-calendar .calendar__day-text_active {
  background-color: #0070c9;
  color: #fff;
}

.modal__term-calendar .calendar__day-text_today {
  background-color: #ff8961;
}

.modal__term-calendar .calendar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eee;
}

.modal__term-calendar .calendar__btn-cnsl, .modal__term-calendar .calendar__btn-submit {
  width: 50%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 500 16px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: .5px;
  color: #000105;
  text-transform: uppercase;
}

.modal__term-calendar .calendar__btn-cnsl {
  border-right: 1px solid #eee;
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__check input {
  display: none;
}

.modal__check input:checked + .modal__check-checkbox {
  background: url("../img/check.svg") center no-repeat #e7490f;
  border-color: #e7490f;
}

.modal__flat {
  width: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999a9b;
  padding: 20px;
  margin: 10px 0 0;
}

.modal__flat-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__flat-choice, .modal__flat-del {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__flat-choice-corp, .modal__flat-choice-sect, .modal__flat-choice-flat, .modal__flat-del-corp, .modal__flat-del-sect, .modal__flat-del-flat {
  width: 230px;
  height: 46px;
  position: relative;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #999a9b;
  cursor: pointer;
}

.modal__flat-choice-corp:before, .modal__flat-choice-sect:before, .modal__flat-choice-flat:before, .modal__flat-del-corp:before, .modal__flat-del-sect:before, .modal__flat-del-flat:before {
  content: '';
  position: absolute;
  right: 20px;
  top: auto;
  width: 8px;
  height: 12px;
  background: url("../img/btn_next_grey.svg") no-repeat;
  background-size: 8px 12px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modal__flat-choice {
  margin: 0 0 20px;
}

.modal__flat-type {
  width: 166px;
  height: 41px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px;
}

.modal__flat-type-wrap {
  width: 50%;
}

.modal__flat-type-wrap input {
  display: none;
}

.modal__flat-type-wrap input:checked + label {
  background: #0070c9;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.modal__flat-type-percent, .modal__flat-type-sum {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 500 14px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #0070c9;
}

.modal__flat-del {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal__flat-del input {
  width: 230px;
  height: 46px;
  border: 1px solid #979797;
}

.modal__flat-del button {
  width: 107px;
  height: 40px;
  border: 1px solid #0070c9;
  font: 500 16px/20px "Museo Sans Cyrl";
  background: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  color: #0070c9;
}
