@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .head__wrap,
  .main__content-nav-wrap,
  .main__format,
  .main__about,
  .main__price,
  .main__detail,
  .main__connect,
  .main__theme,
  .main__submit {
    max-width: 970px;
  }
  .main__content-nav {
    right: 0;
  }
  .main__format-name,
  .main__about-wrap,
  .main__price-wrap,
  .main__price-size,
  .main__detail-wrap,
  .main__detail-place,
  .main__connect-phone,
  .main__connect-email {
    max-width: 723px;
  }
  .main__detail-long {
    margin: 0;
  }
  .main__detail .main__detail-date,
  .main__detail .main__detail-time,
  .main__detail .main__detail-long {
    width: 33%;
    max-width: none;
  }
  .main__detail .main__detail-date .detail-date__input,
  .main__detail .main__detail-time .detail-date__input,
  .main__detail .main__detail-long .detail-date__input {
    width: 100%;
    max-width: none;
  }
  .main__detail .main__detail-date .detail-date__input {
    width: calc(100% - 20px);
  }
}

@media (max-width: 1069px) {
  .head__wrap,
  .main__content-nav-wrap,
  .main__format,
  .main__about,
  .main__price,
  .main__detail,
  .main__connect,
  .main__theme,
  .main__submit {
    max-width: 640px;
  }
  .head {
    border-bottom: 1px solid #d8d8d8;
  }
  .main__content-nav-wrap {
    margin: 10px 0 0;
  }
  .main__content-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__content-nav-item {
    margin: 0 10px 0 0;
  }
  .main__content-nav-item:last-child {
    margin: 0;
  }
  .main__content-nav-item_active:before {
    height: 2px;
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
  }
  .main__format-title {
    margin-top: 48px;
  }
}

@media (max-width: 729px) {
  .head__wrap,
  .main__format,
  .main__about,
  .main__price,
  .main__detail,
  .main__connect,
  .main__theme,
  .main__submit {
    max-width: calc(100% - 92px);
  }
  .main__connect-messng-item .telegramm,
  .main__connect-messng-item .whatsapp,
  .main__connect-messng-item .skype,
  .main__connect-messng-item .viber {
    font-size: 14px;
    line-height: 22px;
  }
  .main__format-event-name,
  .price-size__entr {
    padding: 0 15px;
  }
  .head__logo {
    padding: 30px 0 55px;
    position: unset;
  }
  .head__logo-title {
    font-size: 26px;
    line-height: 32px;
  }
  .head__logo-cls-btn {
    top: 10px;
    right: 10px;
  }
  .main__content-nav-wrap {
    width: 100vw;
    height: 22px;
    max-width: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    height: 50px;
    padding: 0 45px;
    overflow-x: scroll;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    width: 617px;
    white-space: nowrap;
    padding: 0 45px 0 0;
  }
  .main__content-nav-wrap:after, .main__content-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .main__content-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__format-title {
    margin-bottom: 20px;
  }
  .main__format-subtitle {
    margin: 0 0 20px;
  }
  .main__about {
    margin-top: 40px;
  }
  .main__about-title {
    margin-bottom: 20px;
  }
  .main__about-btn {
    top: -7px;
  }
  .main__about-entr {
    font-size: 14px;
    line-height: 22px;
    padding: 14px 15px;
  }
  .main__about-wrap:not(.main__about-wrap_last),
  .main__price-wrap:not(.main__price-wrap_last),
  .main__detail-wrap {
    margin-bottom: 25px;
  }
  .main__price-title,
  .main__detail-title,
  .main__connect-title {
    margin: 40px 0 20px;
  }
  .main__price-size {
    margin: 20px 0 25px;
  }
  .main__price-size .price-size__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__price-size .price-size__btn-add {
    max-width: 171px;
    margin: 20px 0 0;
  }
  .main__price-size .price-size__entr-wrap,
  .main__price-size .price-size__sale-wrap,
  .main__price-size .price-size__date-wrap {
    max-width: none;
  }
  .main__price-size .price-size__entr,
  .main__price-size .price-size__sale,
  .main__price-size .price-size__date {
    padding: 0 15px;
  }
  .main__price-size .price-size__sale,
  .main__price-size .price-size__date {
    margin: 20px 0 0;
  }
  .main__price-entr {
    font-size: 14px;
    line-height: 22px;
    padding: 14px 15px;
  }
  .main__price-btn {
    top: -7px;
  }
  .main__detail-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__detail-wrap .main__detail-date,
  .main__detail-wrap .main__detail-time,
  .main__detail-wrap .main__detail-long {
    width: 100%;
  }
  .main__detail-wrap .main__detail-time,
  .main__detail-wrap .main__detail-long {
    margin: 18px 0 0;
  }
  .main__detail-btn {
    top: -7px;
  }
  .main__detail-entr {
    font-size: 14px;
    line-height: 22px;
  }
  .main__detail-date .detail-date__input-wrap .detail-date__input {
    padding: 0 15px;
  }
  .main__detail-entr {
    padding: 14px 15px;
  }
  .main__connect-phone {
    margin-bottom: 15px;
  }
  .main__connect-phone .connect-phone__input {
    padding: 0 15px;
  }
  .main__connect-email {
    margin-bottom: 20px;
  }
  .main__connect-email .connect-email__input {
    padding: 0 15px;
  }
  .main__connect-info {
    font-size: 14px;
    line-height: 22px;
  }
  .main__connect-messng {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main__connect-messng-item:nth-child(1), .main__connect-messng-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .main__connect-messng-item .telegramm {
    padding-left: 40px;
  }
  .main__connect-messng-item .skype,
  .main__connect-messng-item .whatsapp,
  .main__connect-messng-item .viber {
    padding-left: 35px;
  }
  .main__connect-messng-item .telegramm:before {
    width: 28px;
    height: 24px;
  }
  .main__connect-messng-item .skype:before,
  .main__connect-messng-item .whatsapp:before,
  .main__connect-messng-item .viber:before {
    width: 24px;
    height: 24px;
  }
  .main__theme-title {
    margin: 30px 0 20px;
  }
  .main__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .main__theme-wrap {
    width: 50%;
  }
  .main__theme-descr {
    font-size: 14px;
  }
  .main__submit {
    margin: 67px 0 80px;
  }
  .main__submit-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__submit-btn_submit,
  .main__submit-btn_save {
    margin: 0;
    max-width: 280px;
  }
  .main__submit-btn_save {
    margin: 15px 0 0;
  }
}

@media (max-width: 425px) {
  .head__wrap,
  .main__format,
  .main__about,
  .main__price,
  .main__detail,
  .main__connect,
  .main__theme,
  .main__submit {
    max-width: calc(100% - 40px);
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    padding: 0 20px;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    padding: 0 20px 0 0;
    width: 617px;
  }
  .main__content-nav-wrap:before {
    width: 20px;
  }
  .main__connect-messng-item:nth-child(2) {
    margin-right: 0;
  }
}
