@import url(//hello.myfonts.net/count/394097);.head {
  width: 100%;
  margin: 0 0 60px;
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__wrap {
  width: 100%;
  max-width: 1300px;
}

.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

.head__logo-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 0 0;
}

.head__logo-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__logo-insta {
  width: calc(100% - 110px);
  font: 500 18px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.head__logo-cls-btn {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 30px;
  background: url("../img/cls-btn.svg") no-repeat;
  background-size: 100%;
}

.head__descr {
  margin: 25px 0 0;
  font: 16px/1.38 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  max-width: 520px;
}

.main {
  width: 100%;
}

.main__content-nav {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  font: 14px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.6);
}

.main__content-nav-item {
  margin: 0 0 7px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.main__content-nav-item:hover:not(.main__content-nav-item_active) {
  color: black;
}

@media (max-width: 729px) {
  .main__content-nav-item:hover:not(.main__content-nav-item_active) {
    color: rgba(0, 0, 0, 0.6);
  }
}

.main__content-nav-item_active {
  color: #333;
  opacity: 1;
  position: relative;
}

.main__content-nav-item_active:before {
  content: '';
  width: 3px;
  height: 20px;
  background-color: #ff954b;
  position: absolute;
  left: -13px;
  top: 0;
}

.main .main__content-nav_fixed {
  top: 0;
  left: 0;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100vw;
  max-width: none;
  background: #fff;
  padding: 15px 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  margin: 0;
}

.main .main__content-nav_fixed:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
}

.main .main__content-nav_fixed .main__content-nav-wrap {
  width: 100%;
  max-width: 640px;
  margin: 0;
}

.main .main__content-nav_fixed .main__content-nav-scrll {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .main__content-nav_fixed .main__content-nav-scrll .main__content-nav {
  margin: 0;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__common {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.main__common-title {
  margin: 0;
  font: 500 20px/1.4 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 34px;
}

.main__common-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 0 25px;
}

.main__common-item .g-textarea_small {
  margin: 6px 0 0;
}

.main__common-text {
  display: block;
  font: 500 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  max-width: 210px;
  white-space: nowrap;
}

.main__common-text span {
  color: #d6712b;
}

.main__common-text[for="spec"] {
  max-width: 142px;
}

.main__common-text_sex {
  margin: 0 0 19px;
}

.main__common-name, .main__common-spec {
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 6px 0 0;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.main__common-name:hover, .main__common-spec:hover, .main__common-name:focus, .main__common-spec:focus {
  border-color: #7f7f7f;
}

.main__common-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__common-radio:last-child {
  margin: 0 0 0 20px;
}

.main__common-radio .radio {
  margin: 0 10px 0 0;
}

.main__common-radio .main__common-radio-male,
.main__common-radio .main__common-radio-female {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  padding: 4px 0 0;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__common-radio .main__common-radio-male:hover,
.main__common-radio .main__common-radio-female:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__common-radio .main__common-radio-male:hover,
  .main__common-radio .main__common-radio-female:hover {
    opacity: 1;
  }
}

.main__common-radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__common-sex {
  display: none;
}

.main__common-sex:checked + .radio {
  background-color: #ff954b;
  border-color: #ff954b;
}

.main__common-sex:checked + .radio:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
}

.main__common-sex:checked ~ .main__common-radio-male {
  color: #000;
}

.main__common-sex:checked ~ .main__common-radio-female {
  color: #000;
}

.main__common-spec {
  resize: none;
  padding: 17px 20px;
  overflow: hidden;
  min-height: 60px;
}

.main__project {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 56px;
}

.main__project-title {
  margin: 0;
  font: 500 20px/1.4 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 33px 0 34px;
}

.main__project-info {
  font: 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  max-width: 350px;
  margin: 0 0 15px;
}

.main__project-del-btn {
  display: none;
}

.main__project-item {
  width: 100%;
  max-width: 748px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d8d8d8;
  background: #f7f7f7;
  padding: 0 25px;
  border-radius: 2px;
  position: relative;
}

.main__project-item:not(:nth-of-type(1)) {
  margin: 15px 0 0;
}

.main__project-item:not(:nth-of-type(1)) .main__project-del-btn {
  display: block;
  width: 21px;
  height: 21px;
  background: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  background: url("../img/cls-btn.svg") center no-repeat #fff;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

.main__project-item .project-item__wrap:not(:last-child) {
  margin: 20px 0 13px;
}

.main__project-item .project-item__wrap label {
  display: block;
  font: 500 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  margin: 0 0 7px;
}

.main__project-item .project-item__wrap input {
  padding: 0 0 0 20px;
}

.main__project-item .project-item__wrap:last-child {
  margin: 0 0 42px;
}

.main__project-add-btn {
  border: none;
  background: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d6712b;
  position: relative;
  padding: 0 0 0 31px;
  margin: 23px 0 0;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  cursor: pointer;
}

.main__project-add-btn:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 21px;
  height: 21px;
  border: 1px solid #d6712b;
  border-radius: 50%;
  background: url("../img/add-btn.svg") center no-repeat;
}

.main__project-add-btn:hover {
  color: rgba(214, 113, 43, 0.7);
}

@media (max-width: 729px) {
  .main__project-add-btn:hover {
    color: #d6712b;
  }
}

.main__theme {
  width: 100%;
  max-width: 1300px;
  padding: 0 0 59px;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 0 35px;
}

.main__theme-title {
  margin: 0;
  font: 500 20px/1.4 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 34px;
}

.main__theme-info {
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  margin: 0 0 28px;
}

.main__theme-info span {
  color: #d6712b;
}

.main__theme-item {
  width: 100%;
  max-width: 750px;
  height: 577px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main__theme-wrap {
  max-width: 225px;
  min-width: 209px;
  margin: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__theme-wrap:nth-child(16), .main__theme-wrap:last-child {
  margin: 0;
}

.main__theme-checkbox {
  display: none;
}

.main__theme-checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.main__theme .checkbox {
  margin: 0 10px 3px 0;
}

.main__theme-descr {
  width: calc(100% - 27px);
  font: 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.main__theme-descr:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__theme-descr:hover {
    opacity: 1;
  }
}

.main__theme-descr_bold {
  font-weight: 500;
}

.footer {
  width: 100%;
  margin: 0 0 150px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__about {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 60px;
}

.footer__about-info {
  max-width: 400px;
  font: 500 16px/1.38 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  margin: 0;
  padding: 0 0 10px;
}

.footer__about-info span {
  color: #d6712b;
}

.footer__about-info-wrap {
  max-width: 750px;
  position: relative;
}

.footer__about-btn {
  width: 34px;
  height: 30px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}

.footer__about-btn_link {
  right: 0;
  background: url("../img/btn-link.svg") center no-repeat #f7f7f7;
}

.footer__about-btn_pref {
  right: 39px;
  background: url("../img/btn-pref.svg") center no-repeat #f7f7f7;
}

.footer__about-messg {
  width: 100%;
  max-width: 750px;
  min-height: 120px;
  overflow: hidden;
  resize: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer__about-messg:hover, .footer__about-messg:focus {
  border-color: #7f7f7f;
}

.footer__submit {
  width: 100%;
  max-width: 1300px;
}

.footer__submit-checkbox {
  max-width: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
}

.footer__submit-checkbox .checkbox {
  margin: 0 10px 0 0;
}

.footer__submit-descr {
  width: calc(100% - 27px);
  padding: 2px 0 0;
  font: 14px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.footer__submit-descr:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .footer__submit-descr:hover {
    opacity: 1;
  }
}

.footer__submit-descr a {
  border-bottom: 1px solid #d8d8d8;
}

.footer__submit-item {
  display: none;
}

.footer__submit-item:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.footer__submit .checkbox {
  margin: 3px 10px 0 0;
}

.footer__submit-btn {
  width: 232px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background: #ff954b;
  font: 500 20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  color: #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.footer__submit-btn:hover {
  background: #d6712b;
}

@media (max-width: 729px) {
  .footer__submit-btn:hover {
    background: #ff954b;
  }
}
