@import url(//hello.myfonts.net/count/394097);body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  border-radius: 2px;
  opacity: .7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}

@media (max-width: 1399px) {
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: 970px;
  }
  .main__project-item {
    max-width: 750px;
  }
}

@media (max-width: 1069px) {
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: 640px;
  }
  .head__logo {
    border-bottom: none;
  }
  .main {
    border-top: 1px solid #d8d8d8;
  }
  .main__content-nav {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    margin: 10px 0 55px;
    position: relative;
  }
  .main__content-nav:after {
    content: '';
    width: 50px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -20px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-item {
    margin: 0 15px 0 0;
  }
  .main__content-nav-item_active:before {
    width: 100%;
    height: 3px;
    left: 0;
    top: auto;
    bottom: -5px;
  }
}

@media (max-width: 729px) {
  .head {
    margin-bottom: 50px;
  }
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: calc(100% - 92px);
  }
  .main__container:first-child {
    overflow: hidden;
  }
  .head__logo {
    position: initial;
    padding-top: 20px;
  }
  .head__descr {
    margin: 0;
  }
  .head__logo-cls-btn {
    top: 10px;
    right: 10px;
  }
  .head__logo-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .main__common-title,
  .main__project-title,
  .main__theme-title,
  .main__common-item_sex {
    margin-bottom: 20px;
  }
  .main__common-text_sex {
    margin-bottom: 16px;
  }
  .main__project-title {
    margin-top: 20px;
  }
  .head__descr,
  .main__common-text,
  .main__common-name,
  .main__project-info,
  .input,
  .main__theme-info,
  .main__theme-descr,
  .footer__about-info,
  .footer__about-messg {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__project {
    margin-bottom: 45px;
  }
  .main__project-item {
    padding: 0 15px;
  }
  .main__project-item .project-item__wrap:not(:last-child) {
    margin: 10px 0 10px;
  }
  .main__project-item .project-item__wrap:last-child {
    margin-bottom: 20px;
  }
  .main__theme {
    padding-bottom: 42px;
  }
  .main__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
  }
  .main__theme-wrap {
    max-width: none;
    width: 50%;
  }
  .main__theme-descr {
    padding: 0;
  }
  .footer {
    margin-bottom: 80px;
  }
  .footer__about-info {
    width: calc(100% - 100px);
    min-width: 180px;
  }
  .footer__submit-btn {
    width: 280px;
  }
}

@media (max-width: 729px) {
  .head {
    margin-bottom: 50px;
  }
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: calc(100% - 40px);
  }
  .head__logo {
    padding-bottom: 25px;
  }
  .main__theme-info {
    margin-bottom: 20px;
  }
  .footer__about {
    margin-bottom: 39px;
  }
}
