@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: 970px;
  }
  .main__common-name,
  .main__common-spec {
    max-width: 723px;
  }
  .main__project-item {
    max-width: 750px;
  }
}

@media (max-width: 1069px) {
  .head {
    margin-bottom: 50px;
  }
  .head__descr {
    margin: 0;
  }
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: 640px;
  }
  .head__logo {
    border-bottom: none;
  }
  .main {
    border-top: 1px solid #d8d8d8;
  }
  .main__content-nav_gradient {
    margin: 10px 0 55px;
  }
  .main__content-nav-scrll {
    -webkit-overflow-scrolling: touch;
  }
  .main__content-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
  }
  .main__content-nav-item {
    margin: 0 15px 0 0;
  }
  .main__content-nav-item:last-child {
    margin: 0;
  }
  .main__content-nav-item_active:before {
    width: 100%;
    height: 2px;
    left: 0;
    top: auto;
    bottom: -3px;
  }
  .main__content-nav-wrap:after,
  .main__content-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .main__content-nav-wrap:before {
    display: none;
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
}

@media (max-width: 729px) {
  .head {
    margin-bottom: 50px;
  }
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: calc(100% - 92px);
  }
  .main__container:first-child {
    overflow: hidden;
  }
  .main__common-name,
  .main__common-spec {
    font-size: 14px;
    line-height: 24px;
    padding: 0 15px;
  }
  .main__common-spec {
    padding: 17px 15px;
  }
  .main__content-nav-wrap:before {
    display: block;
    left: 0;
  }
  .main__content-nav-wrap:after {
    right: 0;
  }
  .main__content-nav_gradient {
    width: 100vw;
    position: relative;
    left: -45px;
    height: 26px;
    margin-bottom: 45px;
  }
  .main__content-nav_gradient .main__content-nav-wrap {
    width: 100%;
    overflow: hidden;
    height: 30px;
  }
  .main__content-nav_gradient .main__content-nav-scrll {
    overflow-x: scroll;
    position: relative;
    padding: 0 45px;
    max-width: none;
    height: 50px;
  }
  .main .main__content-nav_fixed .main__content-nav-wrap {
    position: relative;
    max-width: none;
    width: 100%;
    overflow: hidden;
    height: 30px;
    z-index: 1;
  }
  .main__content-nav_fixed .main__content-nav-scrll {
    overflow-x: scroll;
    position: relative;
    padding: 0 46px;
    max-width: none;
    height: 50px;
    -webkit-overflow-scrolling: touch;
  }
  .main__content-nav {
    min-width: 433px;
    padding: 0 45px 0 0;
  }
  .head__logo {
    position: initial;
    padding-top: 20px;
  }
  .head__descr {
    margin: 0;
  }
  .head__logo-cls-btn {
    top: 10px;
    right: 10px;
  }
  .head__logo-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .main__common-title,
  .main__project-title,
  .main__theme-title,
  .main__common-item_sex {
    margin-bottom: 20px;
  }
  .main__common-text_sex {
    margin-bottom: 16px;
  }
  .main__project-title {
    margin-top: 20px;
  }
  .head__descr,
  .main__common-text,
  .main__common-name,
  .main__project-info,
  .input,
  .main__theme-info,
  .main__theme-descr,
  .footer__about-info,
  .footer__about-messg,
  .main__project-item .project-item__wrap label {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__theme-info {
    margin-bottom: 15px;
  }
  .main__project {
    margin-bottom: 49px;
  }
  .footer__about {
    margin-bottom: 45px;
  }
  .main__project-item,
  .main__project-item .project-item__wrap input {
    padding: 0 15px;
  }
  .main__project-item .project-item__wrap:not(:last-child) {
    margin: 10px 0 10px;
  }
  .main__project-item .project-item__wrap:last-child {
    margin-bottom: 20px;
  }
  .main__theme {
    padding-bottom: 42px;
  }
  .main__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
  }
  .main__theme-wrap {
    max-width: none;
    min-width: auto;
    width: 50%;
  }
  .main__theme-wrap:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__theme-wrap:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main__theme-wrap:nth-child(25) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__theme-wrap:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main__theme-wrap:nth-child(26) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main__theme-wrap:nth-child(4) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .main__theme-wrap:nth-child(27) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .main__theme-wrap:nth-child(5) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .main__theme-wrap:nth-child(28) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .main__theme-wrap:nth-child(6) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .main__theme-wrap:nth-child(29) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .main__theme-wrap:nth-child(7) {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .main__theme-wrap:nth-child(30) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .main__theme-wrap:nth-child(8) {
    -webkit-box-ordinal-group: 16;
        -ms-flex-order: 15;
            order: 15;
  }
  .main__theme-wrap:nth-child(31) {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .main__theme-wrap:nth-child(9) {
    -webkit-box-ordinal-group: 18;
        -ms-flex-order: 17;
            order: 17;
  }
  .main__theme-wrap:nth-child(32) {
    -webkit-box-ordinal-group: 17;
        -ms-flex-order: 16;
            order: 16;
  }
  .main__theme-wrap:nth-child(10) {
    -webkit-box-ordinal-group: 20;
        -ms-flex-order: 19;
            order: 19;
  }
  .main__theme-wrap:nth-child(33) {
    -webkit-box-ordinal-group: 19;
        -ms-flex-order: 18;
            order: 18;
  }
  .main__theme-wrap:nth-child(11) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
  }
  .main__theme-wrap:nth-child(34) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .main__theme-wrap:nth-child(12) {
    -webkit-box-ordinal-group: 24;
        -ms-flex-order: 23;
            order: 23;
  }
  .main__theme-wrap:nth-child(35) {
    -webkit-box-ordinal-group: 23;
        -ms-flex-order: 22;
            order: 22;
  }
  .main__theme-wrap:nth-child(13) {
    -webkit-box-ordinal-group: 26;
        -ms-flex-order: 25;
            order: 25;
  }
  .main__theme-wrap:nth-child(36) {
    -webkit-box-ordinal-group: 25;
        -ms-flex-order: 24;
            order: 24;
  }
  .main__theme-wrap:nth-child(14) {
    -webkit-box-ordinal-group: 28;
        -ms-flex-order: 27;
            order: 27;
  }
  .main__theme-wrap:nth-child(37) {
    -webkit-box-ordinal-group: 27;
        -ms-flex-order: 26;
            order: 26;
  }
  .main__theme-wrap:nth-child(15) {
    -webkit-box-ordinal-group: 30;
        -ms-flex-order: 29;
            order: 29;
  }
  .main__theme-wrap:nth-child(38) {
    -webkit-box-ordinal-group: 29;
        -ms-flex-order: 28;
            order: 28;
  }
  .main__theme-wrap:nth-child(16) {
    -webkit-box-ordinal-group: 32;
        -ms-flex-order: 31;
            order: 31;
  }
  .main__theme-wrap:nth-child(39) {
    -webkit-box-ordinal-group: 31;
        -ms-flex-order: 30;
            order: 30;
  }
  .main__theme-wrap:nth-child(17) {
    -webkit-box-ordinal-group: 34;
        -ms-flex-order: 33;
            order: 33;
  }
  .main__theme-wrap:nth-child(40) {
    -webkit-box-ordinal-group: 33;
        -ms-flex-order: 32;
            order: 32;
  }
  .main__theme-wrap:nth-child(18) {
    -webkit-box-ordinal-group: 36;
        -ms-flex-order: 35;
            order: 35;
  }
  .main__theme-wrap:nth-child(41) {
    -webkit-box-ordinal-group: 35;
        -ms-flex-order: 34;
            order: 34;
  }
  .main__theme-wrap:nth-child(19) {
    -webkit-box-ordinal-group: 38;
        -ms-flex-order: 37;
            order: 37;
  }
  .main__theme-wrap:nth-child(42) {
    -webkit-box-ordinal-group: 37;
        -ms-flex-order: 36;
            order: 36;
  }
  .main__theme-wrap:nth-child(20) {
    -webkit-box-ordinal-group: 40;
        -ms-flex-order: 39;
            order: 39;
  }
  .main__theme-wrap:nth-child(43) {
    -webkit-box-ordinal-group: 39;
        -ms-flex-order: 38;
            order: 38;
  }
  .main__theme-wrap:nth-child(21) {
    -webkit-box-ordinal-group: 42;
        -ms-flex-order: 41;
            order: 41;
  }
  .main__theme-wrap:nth-child(44) {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .main__theme-wrap:nth-child(22) {
    -webkit-box-ordinal-group: 44;
        -ms-flex-order: 43;
            order: 43;
  }
  .main__theme-wrap:nth-child(45) {
    -webkit-box-ordinal-group: 43;
        -ms-flex-order: 42;
            order: 42;
  }
  .main__theme-wrap:nth-child(23) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .main__theme-wrap:nth-child(46) {
    -webkit-box-ordinal-group: 45;
        -ms-flex-order: 44;
            order: 44;
  }
  .main__theme-wrap:nth-child(24) {
    -webkit-box-ordinal-group: 48;
        -ms-flex-order: 47;
            order: 47;
  }
  .main__theme-wrap:nth-child(47) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .main__theme-descr {
    padding: 0;
  }
  .footer {
    margin-bottom: 80px;
  }
  .footer__about-info {
    width: calc(100% - 100px);
    min-width: 180px;
  }
  .footer__submit-btn {
    width: 280px;
  }
  .footer__about-messg {
    padding: 14px 15px;
  }
}

@media (max-width: 425px) {
  .head {
    margin-bottom: 50px;
  }
  .head__wrap,
  .main__common,
  .main__project,
  .main__theme,
  .footer__about,
  .footer__submit {
    max-width: calc(100% - 40px);
  }
  .main__content-nav:after {
    right: -20px;
  }
  .main__content-nav_gradient {
    left: -20px;
  }
  .main__content-nav_gradient .main__content-nav-scrll {
    padding: 0 20px;
  }
  .main__content-nav-scrll {
    padding: 0 20px;
  }
  .main__content-nav {
    padding: 0 20px 0 0;
  }
  .main__content-nav-wrap:after,
  .main__content-nav-wrap:before {
    width: 20px;
  }
  .main__content-nav-wrap:before {
    left: 0;
  }
  .main__content-nav-wrap:after {
    right: 0;
  }
  .head__logo {
    padding-bottom: 25px;
  }
  .main__theme-info,
  .main__common-name {
    margin-bottom: 20px;
  }
  .main__project {
    margin-bottom: 48px;
  }
  .footer__about {
    margin-bottom: 39px;
  }
}
