@import url(//hello.myfonts.net/count/394097);body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  border-radius: 2px;
  opacity: .7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__head {
  width: 100%;
  max-width: 1300px;
  margin: 45px 0 51px;
}

.main__head-edit {
  width: 173px;
  height: 50px;
  background: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  margin: 0 0 33px;
  display: none;
}

.main__head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 860px;
}

.main__head-wrap .main__head-photo {
  width: 146px;
  margin: 0 20px 0 0;
}

.main__head-wrap .main__head-photo img {
  width: 100%;
}

.main__head-wrap .main__head-descr {
  max-width: 475px;
}

.main__head-wrap .main__head-descr .head-descr__name {
  font: 40px/1.25 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 11px;
}

.main__head-wrap .main__head-descr .head-descr__insta {
  display: inline-block;
  font: 16px/16px 'Geometria';
  color: #666;
  margin: 0;
  position: relative;
  padding: 0 0 0 27px;
  margin: 0 0 31px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__head-wrap .main__head-descr .head-descr__insta:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  background: url("../img/insta.svg") no-repeat;
  background-size: 100%;
  width: 17px;
  height: 18px;
}

.main__head-wrap .main__head-descr .head-descr__insta:hover {
  opacity: .7;
}

.main__head-wrap .main__head-descr .head-descr__subscr {
  width: 254px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  background: #ff954b;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.main__head-wrap .main__head-descr .head-descr__subscr .line-button {
  width: 1px;
  height: inherit;
  background-color: #fff;
}

.main__head-wrap .main__head-descr .head-descr__subscr div:last-child {
  padding: 0 0 0 23px;
  position: relative;
}

.main__head-wrap .main__head-descr .head-descr__subscr div:last-child:before {
  content: '';
  width: 15px;
  height: 17px;
  position: absolute;
  left: 0;
  top: -1px;
  background: url("../img/follower.svg");
}

.main__head-wrap .main__head-descr .head-descr__subscr:hover {
  background-color: #d6712b;
}

.main__about-me {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 60px;
}

.main__about-me-wrap {
  max-width: 860px;
  max-height: 139px;
  overflow: hidden;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

.main__about-me-wrap .about-me__title {
  font: 500 20px/31px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 18px;
}

.main__about-me-wrap .about-me__info {
  font: 20px/31px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 30px;
}

.main__about-me-wrap .about-me__info:last-child {
  margin-bottom: 45px;
}

.main__about-me-wrap .about-me__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__about-me-wrap .about-me__tags-item {
  height: 28px;
  font: 13px/13px 'Geometria';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  background: #f7f7f7;
  border: 1px solid rgba(216, 216, 216, 0.9);
  border-radius: 14px;
  color: #7f7f7f;
  margin: 0 5px 0 0;
}

.main__about-me .about-me__show-more {
  font: 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  background: transparent;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 30px 0 0;
  padding: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__about-me .about-me__show-more:hover {
  opacity: .6;
}

.main__about-me .about-me__show-more *:first-child {
  display: inline-block;
  border-bottom: 1px dashed rgba(102, 102, 102, 0.7);
}

.main__soon {
  border-top: 1px solid rgba(127, 127, 127, 0.6);
  border-bottom: 1px solid rgba(127, 127, 127, 0.6);
  position: relative;
}

.main__soon-title {
  position: absolute;
  left: 50%;
  top: -6px;
  font: 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: 2px;
  color: #333;
  text-align: center;
  padding: 0 10px;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0;
}

.main__soon-slider {
  width: 100%;
  margin: 25px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__soon-slider-item {
  display: block;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin: 0 8px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__soon-slider-item:last-child {
  margin: 0;
}

.main__soon-slider-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
}

.main__soon-button {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__soon-button:hover {
  background-color: #333333;
}

.main__soon-button_back {
  left: -42px;
  display: none;
  background: url("../img/next_btn.svg") center no-repeat #000;
}

.main__soon-button_next {
  right: -42px;
  display: none;
  background: url("../img/next_btn.svg") center no-repeat #000;
}

.main__soon-wrap {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.main__snippet {
  width: 100%;
  max-width: 428px;
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 15px 10px 20px;
  background: url("../img/event-one.jpg") center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.main__snippet:before {
  content: "";
  width: 100%;
  height: 215px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(32%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.8));
}

.main__snippet-style {
  width: 100%;
  font: 500 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__snippet-style p {
  position: relative;
  margin: 0 0 0 21px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: bottom;
  letter-spacing: 2px;
}

.main__snippet-style p:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: calc(-11px - 10px);
  top: 0;
}

.main__snippet-style div {
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: right;
  font: 500 14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border-radius: 4px;
  padding: 11px 10px 11px 31px;
  color: #fff;
}

.main__snippet-style div:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  background-image: url("../img/follower.svg");
  background-size: 100%;
  width: 15px;
  height: 17px;
}

.main__snippet_2 {
  background: url("../img/event-3.jpg") no-repeat;
  background-size: 100%;
}

.main__snippet_3 {
  background: url("../img/event-2.jpg") no-repeat;
  background-size: 100%;
}

.main__snippet-title {
  position: relative;
  font: 22px/30px 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  font-stretch: condensed;
  letter-spacing: normal;
  margin: 10px 0 25px 0;
}

.main__snippet-tags {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 500 12px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  opacity: .7;
  overflow: hidden;
  white-space: nowrap;
}

.main__snippet-tags p {
  margin: 0 10px 0 0;
}

.main__snippet-tags p:last-child {
  margin: 0;
}

.main__project {
  width: 100%;
  max-width: 1300px;
}

.main__project-title {
  font: 30px/36px 'TTDrugsCondensed-Regular';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 59px 0 33px;
}

.main__project .project-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 860px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 15px 10px 15px 25px;
  margin: 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  position: relative;
}

.main__project .project-list__item .project-list__icon {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 32px;
  height: 32px;
  background: #ff954b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__project .project-list__item .project-list__icon svg g {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__project .project-list__item .project-list__descr {
  font: 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 0 52px;
}

.main__project .project-list__item:hover {
  background-color: #d6712b;
  border-color: #d6712b;
}

.main__project .project-list__item:hover .project-list__icon {
  background-color: #fff;
}

.main__project .project-list__item:hover .project-list__icon svg g {
  stroke: #d6712b;
}

.main__project .project-list__item:hover .project-list__descr {
  color: #fff;
}

.main__connect {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 110px;
}

.main__connect-title {
  font: 30px/36px 'TTDrugsCondensed-Regular';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 59px 0 30px;
}

.main__connect-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
}

.main__connect-item a {
  color: #d6712b;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__connect-item a:hover {
  opacity: .6;
}

.main__past {
  border-top: 1px solid rgba(127, 127, 127, 0.6);
  border-bottom: 1px solid rgba(127, 127, 127, 0.6);
  position: relative;
}

.main__past-title {
  position: absolute;
  left: 50%;
  top: -6px;
  font: 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: 2px;
  color: #333;
  text-align: center;
  padding: 0 10px;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0;
}

.main__past .button-up {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: url("../img/btn-up.svg") center no-repeat #e8e8e8;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 10;
}

.main__past .button-up:hover {
  background-color: #d8d8d8;
}

.main__past-slider {
  width: 100%;
  margin: 25px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__past-slider-item {
  display: block;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin: 0 8px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__past-slider-item:last-child {
  margin: 0;
}

.main__past-slider-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
}

.main__past-slider-item .main__past-slider-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: 3;
}

.main__past-button {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__past-button:hover {
  background-color: #333333;
}

.main__past-button_back {
  left: -42px;
  display: none;
  background: url("../img/next_btn.svg") center no-repeat #000;
}

.main__past-button_next {
  right: -42px;
  background: url("../img/next_btn.svg") center no-repeat #000;
}

.main__past-wrap {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.main__snippet {
  width: 100%;
  max-width: 428px;
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 15px 10px 20px;
  background-size: cover;
  cursor: pointer;
}

.main__snippet:before {
  content: "";
  width: 100%;
  height: 215px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(32%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.8));
}

.main__snippet-style {
  width: 100%;
  font: 500 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__snippet-style p {
  position: relative;
  margin: 0 0 0 21px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: bottom;
  letter-spacing: 2px;
}

.main__snippet-style p:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: calc(-11px - 10px);
  top: 0;
}

.main__snippet-style div {
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: right;
  font: 500 14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border-radius: 4px;
  padding: 11px 10px 11px 31px;
  color: #fff;
}

.main__snippet-style div:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  background-image: url("../img/follower.svg");
  background-size: 100%;
  width: 15px;
  height: 17px;
}

.main__snippet_2 {
  background: url("../img/event-3.jpg") no-repeat;
  background-size: cover;
}

.main__snippet_3 {
  background: url("../img/event-2.jpg") no-repeat;
  background-size: cover;
}

.main__snippet-title {
  position: relative;
  font: 22px/30px 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  font-stretch: condensed;
  letter-spacing: normal;
  margin: 10px 0 25px 0;
}

.main__snippet-tags {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 500 12px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  opacity: .7;
  overflow: hidden;
  white-space: nowrap;
}

.main__snippet-tags p {
  margin: 0 10px 0 0;
}

.main__snippet-tags p:last-child {
  margin: 0;
}

.main .main__snippet_filter.main__snippet_1:before {
  z-index: 1;
}

.main .main__snippet_filter.main__snippet_1:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  position: absolute;
  background: url(../img/event-one.jpg) center no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main .main__snippet_filter.main__snippet_1 .main__snippet-style, .main .main__snippet_filter.main__snippet_1 .main__snippet-descr {
  z-index: 2;
}

.main .main__snippet_filter.main__snippet_2:before {
  z-index: 1;
}

.main .main__snippet_filter.main__snippet_2:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  position: absolute;
  background: url(../img/event-3.jpg) center no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main .main__snippet_filter.main__snippet_2 .main__snippet-style, .main .main__snippet_filter.main__snippet_2 .main__snippet-descr {
  z-index: 2;
}

.main .main__snippet_filter.main__snippet_3:before {
  z-index: 1;
}

.main .main__snippet_filter.main__snippet_3:after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  position: absolute;
  background: url(../img/event-2.jpg) center no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main .main__snippet_filter.main__snippet_3 .main__snippet-style, .main .main__snippet_filter.main__snippet_3 .main__snippet-descr {
  z-index: 2;
}

.footer {
  margin: 80px 0 0;
}
