@import url(//hello.myfonts.net/count/394097);.head__point-user-item:last-child {
  opacity: .7;
}

.main {
  width: 100%;
}

.main__line {
  border: none;
  height: 1px;
  background-color: #d8d8d8;
  margin: 0;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__head {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main__head-title {
  font: 30px/30px 'Geometria';
  color: #7f7f7f;
  opacity: .7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 50px 0 20px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__head-title:first-child {
  margin-right: 30px;
}

.main__head-title:hover:not(.active) {
  opacity: .5;
}

@media (max-width: 729px) {
  .main__head-title:hover:not(.active) {
    opacity: 1;
  }
}

.main__head .active {
  color: #d6712b;
  opacity: 1;
  cursor: default;
  position: relative;
}

.main__head .active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 2px;
  background: #d6712b;
}

.main__acc {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 60px;
}

.main__acc-wrap {
  margin: 40px 0 35px;
}

.main__acc-title {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0;
}

.main__acc-btn {
  margin: 33px 0 0;
}

.main__acc-paragraf {
  font: 14px/1.29 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #7f7f7f;
  margin: 10px 0 0;
  max-width: 475px;
}

.main__acc-form .acc-form__title {
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
}

.main__acc-form .input {
  display: block;
  max-width: 640px;
  margin: 7px 0 25px;
  padding: 0 20px;
}

.main__acc-pass {
  height: 22px;
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  border: none;
  background: none;
  outline: none;
  margin: 5px 0 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__acc-pass:hover {
  opacity: .71;
}

@media (max-width: 729px) {
  .main__acc-pass:hover {
    opacity: 1;
  }
}

.main__notice {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 55px;
}

.main__notice-title {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 35px;
}

.main__notice-wrap {
  margin: 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__notice-wrap:last-child {
  margin: 0;
}

.main__notice-checkbox {
  display: none;
}

.main__notice-checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.main__notice .checkbox {
  margin: 2px 10px 3px 0;
}

.main__notice-text {
  display: inline-block;
  width: calc(100% - 25px);
  max-width: 624px;
  font: 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.main__notice-text:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__notice-text:hover {
    opacity: 1;
  }
}

.main__mytape {
  width: 100%;
  max-width: 1300px;
  margin: 0 0 90px;
}

.main__mytape-title {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 30px;
}

.main__mytape-text {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 0 0 35px;
}

.main__mytape-theme {
  width: 100%;
  max-width: 860px;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main__mytape-wrap {
  width: 210px;
  margin: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__mytape-checkbox {
  display: none;
}

.main__mytape-checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.main__mytape .checkbox {
  margin: 1px 10px 3px 0;
}

.main__mytape-descr {
  width: calc(100% - 27px);
  font: 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.main__mytape-descr:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__mytape-descr:hover {
    opacity: 1;
  }
}

.main__mytape-descr_bold {
  font-weight: 500;
}

.main__del-wrap {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}

.main__del {
  width: 100%;
  max-width: 1300px;
  padding: 33px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 95px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__del-title {
  height: 30px;
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 0 30px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.main__del-title:before {
  content: '';
  width: 28px;
  height: 28px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -43px;
  background: url("../img/show_hide.svg") center no-repeat;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.main__del-text {
  max-width: 420px;
  font: 14px/18px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 14px;
  color: #7f7f7f;
}

.main__del-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 29px;
  font: 500 14px/14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__del-btn:before {
  content: '';
  width: 19px;
  height: 22px;
  position: absolute;
  top: -7px;
  left: 0;
  background: url("../img/del-ic.svg") center no-repeat;
}

.main__del-btn:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__del-btn:hover {
    opacity: 1;
  }
}

.main .main__del.main__del_open {
  height: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main .main__del.main__del_open .main__del-title:before {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.hint-modal {
  height: 47px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  background: #d6712b;
  margin: 10px 0;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

.hint-modal__wrap {
  width: 100%;
  position: fixed;
  left: 0;
  top: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 30;
}

.hint-modal__text {
  font: 500 14px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  position: relative;
  padding: 0 0 0 28px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hint-modal__text:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 16px;
  top: 1px;
  left: 0;
  background: url("../img/sucess-white.svg") no-repeat;
  background-size: 100%;
}
