@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__title {
    max-width: 970px;
  }
  .main__expected {
    max-width: 970px;
  }
  .main__expected-slider-item {
    width: 50%;
    max-width: 481px;
  }
  .main__expected-slider-item:nth-child(2) {
    margin: 0;
  }
  .main__snippet {
    max-width: inherit;
    height: 361px;
  }
  .main__expected-slider-item:last-child {
    display: none;
  }
  .main__nav-content {
    max-width: 970px;
  }
  .main__nav-content-search-item {
    width: 393px;
  }
  .main__nav-theme {
    max-width: 970px;
  }
  .main__nav-theme-list {
    overflow: hidden;
  }
  .main__nav-theme-list-item {
    white-space: nowrap;
  }
  .main__filter {
    max-width: 970px;
  }
  .main__list-snippet {
    max-width: 970px;
    max-height: 1240px;
    overflow: hidden;
  }
  .main__recomend {
    margin: 60px 0 50px;
  }
  .main__recomend-wrap {
    max-width: 970px;
  }
  .main__recomend-wrap .main__recomend-slider-item:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1069px) {
  .main {
    overflow: hidden;
  }
  .main__title {
    max-width: 640px;
  }
  .main__expected {
    max-width: 640px;
  }
  .main__expected-slider-item {
    max-width: 316px;
  }
  .main__snippet {
    height: 237px;
  }
  .main__snippet-title {
    margin: 9px 0 5px;
  }
  .main__nav-content {
    max-width: 640px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .main__nav-content-path {
    margin-bottom: 30px;
    position: relative;
  }
  .main__nav-content-path:before {
    content: '';
    position: absolute;
    width: 200vw;
    left: -250px;
    bottom: -15px;
    height: 1px;
    background-color: #d8d8d8;
  }
  .main__nav-content-path .active:before {
    bottom: -15px;
  }
  .main__nav-content-search {
    width: 100%;
  }
  .main__nav-content-search-item {
    width: 100%;
  }
  .main__nav-content-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 16px 'Geometria';
    color: #000;
    margin: 22px 0 0;
  }
  .main__nav-content-filter-item {
    position: relative;
    margin: 0 46px 0 0;
  }
  .main__nav-content-filter-item:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 7px;
    right: -19px;
    top: 6px;
    background: url("../img/open_bottom.svg");
  }
  .main__nav-theme,
  .main__format,
  .main__filter {
    display: none;
  }
  .main__nav-content_line {
    background-color: #d8d8d8;
    border: none;
    height: 1px;
  }
  .main__nav-content_line:last-of-type {
    display: none;
  }
  .main__filter-wrapper input {
    display: none;
  }
  .main__filter-wrapper-item:hover {
    opacity: 1;
  }
  .main__filter-wrapper input[type='checkbox']:checked + .checkbox {
    background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
    border-color: #ff954b;
  }
  .main__filter-wrapper input[type='checkbox']:checked + .checkbox:hover {
    opacity: 1;
  }
  .main__list-snippet {
    max-width: 640px;
    max-height: 2100px;
  }
  .main__recomend {
    margin: 60px 0 50px;
  }
  .main__recomend-wrap {
    max-width: 640px;
  }
  .main__recomend-slider-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 729px) {
  .main__title {
    max-width: none;
    width: calc(100% - 92px);
    min-height: 0;
  }
  .main__title-item {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 25px;
  }
  .main__expected-title {
    font-size: 11px;
  }
  .main__container-expected {
    border-bottom: 1px solid rgba(127, 127, 127, 0.6);
  }
  .main__expected {
    width: 100%;
    min-height: 294px;
    overflow: hidden;
    max-width: none;
    padding: 0 0 17px;
  }
  .main__expected-slider-wrap {
    height: calc(105% + 15px);
    overflow-x: scroll;
    position: relative;
  }
  .main__expected-slider {
    padding: 0 45px 0;
    width: 130vw;
    min-width: 598px;
    margin-top: 50px;
  }
  .main__expected-button {
    display: none;
  }
  .main__expected-slider-item {
    width: 100%;
    max-width: 310px;
  }
  .main__expected-slider-item:last-child {
    display: block;
  }
  .main__expected-slider-item:nth-child(2) {
    margin: 0 8px 0 0;
  }
  .main__expected-slider-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__snippet {
    position: relative;
    margin-bottom: 100px;
    height: 31.963vw;
    min-width: 194px;
    min-height: 144px;
  }
  .main__snippet:before {
    height: 16%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), to(#333333));
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333333);
  }
  .main__snippet-style {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: 0;
    top: -29px;
    bottom: 12px;
  }
  .main__snippet-style *:last-child {
    height: 26px;
    font-size: 12px;
    padding: 7px 10px 3px 29px;
  }
  .main__snippet-style *:last-child:before {
    top: 6px;
  }
  .main__snippet-style *:first-child {
    font-size: 11px;
    left: 10px;
  }
  .main__snippet-descr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .main__snippet-title {
    width: 100%;
    font-size: 17px;
    line-height: 1.29;
    max-height: 63px;
    overflow: hidden;
    color: #000;
  }
  .main__snippet-tags {
    color: #666666;
    margin-top: 15px;
  }
  .main__nav-content {
    max-width: none;
    width: calc(100% - 92px);
  }
  .main__nav-content-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__nav-content-filter-item:before {
    right: auto;
    left: 49px;
  }
  .main__nav-content-filter .main__filter-wrapper {
    margin: 15px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__nav-content-filter .main__filter-wrapper-item:last-child {
    margin: 15px 0 0;
  }
  .main__nav-content-path h1 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 18px 0 0;
  }
  .main__list-snippet {
    max-width: none;
    width: calc(100% - (92px));
    height: 1410px;
    max-height: none;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .main__list-snippet-item {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    padding: 0;
    height: auto;
    margin-bottom: 15px;
  }
  .main__list-snippet-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__list-snippet-item .list-snippet__descr-wrap {
    border: none;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__img {
    width: 15.762%;
    max-width: 90px;
    min-width: 55px;
    display: inline-table;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__img:before {
    top: auto;
    bottom: -1.9vw;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__img-wrap {
    width: 100%;
    height: 12.38vw;
    min-width: 55px;
    min-height: 55px;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text {
    width: 84.238%;
    height: auto;
    margin: 0 0 15px;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text p:nth-child(1) {
    font-size: 17px;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text p:nth-child(2) {
    margin: 2px 0 0;
    font-size: 13px;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text p:nth-child(3) {
    position: inherit;
    margin: 15px 0 0;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text .list-snippet__subcr-wrap_media {
    width: 100%;
    margin: 22px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text .list-snippet__subcr-wrap_media p:nth-child(1) {
    margin: 0 0 0 21px;
    font-size: 13px;
  }
  .main__list-snippet-item .list-snippet__descr-wrap .list-snippet__text .list-snippet__subcr-wrap_media p:nth-child(2) {
    margin: 0;
    font-size: 13px;
  }
  .main__list-snippet-item .list-snippet__subcr-wrap {
    display: none;
    width: 100%;
    max-width: 529px;
    min-width: 210px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 15px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main__recomend-text {
    font-size: 11px;
  }
  .main__recomend-wrap {
    width: 100%;
    max-height: 352px;
    overflow: hidden;
    max-width: none;
  }
  .main__recomend-wrap .main__recomend-slider-wrap {
    width: 100%;
    height: 105%;
    overflow-x: scroll;
    position: relative;
  }
  .main__recomend-wrap .main__recomend-slider {
    width: 176.291vw;
    min-width: 792px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 45px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item {
    width: 43.236vw;
    min-width: 192px;
    max-width: none;
    min-height: 326px;
    margin: 0 8px 0 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:nth-child(3) {
    display: block;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:nth-child(4) {
    display: block;
    margin: 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img {
    width: 90px;
    height: 90px;
    margin: 0 0 13px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img:before {
    top: 80%;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img-wrap {
    width: 90px;
    height: 90px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text {
    height: 113px;
    text-align: center;
    margin-bottom: 15px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(1) {
    font-size: 17px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(2) {
    margin: 0;
    font-size: 13px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(3) {
    width: 100%;
    font-size: 13px;
    max-height: 38px;
    overflow: hidden;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap * {
    text-align: center;
    width: auto;
    margin: 15px 0 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap *:last-child {
    margin-top: 10px;
  }
  .main__show-more-wrap .main__show-more:hover {
    color: #7f7f7f;
    border: 1px solid #d8d8d8;
  }
  .main__show-more-wrap .main__settings-btn:hover, .main__show-more-wrap .main__settings-btn_fixed:hover {
    background-color: #e8e8e8;
  }
  .main__list-snippet-item .list-snippet__subcr-wrap *:nth-child(2):hover, .main__list-snippet-item .list-snippet__subcr-wrap_media *:nth-child(2):hover {
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .main__title {
    width: 290px;
  }
  .main__title-item_span {
    display: block;
  }
  .main__expected-slider-wrap {
    margin: 0;
  }
  .main__expected-slider {
    padding: 0 20px 0 20px;
  }
  .main__nav-content {
    width: calc(100% - 40px);
  }
  .main__list-snippet {
    width: calc(100% - 40px);
  }
  _::-webkit-full-page-media, _:future, :root .safari_only {
    height: 1450px;
  }
  .main__recomend-wrap .main__recomend-slider {
    padding: 0 20px;
  }
  .main__show-more-wrap .main__settings-btn, .main__show-more-wrap .main__settings-btn_fixed {
    right: 10px;
  }
}
