body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

textarea {
  display: block;
  background-color: #fff;
  outline: none;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

@media (max-width: 729px) {
  textarea {
    font-size: 14px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

input {
  background-color: #fff;
  outline: none;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

@media (max-width: 729px) {
  input {
    font-size: 14px;
    line-height: 22px;
  }
}

button {
  outline: none;
}

.main {
  min-height: calc(100vh - 150px);
}

@media (max-width: 1069px) {
  .main {
    min-height: calc(100vh - 150px);
  }
}

@media (max-width: 729px) {
  .main {
    min-height: calc(100vh - 212px);
  }
}

.g-error {
  border-color: #ee003e !important;
}

.g-error-text {
  display: none;
  font: 14px/1.33 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #ee003e;
  margin: 7px 0 0;
}

@media (max-width: 729px) {
  .g-error-text {
    font-size: 12px;
  }
}

.g-block {
  display: block;
}

.g-link {
  color: #d6712b;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.g-link:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .g-link:hover {
    opacity: 1;
  }
}

.g-link_grey {
  color: inherit;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.g-link_grey:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .g-link_grey:hover {
    opacity: 1;
  }
}

.g-link_email {
  font-weight: 500;
  color: #d6712b;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.g-link_email:hover {
  opacity: .6;
}

@media (max-width: 729px) {
  .g-link_email:hover {
    opacity: 1;
  }
}

.g-btn_orange {
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  font: 500 16px/22px 'Geometria';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  height: 50px;
  background: #ff954b;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.g-btn_orange:hover {
  background: #d6712b;
}

.g-btn_white {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 0 20px;
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  height: 50px;
  background: #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.g-btn_white:hover {
  opacity: .6;
}

.g-textarea_high {
  resize: none;
  overflow: hidden;
  width: 100%;
  max-width: 750px;
  min-height: 120px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 20px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  outline: none;
}

.g-textarea_high:hover, .g-textarea_high:focus {
  border-color: #7f7f7f;
}

@media (max-width: 729px) {
  .g-textarea_high {
    font-size: 14px;
    line-height: 22px;
    padding: 17px 15px;
  }
}

.g-textarea_small {
  resize: none;
  overflow: hidden;
  width: 100%;
  max-width: 750px;
  height: 60px;
  min-height: 60px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  outline: none;
}

.g-textarea_small:hover, .g-textarea_small:focus {
  border-color: #7f7f7f;
}

@media (max-width: 729px) {
  .g-textarea_small {
    font-size: 14px;
    line-height: 22px;
    padding: 17px 15px;
  }
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.viber {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.viber:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/viber-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .viber {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .viber:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.skype {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.skype:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/skype-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .skype {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .skype:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.main__content-nav_fixed {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100vw;
  max-width: none;
  top: 50px;
  background: #fff;
  padding: 15px 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}

.main__content-nav_fixed:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
}

.main__content-nav_fixed .main__content-nav-wrap {
  margin: 0;
}

.main__content-nav_fixed .main__content-nav-scrll {
  width: 100%;
  max-width: 640px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(102, 102, 102, 0.7);
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}
