@media (max-width: 1279px) {
  .main__slider-menu {
    width: 100%;
    height: calc(100vh - 51px - 67px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__slider-menu-item {
    width: 100%;
    height: calc(100% / 5);
    min-height: 30px;
  }
  .main__slider-menu-title {
    white-space: nowrap;
  }
  .main__subslider {
    width: 100%;
  }
  .main__subslider-item {
    width: 100%;
  }
  .main__subslider-count {
    right: 30px;
    bottom: 20px;
  }
}

@media (max-width: 767px) {
  .main__slider-menu-item {
    height: 20%;
  }
  .main__subslider-count {
    left: 15px;
    right: 15px;
    bottom: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
