.main {
  width: 100%;
}

.main__content {
  width: 100%;
  max-width: 1240px;
}

.main__head {
  margin: 60px 0 0;
}

.main__head-title {
  margin: 0 0 40px;
}

.main__head-year {
  width: 100%;
  max-width: 922px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  font: 500 14px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__head-year-item:not(:last-child) {
  margin: 0 20px 0 0;
}

.main__head-year-item {
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__head-year-item:hover {
  color: #e7490f;
}

@media (max-width: 767px) {
  .main__head-year-item:hover {
    color: #000105;
  }
}

.main__head-year-item_active {
  position: relative;
}

.main__head-year-item_active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e7490f;
  left: 0;
  top: -2px;
}

.main__head-month {
  width: 100%;
  max-width: 922px;
  height: 41px;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font: 500 14px/21px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #323232;
  margin: 10px 0 0;
}

.main__head-month-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.main__head-month-item:hover {
  color: #e7490f;
  opacity: 1;
}

@media (max-width: 767px) {
  .main__head-month-item:hover {
    color: #323232;
  }
}

.main__head-month-item_active {
  background-color: #e7490f;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.main__head-month-item_active:hover {
  color: #fff;
}

.main__head-month-item_not-active {
  opacity: .4;
}

.main__photo-wrap {
  width: 100%;
  max-width: 922px;
}

.main__photo-body {
  margin: 60px 0 0;
  width: 100%;
}

.main__photo-body .photo-body__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__photo-body .photo-body__head-title {
  margin: 0 21px 0 0;
}

.main__photo-body .photo-body__head-prgress {
  width: 40px;
  height: 40px;
}

.main__photo-body .photo-body__head-prgress img {
  width: 100%;
}

.main__photo-grid {
  width: 100%;
  margin: 30px 0 0;
}

.main__photo-grid .photo-grid__wrap {
  width: 100%;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 454px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__photo-grid-item {
  width: 287px;
  height: 212px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__photo-grid-item:hover img {
  -webkit-transform: scale(1.04, 1.04);
          transform: scale(1.04, 1.04);
}

.main__photo-grid-item:first-child {
  margin: 0 30px 0 0;
}

.main__photo-grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__photo-grid .photo-grid__wrap:nth-child(odd) .main__photo-grid-item:first-child {
  width: 605px;
  height: 454px;
}

.main__photo-grid .photo-grid__wrap:nth-child(even) .main__photo-grid-item:first-child {
  width: 287px;
  height: 212px;
}

.main__photo-grid .photo-grid__wrap:nth-child(even) .main__photo-grid-item:last-child {
  width: 605px;
  height: 454px;
}

.main__photo-nav {
  width: 100%;
  max-width: 318px;
}

.main__photo-nav-wrap {
  margin: 150px 0 0;
  padding: 0 0 0 60px;
}

.main__photo-nav-wrap img {
  width: 100%;
}

.main__btn {
  margin: 50px 0 0;
}

.main__btn-content {
  width: 100%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn-prev, .main__btn-next {
  width: 182px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  font: 500 16px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #e7490f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__btn-prev:hover, .main__btn-next:hover {
  color: #fff;
  background: #e7490f;
}

.main__btn-prev:hover svg g, .main__btn-next:hover svg g {
  stroke: #fff;
}

.main__btn-prev {
  margin: 0 30px 0 0;
}

.main__btn-prev span {
  margin: 0 0 0 12px;
}

.main__btn-next span {
  margin: 0 12px 0 0;
}

.main__btn-next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
