@import url(//hello.myfonts.net/count/394097);.head__point-bloger-item:nth-child(2) {
  opacity: .7;
}

.main {
  width: 100%;
}

.main__line {
  border: none;
  height: 1px;
  background-color: #d8d8d8;
  margin: 0;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__head {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 45px 0 20px;
  padding: 0;
}

.main__head-title {
  font: 30px/30px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin: 0;
}

.main__snippet {
  width: 100%;
  max-width: 1300px;
}

.main__empty {
  width: 100%;
  max-width: 1300px;
}

.main__snippet-wrap {
  width: 100%;
  max-width: 1308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  margin: 30px 0 120px 0;
}

.main__snippet-wrap .main__snippet-item {
  width: 310px;
  height: 540px;
  padding: 9px 14px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  position: relative;
  margin: 0 20px 20px 0;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__snippet-wrap .main__snippet-item:hover {
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main__snippet-wrap .main__snippet-item:hover .snippet-item__descr-title {
  border-bottom: 1px solid #000;
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item:hover .snippet-item__descr-title {
    border-bottom: none;
  }
}

.main__snippet-wrap .main__snippet-item:nth-child(4n) {
  margin: 0 0 20px 0;
}

.main__snippet-wrap .main__snippet-item_del:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item_del:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main__snippet-wrap .main__snippet-item_del:hover .snippet-item__descr-title {
  border-bottom: 0;
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item_del:hover .snippet-item__descr-title {
    border-bottom: none;
  }
}

.main__snippet-wrap .main__snippet-item .snippet-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 11px 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-public {
  width: 100%;
  max-width: 147px;
  height: 36px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #e3863a;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin: 0 11px 0 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-public:hover {
  color: rgba(227, 134, 58, 0.7);
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-public span:last-child {
  display: none;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 46px;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-edit {
  border: 0;
  width: 19px;
  height: 19px;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 12px 0 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-edit svg {
  width: 100%;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(1) {
  fill: #d6712b;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(2) {
  stroke: #d6712b;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(4) {
  fill: #d6712b;
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(1) {
    fill: #7F7F7F;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(2) {
    stroke: #7F7F7F;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-edit:hover svg path:nth-child(4) {
    fill: #7F7F7F;
  }
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-del {
  border: 0;
  width: 17px;
  height: 19px;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.main__snippet-wrap .main__snippet-item .snippet-item__head-del svg {
  width: 100%;
}

.main__snippet-wrap .main__snippet-item .snippet-item__image {
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__snippet-wrap .main__snippet-item .snippet-item__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__snippet-wrap .main__snippet-item .snippet-item__descr-format {
  font: 12px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  letter-spacing: 1.5px;
  position: relative;
  padding: 0 0 0 19px;
  text-transform: uppercase;
}

.main__snippet-wrap .main__snippet-item .snippet-item__descr-format:before {
  display: block;
  border-radius: 50%;
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0;
  left: 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__descr-title-wrap {
  max-height: 78px;
  overflow: hidden;
}

.main__snippet-wrap .main__snippet-item .snippet-item__descr-title {
  display: inline;
  font: 20px/1.3 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__snippet-wrap .main__snippet-item .snippet-item__tags {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__tags-item {
  font: 12px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  margin: 0 10px 0 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__tags-item:last-child {
  margin: 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price {
  position: absolute;
  left: 15px;
  bottom: 17px;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price-item {
  font: 500 16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price-date {
  color: #666666;
  line-height: 1.5;
  margin: 0 0 2px 0;
  font-weight: normal;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price-date span {
  display: inline-block;
  margin: 0 0 0 19px;
  position: relative;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price-date span:before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666666;
  position: absolute;
  left: -12px;
  top: 9px;
}

.main__snippet-wrap .main__snippet-item .snippet-item__time-price-money {
  color: #d6712b;
  line-height: 1.5;
}

.main__snippet-wrap .main__snippet-item_today {
  border: 1px solid #ff954b;
  -webkit-box-shadow: 0 1px 7px 0 rgba(255, 149, 75, 0.25);
          box-shadow: 0 1px 7px 0 rgba(255, 149, 75, 0.25);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.main__snippet-wrap .main__snippet-item_today:hover {
  -webkit-box-shadow: 0 4px 30px 0 rgba(255, 149, 75, 0.25);
          box-shadow: 0 4px 30px 0 rgba(255, 149, 75, 0.25);
}

@media (max-width: 729px) {
  .main__snippet-wrap .main__snippet-item_today:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.del-modal {
  width: calc(100% - 30px);
  max-width: 280px;
  border: 1px solid #ff954b;
  -webkit-box-shadow: 0 1px 8px 0 rgba(255, 149, 75, 0.35);
          box-shadow: 0 1px 8px 0 rgba(255, 149, 75, 0.35);
  border-radius: 4px;
  padding: 20px 5px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: auto;
  top: auto;
  background-color: #fff;
}

.del-modal__window {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 0 0;
  z-index: 1;
}

.del-modal__paragraf {
  font: 500 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 0 0 15px;
  text-align: center;
}

.del-modal__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.del-modal__btn {
  height: 36px;
  padding: 0 15px;
  margin: 0 5px 0 0;
}

.del-modal__btn:last-child {
  margin: 0;
  color: #7f7f7f;
}

@media (max-width: 729px) {
  .del-modal {
    padding: 15px 5px 20px;
    width: 100%;
    max-width: 280px;
  }
  .del-modal__btn {
    margin: 0 5px 5px 0;
  }
  .del-modal__btn:last-child {
    margin: 0;
    color: #7f7f7f;
  }
}

@media (max-width: 425px) {
  .del-modal__btn-wrap {
    width: 140px;
  }
  .del-modal__btn {
    margin: 0 0 5px;
  }
}
