@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__head {
    max-width: 970px;
  }
  .main__head-title {
    max-width: 640px;
  }
  .main__head-img {
    max-width: 560px;
  }
  .main__description {
    max-width: 970px;
  }
  .main__description-about {
    max-width: 638px;
  }
  .main__description-nav {
    max-width: 201px;
  }
  .main__price {
    max-width: 970px;
  }
  .main__price-title, .main__price-list, .main__price-path {
    max-width: 640px;
  }
  .main__details {
    max-width: 970px;
  }
  .main__details-title, .main__details-list, .main__details-path {
    max-width: 640px;
  }
  .main__subscr {
    max-width: 970px;
  }
}

@media (max-width: 1069px) {
  .main__head {
    max-width: 640px;
    margin-bottom: 40px;
  }
  .main__head-author {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 0 35px;
  }
  .main__head-other {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 0 55px;
  }
  .main__head .main__head-title .head-title__tags {
    margin-bottom: 32px;
  }
  .event-page__line_media {
    display: block;
  }
  .main__description {
    max-width: 640px;
  }
  .main__description-nav_gradient {
    max-width: 640px;
  }
  .main__description-nav-wrap {
    margin: 10px 0 0;
    width: 100%;
    height: 25px;
    max-width: 640px;
  }
  .main__description-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 285px;
  }
  .main__description-nav-item {
    margin: 0 10px 0 0;
    white-space: nowrap;
    padding: 0;
  }
  .main__description-nav-item:last-child {
    margin: 0;
  }
  .main__description-nav .active:before {
    height: 2px;
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
  }
  .main__price {
    max-width: 640px;
  }
  .main__price-title, .main__price-list, .main__price-path {
    max-width: none;
  }
  .main__details {
    max-width: 640px;
  }
  .main__details-title, .main__details-list, .main__details-path {
    max-width: none;
  }
  .main__subscr {
    max-width: 640px;
  }
}

@media (max-width: 729px) {
  .main__head {
    max-width: calc(100% - 92px);
    margin-bottom: 30px;
  }
  .main__head-author {
    margin-bottom: 33px;
  }
  .main__head-author-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__head-author-wrap .head-author__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__head-author-wrap .head-author__descr-item {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 3px;
  }
  .main__head-author-wrap .head-author__descr-item:last-child {
    margin: 0;
    margin-bottom: 0;
  }
  .main__head .head-title__title {
    font-size: 26px;
    line-height: 1.23;
  }
  .main__head .main__head-title .head-title__tags {
    margin-bottom: 25px;
  }
  .main__head-img {
    max-width: none;
  }
  .main__head .main__head-other {
    margin-bottom: 40px;
  }
  .main__head .main__head-other-item {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__head .main__head-other-item span:before {
    top: 8px;
  }
  .main__head .main__head-other .head-other__price {
    margin: 15px 0 20px;
  }
  .main__head .main__head-other .head-other__subscr-button {
    width: 280px;
    padding-right: 0;
  }
  .main__head .main__head-other .head-other__subscr-button .line-button {
    margin-right: 0;
  }
  .main__head .main__head-other .head-other__subscr-button div:last-child {
    width: calc(100% - (25px + 104px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__head .main__head-other .head-other__subscr-button:hover {
    background-color: #007f60;
  }
  .main__description {
    max-width: calc(100% - 92px);
  }
  .main__description .description__article {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__description .main__description-about .description__article > p:nth-child(2) {
    margin-top: 19px;
  }
  .main__description .main__description-about .description__article {
    padding-bottom: 50px;
  }
  .main__description .main__description-about .description__article p {
    margin-top: 25px;
  }
  .main__description .main__description-about .description__article .article__list-title,
  .main__description .main__description-about .description__article .article__list-wrap,
  .main__description .main__description-about .description__article .article__path-title,
  .main__description .main__description-about .description__article .article__path-paragraf {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__description .main__description-about .description__article .article__list-title,
  .main__description .main__description-about .description__article .article__path-title {
    margin-top: 25px;
  }
  .main__description-nav_gradient {
    width: 100vw;
    max-width: none;
    left: -45px;
  }
  .main__description-nav-wrap {
    width: 100%;
    max-width: none;
  }
  .main__description-nav-wrap .main__description-nav-scrll {
    height: 50px;
    padding: 0 45px;
    overflow-x: scroll;
  }
  .main__description-nav-wrap .main__description-nav-scrll .main__description-nav {
    width: 617px;
    white-space: nowrap;
    padding: 0 45px 0 0;
  }
  .main__description-nav-wrap:after, .main__description-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .main__description-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__description-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__description .main__content-nav_fixed .main__description-nav-scrll {
    padding: 0 46px;
  }
  .main__price {
    max-width: calc(100% - 92px);
    padding-bottom: 50px;
  }
  .main__price-title {
    font-size: 22px;
    margin-top: 15px;
  }
  .main__price .main__price-list .main__price-list-title {
    margin-top: 25px;
  }
  .main__price .main__price-list .main__price-list-title,
  .main__price .main__price-list .main__price-list-wrap {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__price .main__price-path-title {
    margin-top: 25px;
  }
  .main__price .main__price-path-title, .main__price .main__price-path-paragraf {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__details {
    max-width: calc(100% - 92px);
    padding-bottom: 50px;
  }
  .main__details-title {
    font-size: 22px;
    margin-top: 15px;
  }
  .main__details .main__details-list .main__details-list-title {
    margin-top: 25px;
  }
  .main__details .main__details-list .main__details-list-title,
  .main__details .main__details-list .main__details-list-wrap {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__details .main__details-list .main__details-list-title .main__details-list-item,
  .main__details .main__details-list .main__details-list-wrap .main__details-list-item {
    margin-bottom: 10px;
  }
  .main__details .main__details-list .main__details-list-title .main__details-list-item:last-child,
  .main__details .main__details-list .main__details-list-wrap .main__details-list-item:last-child {
    border-bottom: 0;
  }
  .main__details .main__details-path-title {
    margin-top: 25px;
  }
  .main__details .main__details-path-title, .main__details .main__details-path-paragraf {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__details .main__details-path .main__details-path-paragraf a:hover {
    opacity: 1;
  }
  .main__subscr {
    max-width: calc(100% - 92px);
    margin: 20px 0 30px;
  }
  .main__subscr-button {
    width: 280px;
    height: 50px;
    padding-right: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .main__subscr-button .line-button {
    height: inherit;
    margin-right: 1px;
    margin: 0 0 0 25px;
  }
  .main__subscr-button div:last-child {
    width: calc(100% - (25px + 104px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__subscr-button:hover {
    background-color: #007f60;
  }
  .main__subscr .button-up {
    top: calc(-50% - 10px);
    right: 10px;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__description,
  .main__price,
  .main__details,
  .main__subscr {
    max-width: calc(100% - 40px);
  }
  .main__head-title .head-title__tags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main__description-nav_gradient {
    left: -20px;
  }
  .main__description .main__content-nav_fixed .main__description-nav-scrll {
    padding: 0 20px;
  }
  .main__description-nav-wrap {
    height: 25px;
    overflow: hidden;
  }
  .main__description-nav-wrap .main__description-nav-scrll {
    padding: 0 20px;
  }
  .main__description-nav-wrap .main__description-nav-scrll .main__description-nav {
    padding: 0 20px 0 0;
  }
  .main__description-nav-wrap:before {
    width: 20px;
  }
  .main__description-nav-wrap:after {
    width: 20px;
  }
}
