@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__title {
    max-width: 970px;
  }
  .main__expected {
    max-width: 970px;
  }
  .main__expected-slider-item {
    width: 50%;
    max-width: 481px;
  }
  .main__expected-slider-item:nth-child(2) {
    margin: 0;
  }
  .main__snippet {
    max-width: inherit;
    height: 361px;
  }
  .main__expected-slider-item:last-child {
    display: none;
  }
  .main__nav-content {
    max-width: 970px;
  }
  .main__nav-content-search-item {
    width: 393px;
  }
  .main__nav-theme {
    max-width: 970px;
  }
  .main__nav-theme-list {
    overflow: hidden;
  }
  .main__nav-theme-list-item {
    white-space: nowrap;
  }
  .main__format-list {
    max-width: 970px;
  }
  .main__filter {
    max-width: 970px;
  }
  .main__list-snippet {
    max-width: 1000px;
  }
  .main__recomend-wrap {
    max-width: 970px;
  }
  .main__recomend-wrap .main__recomend-slider-item:last-child {
    display: none;
  }
}

@media (max-width: 1069px) {
  .main__title {
    max-width: 640px;
  }
  .main__expected {
    max-width: 640px;
  }
  .main__expected-slider-item {
    max-width: 316px;
  }
  .main__snippet {
    height: 237px;
  }
  .main__snippet-title {
    margin: 9px 0 5px;
  }
  .main__nav-content {
    max-width: 640px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__nav-content-path {
    margin-bottom: 35px;
    position: relative;
  }
  .main__nav-content-path:before {
    content: '';
    position: absolute;
    width: 200vw;
    left: -250px;
    bottom: -21px;
    height: 1px;
    background-color: #d8d8d8;
  }
  .main__nav-content-search {
    width: 100%;
  }
  .main__nav-content-search-item {
    width: 100%;
  }
  .main__nav-content-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 16px 'Geometria';
    color: #000;
  }
  .main__nav-content-filter-item {
    position: relative;
    margin: 22px 46px 0 0;
  }
  .main__nav-content-filter-item:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 7px;
    right: -19px;
    top: 6px;
    background: url("../img/open_bottom.svg");
  }
  .main__nav-theme,
  .main__format,
  .main__filter {
    display: none;
  }
  .main__format {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: #fff;
    border: none;
    z-index: 1000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__format-title {
    display: block;
    font: 500 16px/28px 'Geometria';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 28px;
    margin: 20px 0 30px;
  }
  .main__format-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 15px;
    background: url("../img/cls-btn-black.svg") no-repeat;
  }
  .main__format-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 20px;
    padding: 0;
  }
  .main__format-list-item {
    margin: 0 0 10px;
  }
  .main__format-btn {
    display: block;
  }
  .main__format .main__format_modal {
    display: block;
    max-width: 640px;
  }
  .main__nav-content_line {
    background-color: #d8d8d8;
    border: none;
    height: 1px;
  }
  .main__list-snippet {
    max-width: 670px;
  }
  .main__recomend {
    margin: 60px 0 50px;
  }
  .main__recomend-wrap {
    max-width: 640px;
  }
  .main__recomend-wrap .main__recomend-slider-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 729px) {
  .main__title {
    max-width: none;
    width: calc(100% - 92px);
    min-height: 0;
  }
  .main__title-item {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 25px;
  }
  .main__expected-title {
    font-size: 11px;
  }
  .main__container-expected {
    border-bottom: 1px solid rgba(127, 127, 127, 0.6);
  }
  .main__expected {
    width: 100%;
    min-height: 294px;
    overflow: hidden;
    max-width: none;
    padding: 0 0 17px;
  }
  .main__expected-slider-wrap {
    height: calc(105% + 15px);
    overflow-x: scroll;
    position: relative;
  }
  .main__expected-slider {
    padding: 0 45px 0;
    width: 130vw;
    min-width: 598px;
    margin-top: 50px;
  }
  .main__expected-button {
    display: none;
  }
  .main__expected-slider-item {
    width: 100%;
    max-width: 310px;
  }
  .main__expected-slider-item:last-child {
    display: block;
  }
  .main__expected-slider-item:nth-child(2) {
    margin: 0 8px 0 0;
  }
  .main__expected-slider-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__format .main__format_modal {
    max-width: calc(100% - 92px);
  }
  .main__snippet {
    position: relative;
    margin-bottom: 100px;
    height: 31.963vw;
    min-width: 194px;
    min-height: 144px;
  }
  .main__snippet:before {
    height: 16%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), to(#333333));
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333333);
  }
  .main__snippet-style {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: 0;
    top: -29px;
    bottom: 12px;
  }
  .main__snippet-style *:last-child {
    height: 26px;
    font-size: 12px;
    padding: 7px 10px 3px 29px;
  }
  .main__snippet-style *:last-child:before {
    top: 6px;
  }
  .main__snippet-style *:first-child {
    font-size: 11px;
    left: 10px;
  }
  .main__snippet-descr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .main__snippet-title {
    width: 100%;
    font-size: 17px;
    line-height: 1.29;
    max-height: 63px;
    overflow: hidden;
    color: #000;
  }
  .main__snippet-tags {
    color: #666666;
    margin-top: 15px;
  }
  .main__nav-content {
    width: calc(100% - 92px);
    max-width: none;
    margin-top: 35px;
  }
  .main__nav-content-path h1 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 18px 0 0;
  }
  .main__list-snippet-item_today {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__list-snippet {
    width: calc(100% - 92px);
    max-width: none;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 0;
  }
  .main__list-snippet-item {
    width: calc(50% - 10px);
    height: auto;
    max-width: 309px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 0;
  }
  .main__list-snippet-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__list-snippet-item:hover .snippet-item__descr-title {
    border-bottom: none;
  }
  .main__list-snippet-item:nth-child(12), .main__list-snippet-item:nth-child(11) {
    display: none;
  }
  .main__list-snippet-item .snippet-item__head {
    min-height: 48px;
    margin: 0 0 10px 0;
  }
  .main__list-snippet-item .snippet-item__head-name p:first-child {
    word-spacing: 1150px;
  }
  .main__list-snippet-item .snippet-item__head-name p:first-child,
  .main__list-snippet-item .snippet-item__head-name p:last-child {
    font-size: 12px;
    line-height: 1.33;
  }
  .main__list-snippet-item .snippet-item__image {
    height: 29vw;
    border-radius: 4px;
  }
  .main__list-snippet-item .snippet-item__descr {
    margin-bottom: 99px;
  }
  .main__list-snippet-item .snippet-item__descr-format {
    font-size: 11px;
  }
  .main__list-snippet-item .snippet-item__descr-title {
    font-size: 15px;
    display: block;
    max-height: 57px;
    overflow: hidden;
  }
  .main__list-snippet-item .snippet-item__tags-item {
    font-size: 11px;
  }
  .main__list-snippet-item .snippet-item__time-price {
    left: 0;
  }
  .main__list-snippet-item .snippet-item__time-price span {
    display: block;
    margin: 0;
  }
  .main__list-snippet-item .snippet-item__time-price span:before {
    display: none;
  }
  .main__list-snippet-item .snippet-item__time-price-item {
    font-size: 12px;
  }
  .main__list-snippet-item .snippet-item__time-price-money {
    font-weight: 500;
  }
  .main__list-snippet-item:nth-child(2n) {
    margin: 0 0 20px 0;
  }
  .main__list-snippet-item .snippet-item__head-avatar {
    width: 32px;
    height: 32px;
  }
  .main__list-snippet-item .snippet-item__head-name {
    width: calc(100% - 42px);
    overflow: hidden;
  }
  .main__show-more-wrap {
    margin-top: 20px;
  }
  .main__show-more-wrap .main__settings-btn, .main__show-more-wrap .main__settings-btn_fixed {
    right: 10px;
  }
  .main__recomend-text {
    font-size: 11px;
  }
  .main__recomend-wrap {
    width: 100%;
    max-height: 352px;
    overflow: hidden;
    max-width: none;
  }
  .main__recomend-wrap .main__recomend-slider-wrap {
    width: 100%;
    height: 105%;
    overflow-x: scroll;
    position: relative;
  }
  .main__recomend-wrap .main__recomend-slider {
    width: 176.291vw;
    min-width: 792px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 45px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item {
    width: 43.236vw;
    min-width: 192px;
    max-width: none;
    min-height: 326px;
    margin: 0 8px 0 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:nth-child(3) {
    display: block;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item:nth-child(4) {
    display: block;
    margin: 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img {
    width: 90px;
    height: 90px;
    margin: 0 0 13px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img:before {
    top: 80%;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__img-wrap {
    width: 90px;
    height: 90px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text {
    height: 113px;
    text-align: center;
    margin-bottom: 15px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(1) {
    font-size: 17px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(2) {
    margin: 0;
    font-size: 13px;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__descr-wrap .recomend-slider__text p:nth-child(3) {
    width: 100%;
    font-size: 13px;
    max-height: 38px;
    overflow: hidden;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap * {
    text-align: center;
    width: auto;
    margin: 15px 0 0;
  }
  .main__recomend-wrap .main__recomend-slider .main__recomend-slider-item .recomend-slider__subcr-wrap *:last-child {
    margin-top: 10px;
  }
  .main__nav-content-path *:not(.active):hover {
    opacity: 1;
  }
  .main__show-more-wrap .main__show-more:hover {
    border: 1px solid #d8d8d8;
    color: #7f7f7f;
  }
  .main__show-more-wrap .main__settings-btn:hover, .main__show-more-wrap .main__settings-btn_fixed:hover {
    background-color: #e8e8e8;
  }
}

@media (max-width: 425px) {
  .main__title {
    width: 290px;
  }
  .main__title-item_span {
    display: block;
  }
  .main__expected-slider-wrap {
    margin: 0;
  }
  .main__expected-slider {
    padding: 0 20px 0 20px;
  }
  .main__format .main__format_modal {
    max-width: calc(100% - 40px);
  }
  .main__nav-content {
    width: calc(100% - 40px);
  }
  .main__list-snippet {
    width: calc(100% - 40px);
  }
  .main__recomend-wrap .main__recomend-slider {
    padding: 0 20px;
  }
}
