.main__head {
  margin: 50px 0 40px;
}

.main__head-title {
  width: calc(100% - 60px);
  max-width: 1240px;
  font: 500 24px/29px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__filter {
  margin: 0 0 25px;
}

.main__filter-list {
  width: calc(100% - 60px);
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__filter-list-item {
  margin: 0 30px 0 0;
  opacity: .7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__filter-list-item:hover {
  opacity: 1;
}

.main__filter-list-item_active-down {
  opacity: 1;
  position: relative;
  padding: 0 15px 0 0;
}

.main__filter-list-item_active-down:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  right: 0;
  top: 5px;
  background: url("../img/filter_arrow.svg") no-repeat;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__filter-list-item_active-down:hover:before {
  top: 8px;
}

.main__filter-list-item_active-up {
  opacity: 1;
  position: relative;
  padding: 0 15px 0 0;
}

.main__filter-list-item_active-up:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  right: 0;
  top: 5px;
  background: url("../img/filter_arrow.svg") no-repeat;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__filter-list-item_active-up:hover:before {
  top: 2px;
}

.main__result-wrap {
  width: 100%;
  max-width: 1240px;
}

.main__result-item {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(0, 1, 5, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
}

.main__result-item:hover {
  background-color: rgba(231, 73, 15, 0.03);
}

.main__result-item:first-child {
  border-top: 1px solid rgba(0, 1, 5, 0.3);
}

.main__result-item-img {
  width: calc(100% / 4);
  max-width: 102px;
  height: 100%;
}

.main__result-item-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.main__result-item-room {
  width: calc(100% / 4);
  max-width: 100px;
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #e7490f;
}

.main__result-item-info {
  width: 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__result-item-floor, .main__result-item-corp, .main__result-item-decor {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  opacity: .8;
  color: #000105;
  margin: 0 51px 0 0;
  white-space: nowrap;
}

.main__result-item-squad {
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 0 51px 0 0;
  white-space: nowrap;
}

.main__result-item-price {
  min-width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__result-item-price p {
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 56px 0 0;
}
