@-webkit-keyframes chngImg {}@keyframes chngImg {}.main {
  width: 100%;
}

.main__filter-title, .main__filter-subtitle, .main__filter-wrap, .main__filter-result {
  max-width: 768px;
}

.main__filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.main__filter-show-filter {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../img/show_filter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e7490f;
  right: 15px;
  bottom: 65px;
  z-index: 99;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
  -webkit-transition-delay: background-image .4s;
          transition-delay: background-image .4s;
}

.main__filter-show-filter_success {
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 20px;
}

.main__filter-up {
  display: none;
  position: fixed;
  left: calc(50% - 20px);
  bottom: 70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  background: url("../img/btn_next_or.svg") center no-repeat #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 4;
}

.main__filter-options {
  display: none;
  position: fixed;
  left: 100%;
  top: 71px;
  width: 100%;
  height: calc(100vh - 71px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 60px 0 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 19;
  overflow: scroll;
  -webkit-transition-delay: left .3s linear;
          transition-delay: left .3s linear;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

.main__filter-options .filter-options__wrap {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.main__filter-options .filter-options__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 0 50px;
}

.main__filter-options .filter-options__wrap-item:nth-child(4) {
  margin: 0;
}

.main__filter-options .filter-options__wrap:not(:last-child) {
  margin: 0 0 60px;
}

.main__filter-options .filter-options__wrap-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__filter-options .filter-options__wrap-room {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: calc(50% - 12px);
  min-width: 342px;
  margin-right: 32px;
}

.main__filter-options .filter-options__wrap-room .filter-options__radio {
  display: block;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  background: #fff;
  border: 1px solid #979797;
  padding: 17px 23px;
  cursor: pointer;
}

.main__filter-options .filter-options__wrap-room .filter-options__radio_one {
  border-radius: 2px 0 0 2px;
}

.main__filter-options .filter-options__wrap-room .filter-options__radio_stud {
  border-radius: 0 2px 2px 0;
}

.main__filter-options .filter-options__wrap-room .filter-options__radio-wrap input {
  display: none;
}

.main__filter-options .filter-options__wrap-room .filter-options__radio-wrap input:checked + .filter-options__radio {
  background: #e7490f;
  border-color: #e7490f;
  color: #fff;
}

.main__filter-options .filter-options__wrap-number {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: calc(50% - 20px);
}

.main__filter-options .filter-options__wrap-number .filter-options__number-sel {
  width: 100%;
  height: 58px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filter-options .filter-options__wrap-number .filter-options__number-sel:before {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  top: auto;
  right: 15px;
  background: url("../img/btn_next_grey.svg") no-repeat;
  background-size: 8px 13px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main__filter-options .filter-options__wrap-number .filter-options__number-sel p {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__filter-options .filter-options__wrap-price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
}

.main__filter-options .filter-options__wrap-square {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
}

.main__filter-options .filter-options__wrap-floor {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 100%;
}

.main__filter-options .filter-options__wrap-checkbox {
  margin: 0 0 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filter-options .filter-options__wrap_space-beetwen {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__filter-options .filter-options__title {
  width: 100%;
  font: 500 14px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 0 0 10px;
  opacity: .6;
}

.main__filter-options .filter-options__option-wrap {
  width: 100%;
  height: 58px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filter-options .filter-options__option-wrap .filter-options__range-val,
.main__filter-options .filter-options__option-wrap .filter-options__square-val,
.main__filter-options .filter-options__option-wrap .filter-options__floor-val {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__filter-options .filter-options__range {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 1, 5, 0.3);
}

.main__filter-options .filter-options__range-line {
  width: 100%;
  height: 1px;
  background: #e7490f;
}

.main__filter-options .filter-options__range-runner {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e7490f;
  top: -8px;
  cursor: pointer;
}

.main__filter-options .filter-options__range-runner_first {
  left: -8px;
}

.main__filter-options .filter-options__range-runner_second {
  right: -8px;
}

.main__filter-options .filter-options__wrap-number {
  position: relative;
}

.main__filter-options .filter-options__wrap-number input {
  display: none;
}

.main__filter-options .filter-options__wrap-number input:checked + .number-sel__var {
  z-index: 10;
  opacity: 1;
  top: calc(100% + 10px);
}

.main__filter-options .filter-options__wrap-checkbox input {
  display: none;
}

.main__filter-options .filter-options__wrap-checkbox input:checked + .g-checkbox {
  background: url("../img/check.svg") center no-repeat #e7490f;
  border-color: #e7490f;
  background-size: 75%;
}

.main__filter-options .filter-options__wrap-checkbox .g-checkbox {
  background: #fff;
  width: 30px;
  height: 30px;
}

.main__filter-options .filter-options__wrap-checkbox label {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  padding: 1px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__filter-options .filter-options__wrap-reset {
  display: block;
  background: transparent;
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 58px 0 0;
}

.main__filter-title {
  width: calc(100% - 60px);
  font: 30px/34px 'Leksa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 50px 0 40px;
}

.main__filter-title span {
  display: block;
}

.main__filter-result-text {
  width: 100%;
  background: #fafaf2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filter-subtitle {
  font: 500 24px/29px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #323232;
  margin: 0 0 40px;
  width: 100%;
  max-width: 768px;
}

.main__filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 768px;
}

.main__filter-wrap-item {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  opacity: .7;
  margin: 0 30px 0 0;
  cursor: pointer;
}

.main__filter-wrap-item_active {
  opacity: 1;
  position: relative;
  padding: 0 15px 0 0;
}

.main__filter-wrap-item_active:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  right: 0;
  top: 5px;
  background: url("../img/filter_arrow.svg") no-repeat;
}

.main__filter-result {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 0 50px;
}

.main__filter-result .filter-result__wrap {
  width: 100%;
  overflow-x: hidden;
}

.main__filter-result .filter-result__result {
  overflow-y: scroll;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% + 20px);
  padding: 0 0 10px;
}

.main__filter-result .filter-result__result-item {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(0, 1, 5, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 48px 15px 20px;
}

.main__filter-result .filter-result__result-item:hover {
  background-color: rgba(231, 73, 15, 0.03);
}

.main__filter-result .filter-result__result-item-img {
  width: calc(100% / 4);
  max-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main__filter-result .filter-result__result-item-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.main__filter-result .filter-result__result-item-room {
  width: 97px;
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #e7490f;
  margin: 0 37px 0 0;
  white-space: nowrap;
}

.main__filter-result .filter-result__result-item-info {
  width: calc(100% - 97px - 247px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__filter-result .filter-result__result-item-floor, .main__filter-result .filter-result__result-item-corp {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  opacity: .8;
  color: #000105;
  margin: 0 20px 0 0;
  white-space: nowrap;
}

.main__filter-result .filter-result__result-item-corp {
  margin: 0;
}

.main__filter-result .filter-result__result-item-squad {
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  white-space: nowrap;
}

.main__filter-result .filter-result__result-item-price {
  min-width: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__filter-result .filter-result__result-item-price p {
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.main__filter-result .filter-result__result-item-price p:nth-child(1) {
  margin: 0 31px 0 0;
}

.main__filter-result .filter-result__result-item-price p:nth-child(2) {
  margin: 0 50px 0 0;
}

.number-sel__var {
  opacity: 0;
  position: absolute;
  width: calc(100vw - 30px);
  max-width: 708px;
  height: 290px;
  background: #fff;
  right: 0;
  top: calc(100% + 20px);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  z-index: -10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px 15px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number-sel__var-wrap {
  width: 100%;
  position: relative;
}

.number-sel__var-text {
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  white-space: nowrap;
  cursor: pointer;
}

.number-sel__var-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-sel__var-check input {
  display: none;
}

.number-sel__var-check input:checked + label {
  background: url("../img/check.svg") center no-repeat #e7490f;
  background-size: 75%;
  border-color: #e7490f;
}

.number-sel__var-check .g-checkbox {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .number-sel__var-wrap {
    height: 270px;
  }
  .number-sel__var-wrap svg {
    display: none;
  }
  .main__filter-title {
    width: calc(100% - 30px);
    margin: 30px 0 25px;
  }
  .main__filter-subtitle {
    margin: 0 0 35px;
  }
  .main__filter-result-text {
    padding: 15px;
  }
  .main__filter-result-text {
    padding: 15px 15px 0;
  }
  .main__filter-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main__filter-wrap-item {
    margin: 0 15px 15px 0;
  }
  .main__filter-result .filter-result__result-item-img {
    max-width: 65px;
  }
  .main__filter-result .filter-result__result-item-info {
    width: calc(100% - 85px - 98px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__filter-result .filter-result__result-item {
    height: 90px;
    padding: 10px 33px 10px 15px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .filter-result__result-item-room {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .filter-result__result-item-floor {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .filter-result__result-item-corp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__filter-result .filter-result__result-item-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 98px;
    min-width: 98px;
    white-space: nowrap;
  }
  .main__filter-result .filter-result__result-item-price p {
    text-align: right;
    margin: 0;
  }
  .main__filter-result .filter-result__result-item-price p:nth-child(2),
  .main__filter-result .filter-result__result-item-price p:nth-child(1) {
    margin: 0;
  }
  .main__filter-result .filter-result__result-item-price img {
    display: none;
  }
  .main__filter-options {
    padding: 30px 0 33px;
  }
  .main__filter-options .filter-options__wrap {
    width: calc(100% - 30px);
  }
  .main__filter-options .filter-options__wrap-item {
    margin: 0 0 30px;
  }
  .main__filter-options .filter-options__wrap-item:nth-child(4) {
    margin: 0;
  }
  .main__filter-options .filter-options__wrap:not(:last-child) {
    margin: 0 0 40px;
  }
  .main__filter-options .filter-options__wrap-room,
  .main__filter-options .filter-options__wrap-number {
    width: 100%;
    min-width: 100%;
  }
  .main__filter-options .filter-options__wrap-room .filter-options__radio {
    padding: 14px 20px;
  }
  .main__filter-options .filter-options__wrap-room .filter-options__radio_stud {
    padding: 14px 9px 14px 9px;
  }
  .main__filter-options .filter-options__wrap-reset {
    margin: 17px 0 0;
  }
}
