.main {
  width: 100%;
  position: relative;
}

.main__navigate {
  width: 1240px;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__navigate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font: 500 9px/15px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323232;
}

.main__navigate-list-item {
  margin: 0 3.5px 0 0;
  padding: 0 0 0 9.5px;
  position: relative;
}

.main__navigate-list-item a {
  text-decoration: underline;
}

.main__navigate-list-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2.4px;
  width: 6px;
  height: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../img/btn_next_grey.svg") no-repeat;
  background-size: 6px 8px;
}

.main__navigate-list-item:first-child {
  padding: 0;
}

.main__navigate-list-item:first-child:before {
  display: none;
}

.main__floor {
  width: 100%;
  padding: 65px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__floor-section {
  width: calc((1240px - 924px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__floor-img {
  width: calc(1240px / 3);
  min-width: 924px;
  position: relative;
}

.main__floor-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.main__floor-descr {
  position: absolute;
  bottom: -54px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__floor-descr-item {
  font: 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 0 20px 0 0;
}

.main__floor-descr-price {
  font-weight: 500;
  margin: 0;
}

.main__floor-count {
  width: calc((1240px - 924px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 65px;
}

.main__floor-up, .main__floor-down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main__floor-up {
  background: url("../img/btn_next_or.svg") center no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main__floor-down {
  background: url("../img/btn_next_or.svg") center no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main__floor-number {
  width: 40px;
  height: 63px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.main__floor-list {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  font: 500 36px/40px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

.main__floor-list-item {
  width: 100%;
  margin: 0 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
