.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(0, 1, 5, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  background: #fff;
}

.footer__dev-logo-link {
  display: block;
  width: 144px;
}

.footer__dev-logo-link img {
  width: 100%;
}

.footer__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  height: 30px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.footer__web-img {
  margin: 0 10px 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__web-link {
  font: 500 16px/26px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font: 500 16px/11px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.footer__social-list-item {
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-list-item:last-child {
  margin: 0 0 0 26px;
}

@media (max-width: 1279px) {
  .footer {
    padding: 0 30px;
  }
  .footer .footer__web-link {
    display: none;
  }
  .footer .footer__social-list-item {
    margin: 0 20px 0 0;
  }
  .footer .footer__social-list-item:first-child {
    display: none;
  }
  .footer .footer__social-list-item:last-child {
    margin: 0 0 0 16px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0 15px;
  }
  .footer .footer__web {
    display: none;
  }
  .footer .footer__social-list-item:not(:last-child) {
    display: none;
  }
}
