body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.none-before:before {
  display: none;
}

.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__link-item {
  font: 15px/15px 'Geometria';
  color: #666666;
  margin: 0 20px 0 0;
  height: 15px;
  white-space: nowrap;
}

.footer__link-item a {
  color: inherit;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer__link-item a:hover {
  color: #d8d8d8;
}

.footer__link-item:nth-child(5) {
  padding: 0 0 0 27px;
  position: relative;
}

.footer__link-item:nth-child(5):before {
  content: '';
  position: absolute;
  width: 18px;
  height: 19px;
  left: 0;
  top: -2px;
  background: url("../img/insta-bp-ic.svg") center no-repeat;
}

.footer__background-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  right: 0;
  bottom: -2px;
}

.footer__background-link:hover {
  opacity: .7;
}

@media (max-width: 1399px) {
  .footer__wrap {
    max-width: 970px;
  }
}

@media (max-width: 1069px) {
  .footer__wrap {
    max-width: 640px;
  }
  .footer__link {
    width: 100%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .footer__link-item:first-child {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 20px 0 0;
  }
}

@media (max-width: 729px) {
  .footer {
    height: auto;
    padding: 0 0 17px 0;
  }
  .footer__wrap {
    width: calc(100% - 92px);
    max-width: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__link-item:nth-child(1), .footer__link-item:nth-child(2), .footer__link-item:nth-child(3) {
    width: 100%;
    margin: 20px 0 0;
  }
  .footer__link-item:nth-child(4), .footer__link-item:nth-child(5) {
    margin: 20px 20px 0 0;
  }
}

@media (max-width: 425px) {
  .footer__wrap {
    width: calc(100% - 40px);
  }
}
