.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__link-item {
  font: 15px/15px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  margin: 0 20px 0 0;
  height: 15px;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.footer__link-item:hover:not(:first-child) {
  opacity: .7;
}

.footer__link-item a {
  color: inherit;
  border-bottom: 1px solid #d8d8d8;
}

.footer__link-item:nth-child(5) {
  padding: 0 0 0 27px;
  position: relative;
}

.footer__link-item:nth-child(5):before {
  content: '';
  position: absolute;
  width: 18px;
  height: 19px;
  left: 0;
  top: -2px;
  background: url("../img/insta-bp-ic.svg") center no-repeat;
}

.footer__background-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  right: 0;
  bottom: -2px;
}

.footer__background-link:hover {
  opacity: .7;
}

@media (max-width: 1399px) {
  .footer__wrap {
    max-width: 970px;
  }
}

@media (max-width: 1069px) {
  .footer {
    height: 120px;
  }
  .footer__wrap {
    max-width: 640px;
  }
  .footer__link {
    width: 100%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .footer__link-item:first-child {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 25px 0 0;
  }
}

@media (max-width: 729px) {
  .footer {
    height: 145px;
    padding: 0 0 17px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__wrap {
    width: calc(100% - 92px);
    max-width: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__link-item:nth-child(1), .footer__link-item:nth-child(2), .footer__link-item:nth-child(3) {
    width: 100%;
    margin: 17px 0 0;
  }
  .footer__link-item:nth-child(1) a:hover, .footer__link-item:nth-child(2) a:hover, .footer__link-item:nth-child(3) a:hover {
    color: #666666;
  }
  .footer__link-item:nth-child(1) {
    margin: 25px 0 0;
  }
  .footer__link-item:nth-child(4), .footer__link-item:nth-child(5) {
    margin: 17px 20px 0 0;
  }
  .footer__link-item:nth-child(4) a:hover, .footer__link-item:nth-child(5) a:hover {
    color: #666666;
  }
  .footer__background-link:hover {
    opacity: 1;
  }
  .footer__link-item {
    font-size: 13px;
    font-weight: 18px;
  }
  .footer__background-link svg {
    height: 16px;
  }
}

@media (max-width: 425px) {
  .footer__wrap {
    width: calc(100% - 40px);
  }
}
