@import url(//hello.myfonts.net/count/394097);.head__mobile {
  display: none;
}

.head__modal-menu {
  display: none;
}

.modal-menu__list_user {
  display: none;
}

.modal-menu__list_bloger {
  display: none;
}

.head, .head__mobile {
  width: 100%;
}

.head__wrap, .head__account {
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.head__container {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__navigate {
  width: 50%;
  max-width: 477px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 0 0;
}

.head__navigate-item {
  font: 500 15px/1 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  cursor: pointer;
}

.head__navigate-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 1px 0;
}

.head__navigate-item:hover {
  opacity: .7;
}

.head__login {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.head__login-item {
  font: 500 15px/18px "Geometria";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  margin: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__login-item:last-child {
  margin: 0;
  padding: 1px 0 0;
}

.head__login-item:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .head__login-item:hover {
    opacity: 1;
  }
}

.head__login-item .head__login-avatar {
  width: 34px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #7f7f7f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px 0 0;
}

.head__login-item .head__login-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__login-item .head__login-avatar-wrap {
  width: 28px;
  height: 28px;
  background-color: #7f7f7f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__login-item .head__login-avatar-text {
  font: 500 15px/15px 'Geometria';
  color: #fff;
}

.head__login-item .head__login-avatar_blog {
  border: 2px solid #fff;
  overflow: hidden;
}

.head__login-item .head__login-avatar_blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__login-name {
  margin: 0;
  padding: 1px 0 0;
}

.head__account {
  background-color: #fff;
  height: 56px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}

.head__account_hide {
  display: none !important;
}

.head__point-user, .head__point-bloger {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 16px/18px "Geometria";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  padding: 0;
}

.head__point-user-counter, .head__point-bloger-counter {
  position: absolute;
  left: calc(100% + 3px);
  top: -5px;
  font: 14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  opacity: .6;
}

.head__point-user-counter_active, .head__point-bloger-counter_active {
  color: #d6712b;
  opacity: 1 !important;
}

.head__point-user-item, .head__point-bloger-item {
  margin: 0 35px 0 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.head__point-user-item:last-child, .head__point-bloger-item:last-child {
  margin: 0;
}

.head__point-user-item:hover, .head__point-bloger-item:hover {
  opacity: .7;
}

.head__point-user-item button, .head__point-bloger-item button {
  width: 180px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  color: #d6712b;
  border-radius: 4px;
  font: 500 15px/18px "Geometria";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.head__point-user-item button a, .head__point-bloger-item button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.head__point-user-item button:hover, .head__point-bloger-item button:hover {
  background-color: #d6712b;
  color: #fff;
  border-color: #d6712b;
}

@media (max-width: 1399px) {
  .head__container {
    max-width: 970px;
  }
}

@media (max-width: 1069px) {
  .main {
    margin-top: 50px;
  }
  .head, .head__mobile {
    display: none;
  }
  .head__container {
    max-width: 640px;
  }
  .head__modal-container {
    position: relative;
    height: calc(100vh - 50px);
    min-height: 513px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .head__navigate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .head__navigate-menu {
    width: 26px;
    height: 13px;
    margin: 0 25px 0 0;
    background: url("../img/menu-ic.svg");
  }
  .head__modal-menu {
    width: 100%;
    height: calc(100vh - 51px);
    position: absolute;
    top: 50px;
    left: 0;
    background: #000;
    z-index: 99;
    border-top: 1px solid #fff;
  }
  .head__modal-menu .head__wrap {
    height: auto;
  }
  .head__modal-menu .head__wrap .modal-menu__list {
    list-style-type: none;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 30px 0 0;
  }
  .head__modal-menu .head__wrap .modal-menu__list-item {
    margin: 0 0 15px;
    position: relative;
  }
  .head__modal-menu .head__wrap .modal-menu__list-item span {
    font: 16px 'Geometria';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    opacity: .6;
  }
  .head__modal-menu .head__wrap .modal-menu__list-item_active {
    color: #d6712b !important;
    opacity: 1 !important;
  }
  .head__modal-menu .head__wrap .modal-menu__list-item button {
    width: 237px;
    height: 60px;
    background: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #d6712b;
    font: 500 20px 'Geometria';
  }
  .head__modal-container .modal-menu__list_no-login {
    font: 20px/32px 'Geometria';
  }
  .head__login-name {
    display: none;
  }
  .head__login-item {
    margin: 0;
  }
  .head__login-item:last-child:not(:first-child) {
    display: none;
  }
  .head__login-item .head__login-avatar_blog {
    margin: 0;
  }
  .head__login-item .head__login-avatar {
    margin: 0;
  }
  .head__mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .head__mobile-menu_bloger .head__modal-menu,
  .head__mobile-menu_user .head__modal-menu,
  .head__mobile-menu_no-login .head__modal-menu {
    display: block;
  }
  .head__mobile-menu_bloger .head__navigate,
  .head__mobile-menu_user .head__navigate,
  .head__mobile-menu_no-login .head__navigate {
    width: auto;
  }
  .head__mobile-menu_bloger .head__navigate-item,
  .head__mobile-menu_user .head__navigate-item,
  .head__mobile-menu_no-login .head__navigate-item {
    margin: 0;
  }
  .head__mobile-menu_bloger .head__navigate-menu,
  .head__mobile-menu_user .head__navigate-menu,
  .head__mobile-menu_no-login .head__navigate-menu {
    width: 16px;
    height: 15px;
    background: url("../img/close-menu-ic.svg") center no-repeat;
    background-size: 100%;
  }
  .head__mobile-menu_bloger .head__login,
  .head__mobile-menu_user .head__login,
  .head__mobile-menu_no-login .head__login {
    width: calc(100% - 35px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head__mobile-menu_bloger .head__navigate-item:last-child,
  .head__mobile-menu_user .head__navigate-item:last-child,
  .head__mobile-menu_no-login .head__navigate-item:last-child {
    display: none;
  }
  .head__mobile-menu_bloger .head__login-name,
  .head__mobile-menu_user .head__login-name,
  .head__mobile-menu_no-login .head__login-name {
    display: block;
  }
  .head__mobile-menu_bloger .head__login-item,
  .head__mobile-menu_user .head__login-item,
  .head__mobile-menu_no-login .head__login-item {
    margin: 0;
  }
  .head__mobile-menu_bloger .head__login-item:last-child,
  .head__mobile-menu_user .head__login-item:last-child,
  .head__mobile-menu_no-login .head__login-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .head__mobile-menu_bloger .head__login-item .head__login-avatar_blog,
  .head__mobile-menu_user .head__login-item .head__login-avatar_blog,
  .head__mobile-menu_no-login .head__login-item .head__login-avatar_blog {
    margin: 0 8px 0 0;
  }
  .head__mobile-menu_bloger .head__login-item .head__login-avatar,
  .head__mobile-menu_user .head__login-item .head__login-avatar,
  .head__mobile-menu_no-login .head__login-item .head__login-avatar {
    margin: 0 8px 0 0;
  }
  .head__mobile-menu_bloger .modal-menu__list_bloger {
    display: block;
    font: 20px/32px 'Geometria';
  }
  .head__mobile-menu_bloger .modal-menu__list_no-login {
    position: absolute;
    bottom: 30px;
    left: 0;
    font: 500 16px/16px 'Geometria';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .head__mobile-menu_bloger .modal-menu__list-item button {
    margin-top: 30px;
  }
  .head__mobile-menu_user .modal-menu__list_user {
    display: block;
    font: 20px/32px 'Geometria';
  }
  .head__mobile-menu_user .modal-menu__list_no-login {
    position: absolute;
    bottom: 30px;
    left: 0;
    font: 500 16px/16px 'Geometria';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .head__mobile-menu_no-login .head__modal-menu {
    width: calc(100% + 10px);
    display: block;
  }
  .head__mobile-menu_no-login .head__navigate-menu {
    background: url("../img/close-menu-ic.svg") center no-repeat;
    background-size: 100%;
  }
  .head__mobile-menu_no-login .modal-menu__list_no-login {
    display: block;
  }
}

@media (max-width: 729px) {
  .head__container {
    width: calc(100% - 90px);
    max-width: none;
  }
  .main__nav-content-path h1:not(.active):hover, .head__navigate-item:hover {
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .head__container {
    width: calc(100% - 40px);
  }
}
