.header {
  width: 100%;
  height: 146px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 20;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__head {
  width: 100%;
  padding: 0 40px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dcddde;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__head-sell .g-link_red {
  position: relative;
  padding: 0 0 0 24px;
}

.header__head-sell .g-link_red:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 14px;
  height: 20px;
  background: url("../img/location.svg");
}

.header__head-logo {
  width: 266px;
  height: 80px;
  background: url("../img/logo_desk.svg") no-repeat;
  background-size: 100%;
}

.header__head-phone {
  text-align: right;
}

.header__head-phone .head-phone__paragraf {
  margin: 0;
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  opacity: .8;
  color: #000105;
}

.header__head-menu {
  display: none;
}

.header__nav {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

.header__nav-list {
  width: 100%;
  max-width: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font: 500 14px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.header__nav-list-item {
  margin: 13px 0;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.header__nav-list-item:not(:last-child) {
  margin: 13px 20px 13px 0;
}

.header__nav-list-item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 0%;
  height: 2px;
  background: #e7490f;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.header__nav-list-item:hover:before {
  width: 100%;
}

.header__nav-footer {
  display: none;
}

@media (max-width: 1279px) {
  .header {
    height: auto;
  }
  .header__head {
    border: none;
    padding: 0 30px;
    height: 67px;
  }
  .header__head-sell, .header__head-phone {
    display: none;
  }
  .header__head-logo {
    width: 303px;
    height: 48px;
    background: url("../img/logo_tablet.svg") no-repeat;
    background-size: 100%;
  }
  .header__head-menu {
    display: block;
  }
  .header__head-menu-item {
    width: 20px;
    height: 3px;
    border-radius: 1.5px;
    background: #000105;
  }
  .header__head-menu-item:not(:last-child) {
    margin: 0 0 3px;
  }
  .header__nav {
    display: none;
    width: 100%;
    max-width: none;
    height: calc(100vh - 67px);
    min-height: calc(568px);
    position: fixed;
    left: 0;
    top: 67px;
    background: #fff;
    padding: 0 0 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__nav-list {
    margin: 38px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    font-size: 24px;
    line-height: 30px;
  }
  .header__nav-list-item {
    margin: 0;
  }
  .header__nav-list-item:not(:last-child) {
    margin: 0 0 20px;
  }
  .header__nav-footer {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-footer-sell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__nav-footer-sell .g-link_red {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    position: relative;
    padding: 0 0 0 24px;
  }
  .header__nav-footer-sell .g-link_red:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 20px;
    background: url("../img/location.svg") no-repeat;
    background-size: 100%;
  }
  .header__nav-footer-phone {
    font: 500 20px/26px "Museo Sans Cyrl";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    color: #000105;
    margin: 10px 0 0;
  }
  .header__nav-footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__nav-footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 0 20px;
    padding: 0 5px 0 0;
  }
  .header__nav-footer-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-footer-list-item:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .header__nav-footer-descr {
    font: 500 12px/18px "Museo Sans Cyrl";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    color: #000105;
    opacity: .6;
  }
}

@media (max-width: 767px) {
  .header__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__head {
    width: calc(50% + (168px / 2));
    padding: 0 15px 0 0;
  }
  .header__head-logo {
    width: 168px;
    height: 50px;
    background: url("../img/logo_desk.svg") no-repeat;
    background-size: 100%;
  }
  .header__nav {
    padding: 0 0 0 15px;
  }
  .header__nav-list {
    margin: 17px 0 0;
  }
  .header__nav-list-item {
    margin: 0;
  }
  .header__nav-list-item:not(:last-child) {
    margin: 0 0 15px;
  }
  .header__nav-footer {
    width: calc(100% - 30px);
    left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .header__nav-footer-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-footer-list {
    margin: 25px 0 0;
  }
}
