@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__head,
  .main__content,
  .main__footer {
    max-width: 970px;
  }
  .main__head-wrap {
    height: 496px;
  }
  .main__head-wrap,
  .main__content-paragraf,
  .main__content-subtitle,
  .main__content-list,
  .main__footer-paragraf {
    max-width: 888px;
  }
}

@media (max-width: 1069px) {
  .main__head,
  .main__content,
  .main__footer {
    max-width: 640px;
  }
  .main__head-wrap {
    height: 357px;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__content,
  .main__footer {
    max-width: calc(100% - 92px);
  }
  .main__head {
    margin: 20px 0 15px;
  }
  .main__head-wrap {
    height: auto;
    max-height: 454px;
    overflow: hidden;
  }
  .main__content h1 {
    font-size: 26px;
    line-height: 38px;
    margin: 0 0 25px;
  }
  .main__content p,
  .main__content ol,
  .main__content ul,
  .main__content h1:not(:first-child) {
    font-size: 14px;
    line-height: 22px;
  }
  .main__content p {
    margin: 10px 0 0;
  }
  .main__content p:not(:first-child) {
    margin: 20px 0 0;
  }
  .main__content ul,
  .main__content ol {
    margin: 5px 0 0;
    padding: 0 0 0 13px;
  }
  .main__content ul li:not(:last-child),
  .main__content ol li:not(:last-child) {
    margin: 0 0 5px;
  }
  .main__content h1:not(:first-child) {
    margin: 40px 0 6px;
  }
  .main__content-paragraf {
    margin: 10px 0 0;
  }
  .main__content-list {
    margin: 5px 0 0;
    padding: 0 0 0 13px;
  }
  .main__content-list-item:not(:last-child) {
    margin: 0 0 5px;
  }
  .main__footer {
    margin-bottom: 52px;
  }
  .main__footer p {
    font-size: 14px;
    line-height: 22px;
  }
  .main__footer-button {
    width: 100%;
    max-width: 251px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;
    margin: 26px 0 0;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__content,
  .main__footer {
    max-width: calc(100% - 40px);
  }
}
