@import url(//hello.myfonts.net/count/394097);.head {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__wrap {
  width: 100%;
  max-width: 1080px;
}

.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 92px 0 20px;
  position: relative;
}

.head__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__logo-title {
  font: 30px/30px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  color: rgba(127, 127, 127, 0.7);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.head__logo-title:not(:last-child) {
  margin: 0 30px 0 0;
}

.head__logo-title:hover:not(.head__logo-title_active):not(.head__logo-title_pass) {
  opacity: .7;
}

.head__logo-title_pass {
  color: #000;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.head__logo-title_active {
  color: #d6712b;
  position: relative;
}

.head__logo-title_active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d6712b;
  left: 0;
  bottom: -21px;
}

.head__logo-cls-btn {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 30px;
  background: url("../img/cls-btn.svg") no-repeat;
  background-size: 100%;
}

.main {
  width: 100%;
  min-height: auto;
  margin: 38px 0 0;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__wrap-content {
  width: 100%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__login {
  width: 50%;
  max-width: 530px;
}

.main__login-email {
  margin: 0 0 15px;
}

.main__login-descr {
  font: 500 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  margin: 0;
}

.main__login .input {
  margin: 6px 0 0;
  padding: 0 57px 0 20px;
}

.main__login-input-wrap {
  position: relative;
}

.main__login-show-pass {
  position: absolute;
  right: 15px;
  width: 27px;
  height: 12px;
  top: 34px;
  background: url("../img/show_pass.svg") no-repeat;
  cursor: pointer;
}

.main__login-show-pass_open {
  height: 14px;
  top: 30px;
  background: url("../img/show_pass_open.svg") center no-repeat;
}

.main__login-remember {
  font: 16px/24px 'Geometria';
  color: #7f7f7f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 15px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  max-width: 130px;
}

.main__login-remember:hover {
  opacity: .71;
}

@media (max-width: 729px) {
  .main__login-remember:hover {
    opacity: 1;
  }
}

.main__login-btn, .main__login-register {
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ff954b;
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 27px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.main__login-btn:hover, .main__login-register:hover {
  background: #d6712b;
}

.main__login-check-wrap {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__login-checkbox {
  display: none;
}

.main__login-checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.main__login .checkbox {
  margin: 2px 10px 0 0;
}

.main__login-polit {
  font: 14px/20px 'Geometria';
  color: #7f7f7f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
  width: calc(100% - 40px);
}

.main__login-polit:hover {
  opacity: .6;
}

@media (max-width: 729px) {
  .main__login-polit:hover {
    opacity: 1;
  }
}

.main__login-polit a {
  border-bottom: 1px solid #d8d8d8;
}

.main__login-register {
  width: 207px;
}

.main__login-email_pass {
  margin-bottom: 0;
}

.main__social {
  width: 50%;
  max-width: 419px;
}

.main__social-descr {
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  margin: 0 0 14px;
}

.main__social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__social-wrap div {
  width: 44px;
  height: 44px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main__social-wrap div:not(:last-child) {
  margin: 0 15px 0 0;
}

.main__social-wrap div:hover {
  background: #000;
  border-color: #000;
}

.main__social-wrap div:hover svg path {
  fill: #fff;
}

.main_two {
  display: none;
}

.main_two .main__title {
  font: 500 20px/34px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 15px;
}

.main_two .main__paragraf {
  font: 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  width: 100%;
  max-width: 430px;
  margin: 0;
}

.main_two .main__paragraf span {
  white-space: nowrap;
}

.main_two .main__paragraf_pass {
  max-width: none;
}

.main_three {
  display: none;
}
