.contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  background-color: #eaeaea;
}

p {
  margin: 0;
  padding: 0;
}

.line {
  width: 100%;
  margin: 70px 0;
  border: none;
  height: 1px;
  background: red;
}

.head-mail {
  width: 100%;
  height: 60px;
  background: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-mail img {
  width: 83px;
  height: 18px;
}

.body-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 45px 40px;
  background-color: #fff;
}

.title-mail {
  font: bold 30px/40px 'Helvetica', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 40px;
}

.text-mail {
  font: 18px/1.33 'Helvetica', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
}

.text-mail:not(:last-child) {
  margin: 0 0 25px;
}

.text-mail_end {
  font: 18px/1.33 'Helvetica', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  font-style: oblique;
  margin: 60px 0 0;
}

.subtext-mail {
  font: 13px/24px 'Helvetica', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #7f7f7f;
  margin: 40px 0 0;
}

.btn-mail {
  padding: 0 25px;
  background: #ff954b;
  color: #fff;
  font: 500 20px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border: none;
  height: 60px;
  border-radius: 4px;
  margin: 0 0 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn-mail:hover {
  background-color: #d6712b;
}

.moder,
.cnsl-event,
.block,
.delete,
.block-event,
.confirm-email,
.resume-pass,
.change-event,
.change-pass,
.registration,
.success-moder,
.notice-event,
.new-event {
  width: 600px;
}

.mail-event__item {
  display: block;
  width: 100%;
  height: 390px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mail-event__item:last-child {
  margin: 0;
}

.mail-event__snippet {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 15px 10px 20px;
  background: url("../img/event-one.jpg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mail-event__snippet:before {
  content: "";
  width: 100%;
  height: 215px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(32%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.8));
}

.mail-event__snippet-style {
  width: 100%;
  font: 500 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-event__snippet-style p {
  position: relative;
  margin: 0 0 0 21px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: bottom;
  letter-spacing: 2px;
}

.mail-event__snippet-style p:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: calc(-11px - 10px);
  top: 0;
}

.mail-event__snippet-title {
  margin: 20px 0 0;
  position: relative;
  font: 22px/30px 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
}

.mail-event__snippet-tags {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 500 12px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  opacity: .7;
  overflow: hidden;
  white-space: nowrap;
  margin: 25px 0 0;
}

.mail-event__snippet-tags p:not(:last-child) {
  margin: 0 10px 0 0;
}
