.main {
  width: 100%;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__preview {
  width: 100%;
  height: 57.576vw;
  max-height: 760px;
  min-height: 510px;
  background: #fff;
  background-size: cover;
  position: relative;
}

.main__preview-btn {
  position: absolute;
  width: 1240px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main__preview-btn-count {
  width: 110px;
  font: 54px/58px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 0 25px 0 0;
}

.main__preview-btn-count_span {
  font-size: 18px;
  line-height: 21px;
}

.main__preview-btn-prev, .main__preview-btn-next {
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__preview-btn-prev:hover, .main__preview-btn-next:hover {
  border-color: #fff;
  background-position-x: calc(50% - 3px);
}

.main__preview-btn-prev {
  background: url("../img/btn_next_white.svg") 50% 50% no-repeat;
  margin: 0 10px 0 0;
}

.main__preview-btn-next {
  background: url("../img/btn_next_white.svg") 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__preview-slider {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.main__preview-slider-wrap {
  height: 100%;
  position: relative;
  left: 0px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.main__preview-slider-item {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: opacity 1.2s,-webkit-transform 1.2s;
  transition: opacity 1.2s,-webkit-transform 1.2s;
  transition: opacity 1.2s,transform 1.2s;
  transition: opacity 1.2s,transform 1.2s,-webkit-transform 1.2s;
  overflow: hidden;
}

.main__preview-slider-item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  z-index: 30;
}

.main__preview-slider-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__preview-slider-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 266px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  opacity: .8;
  bottom: 0;
}

.main__preview-slider-item_active {
  will-change: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

.main__preview-slider-descr {
  position: absolute;
  width: calc(100% - 60px);
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-47%);
          transform: translateX(-47%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  max-width: 1240px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  visibility: hidden;
  opacity: 0;
}

.main__preview-slider-descr_hide {
  -webkit-transform: translateX(-53%);
          transform: translateX(-53%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.main__preview-slider-descr_show {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.main__preview-slider-title {
  max-width: 500px;
  color: #fff;
  margin: 0 0 20px;
}

.main__preview-slider-text {
  max-width: 500px;
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
}

.main__preview-content {
  position: absolute;
  width: 100%;
  max-width: 1240px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__preview-content .preview-content__descr {
  max-width: 500px;
}

.main__preview-content .preview-content__descr-title {
  color: #fff;
  margin: 0 0 20px;
}

.main__preview-content .preview-content__descr-paragraf {
  font: 500 16px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
}

.main__preview-content .preview-content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__preview-content .preview-content__wrap .preview-content__stock {
  width: 317px;
}

.main__preview-content .preview-content__wrap .preview-content__stock-title, .main__preview-content .preview-content__wrap .preview-content__news-title {
  font: 500 24px/29px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  position: relative;
  margin: 0 0 11px;
}

.main__preview-content .preview-content__wrap .preview-content__stock-title:before, .main__preview-content .preview-content__wrap .preview-content__news-title:before {
  content: '';
  position: absolute;
  left: -33px;
  top: 7.5px;
  width: 28px;
  height: 15px;
  background: url("../img/stock-ic.svg") no-repeat;
  background-size: 100%;
}

.main__preview-content .preview-content__wrap .preview-content__stock-paragraf {
  font: 500 12px/18px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: .4px;
  color: #fff;
  opacity: .7;
  margin: 0;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.main__preview-content .preview-content__wrap .preview-content__stock .g-link_white:hover {
  color: #e7490f;
}

.main__preview-content .preview-content__wrap .preview-content__news {
  width: 288px;
}

.main__preview-content .preview-content__wrap .preview-content__news-title:before {
  width: 37px;
  height: 30px;
  left: -42px;
  top: 0;
  background: url("../img/news-ic.svg") no-repeat;
}

.main__preview-content .preview-content__wrap .preview-content__news .g-link_white span {
  display: block;
}

.main__preview-content .preview-content__wrap .preview-content__news .g-link_white:hover {
  color: #e7490f;
}

.main__descr {
  width: 100%;
  background: rgba(170, 171, 34, 0.1);
  position: relative;
}

.main__descr-paragraf {
  font: 46px/1.52 'Leksa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  max-width: 1240px;
  margin: 155px 0;
  text-align: center;
}

.main__descr-paragraf .g-link_red {
  font: inherit;
  position: relative;
  text-decoration: none;
}

.main__descr-paragraf .g-link_red:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e7490f;
  right: 0;
  bottom: 0;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.main__descr-paragraf .g-link_red:hover:before {
  width: 0%;
}

.main__descr-img {
  width: 1240px;
  position: absolute;
  bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__place {
  width: 100%;
}

.main__place-title {
  margin: 120px 0 40px;
  width: 100%;
  max-width: 1240px;
}

.main__news {
  width: 100%;
  margin: 0 0 120px;
}

.main__news-title {
  margin: 120px 0 40px;
  width: 100%;
  max-width: 1240px;
}

.main__news-nav {
  width: calc(100% - 60px);
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__news-list {
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 10px;
  position: relative;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: rgba(0, 1, 5, 0.7);
  border-bottom: 1px solid rgba(0, 1, 5, 0.3);
  list-style: none;
}

.main__news-list-item {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.main__news-list-item:hover {
  color: #000105;
}

.main__news-list-item_active {
  color: #000105;
  position: relative;
}

.main__news-list-item_active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background: #e7490f;
}

.main__news-btn {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__news-btn-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  background: url("../img/btn_next_or.svg") 50% 50% no-repeat #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__news-btn-item:hover {
  background-position-x: calc(50% - 3px);
}

.main__news-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__news-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0;
}

.main__news-slider-wrap {
  width: 100%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.main__news-slider-item {
  width: 393px;
  min-width: 393px;
  margin: 0 30px 0 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.main__news-slider-item:last-child {
  margin: 0;
}

.main__news-slider-item:nth-child(4) {
  opacity: 0;
}

.main__news-slider-title {
  font: 500 20px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  margin: 5px 0;
}

.main__news-slider-date {
  font: 500 12px/18px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: rgba(0, 1, 5, 0.6);
}

.main__news-img {
  width: 100%;
  height: 226px;
  border-radius: 4px;
  overflow: hidden;
}

.main__news-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
