@media (max-width: 1280px) {
  .main__preview {
    height: 510px;
  }
  .main__preview-btn {
    left: 20px;
    width: auto;
    -webkit-transform: none;
            transform: none;
  }
  .main__preview-content {
    width: calc(100% - 69px);
    left: 49px;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 1279px) {
  .main__preview {
    height: 954px;
  }
  .main__preview:before {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  }
  .main__preview-btn {
    left: auto;
    right: 30px;
    top: auto;
    bottom: 50px;
  }
  .main__preview-content {
    width: calc(100% - 60px);
    height: calc(100% - 100px);
    -webkit-transform: none;
            transform: none;
    left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main__preview-content .preview-content__descr {
    max-width: 431px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__preview-content .preview-content__descr-title {
    font-size: 30px;
    line-height: 34px;
  }
  .main__preview-content .preview-content__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 33px;
  }
  .main__preview-content .preview-content__wrap .preview-content__news {
    margin: 30px 0 0;
  }
  .main__preview-content .preview-content__wrap .preview-content__news-title:before {
    width: 28px;
    left: -33px;
    background-size: 100%;
  }
  .main__descr-paragraf {
    font-size: 30px;
    line-height: 1.8;
    max-width: calc(100% - 60px);
    margin: 150px 0;
  }
  .main__descr-img {
    width: 100%;
    max-width: none;
  }
  .main__place-title,
  .main__news-title {
    font-size: 30px;
    line-height: 34px;
    max-width: calc(100% - 60px);
  }
}
