@import url(//hello.myfonts.net/count/394097);.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 100px 0;
}

.line {
  width: 100%;
  height: 1px;
  border: none;
  background: #d8d8d8;
  margin: 100px 0;
}

.change-pass {
  width: calc(100% - 20px);
  max-width: 700px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change-pass__cls-btn {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  right: 10.7px;
  top: 10px;
  background: url("../img/cls-btn.svg") no-repeat #fff;
  background-size: 100%;
  cursor: pointer;
}

.change-pass__wrap {
  width: calc(100% - 70px);
  max-width: 530px;
  margin: 50px 0 70px;
}

.change-pass__wrap .input {
  padding: 0 57px 0 20px;
}

.change-pass__title {
  font: 30px/30px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 35px;
}

.change-pass__old-pass {
  margin: 0 0 25px;
}

.change-pass__descr, .email-modal__descr {
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  margin: 0 0 6px;
}

.change-pass__input-wrap {
  position: relative;
}

.change-pass__show-pass {
  position: absolute;
  right: 15px;
  width: 27px;
  height: 12px;
  top: 50%;
  background: url("../img/show_pass.svg") no-repeat;
  cursor: pointer;
}

.change-pass__show-pass_open {
  height: 14px;
  top: calc(50% - 4px);
  background: url(../img/show_pass_open.svg) center no-repeat;
}

.change-pass__btn-save {
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ff954b;
  font: 500 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 40px 0 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.change-pass__btn-save:hover {
  background: #d6712b;
}

@media (max-width: 729px) {
  .change-pass__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .change-pass__descr, .email-modal__descr {
    font-size: 14px;
    line-height: 22px;
  }
  .change-pass__old-pass {
    margin-bottom: 10px;
  }
  .change-pass__wrap .input {
    padding-left: 15px;
  }
}

@media (max-width: 425px) {
  .change-pass__wrap {
    width: calc(100% - 30px);
  }
}

.info-modal {
  width: calc(100% - 20px);
  max-width: 700px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-modal__cls-btn {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  right: 10.7px;
  top: 10px;
  background: url("../img/cls-btn.svg") no-repeat #fff;
  background-size: 100%;
  cursor: pointer;
}

.info-modal__wrap {
  width: calc(100% - 70px);
  max-width: 540px;
  margin: 50px 0 70px;
}

.info-modal__title {
  margin: 0 0 30px;
  font: 30px/40px "TTDrugsCondensed-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  max-width: 417px;
}

.info-modal__paragraf {
  font: 16px/1.38 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  color: #333;
}

.info-modal__paragraf:not(:nth-child(3)) {
  margin: 0 0 15px;
}

.info-modal__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0 0;
}

@media (max-width: 729px) {
  .info-modal__wrap {
    max-width: none;
  }
  .info-modal__title {
    font-size: 26px;
    line-height: 38px;
    max-width: none;
  }
  .info-modal__paragraf {
    font-size: 14px;
    line-height: 1.43;
  }
}

@media (max-width: 425px) {
  .info-modal__wrap {
    width: calc(100% - 30px);
  }
}

.notice-modal, .email-modal, .sucess-modal, .block-modal {
  width: calc(100% - 20px);
  max-width: 700px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notice-modal__wrap {
  width: calc(100% - 70px);
  max-width: 540px;
  margin: 50px 0 20px;
}

.notice-modal__title {
  font: 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 30px;
}

.notice-modal__check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notice-modal__check-wrap:not(:nth-child(3)) {
  margin: 0 0 10px;
}

.notice-modal__checkbox {
  display: none;
}

.notice-modal__checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.notice-modal .checkbox, .email-modal .checkbox, .sucess-modal .checkbox, .block-modal .checkbox {
  margin: 2px 10px 0 0;
}

.notice-modal__check {
  font: 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  width: calc(100% - 40px);
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.notice-modal__check span {
  white-space: nowrap;
}

.notice-modal__check:hover {
  opacity: .6;
}

@media (max-width: 729px) {
  .notice-modal__check:hover {
    opacity: 1;
  }
}

.notice-modal .g-btn_orange, .email-modal .g-btn_orange, .sucess-modal .g-btn_orange, .block-modal .g-btn_orange {
  margin: 27px 0 0;
}

.notice-modal__info, .email-modal__info {
  font: 14px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  margin: 50px 0 0;
}

@media (max-width: 729px) {
  .notice-modal__wrap {
    margin: 30px 0 20px;
  }
  .notice-modal__title {
    margin: 0 0 25px;
  }
  .notice-modal__check {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 425px) {
  .notice-modal__wrap {
    width: calc(100% - 30px);
  }
}

.email-modal__wrap {
  width: calc(100% - 70px);
  max-width: 540px;
  margin: 52px 0 46px;
}

.email-modal__info {
  margin: 6px 0 0;
}

.email-modal .input {
  padding: 0 20px;
}

.email-modal__check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 39px 0 0;
}

.email-modal__checkbox {
  display: none;
}

.email-modal__checkbox:checked + .checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.email-modal .checkbox {
  margin: 3px 10px 0 0;
}

.email-modal__check {
  font: 14px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  width: calc(100% - 40px);
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.email-modal__check span {
  white-space: nowrap;
}

.email-modal__check a {
  border-bottom: 1px solid #d8d8d8;
}

.email-modal__check:hover {
  opacity: .6;
}

@media (max-width: 729px) {
  .email-modal__check:hover {
    opacity: 1;
  }
}

.email-modal .g-btn_orange {
  margin: 18px 0 0;
}

@media (max-width: 729px) {
  .email-modal__wrap {
    margin: 40px 0 50px;
  }
  .email-modal__descr {
    font-size: 14px;
    line-height: 22px;
  }
  .email-modal__info {
    font-size: 14px;
    line-height: 22px;
  }
  .email-modal__check {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 425px) {
  .email-modal__wrap {
    width: calc(100% - 30px);
  }
  .email-modal .checkbox {
    margin-top: 0;
  }
}

.sucess-modal__wrap {
  width: calc(100% - 78px);
  max-width: 530px;
  margin: 66px 0 90px;
}

.sucess-modal__title {
  font: 30px/30px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  position: relative;
  margin: 0;
  padding: 0 0 0 64px;
}

.sucess-modal__title:before {
  content: '';
  position: absolute;
  width: 54px;
  height: 42px;
  left: 0;
  top: -13px;
  background: url("../img/sucess.svg") no-repeat;
  background-size: 100%;
}

.sucess-modal__paragraf {
  font: 18px/29px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 30px 0 0;
}

@media (max-width: 729px) {
  .sucess-modal__wrap {
    margin: 37px 0 48px;
  }
  .sucess-modal__paragraf {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 425px) {
  .sucess-modal__wrap {
    width: calc(100% - 30px);
  }
}

.block-modal__wrap {
  width: calc(100% - 78px);
  max-width: 530px;
  margin: 62px 0 70px;
}

.block-modal__title {
  font: 30px/42px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  margin: 0;
}

.block-modal__paragraf {
  font: 18px/29px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 30px 0 0;
}

@media (max-width: 729px) {
  .block-modal__wrap {
    margin: 37px 0 48px;
  }
  .block-modal__title {
    font-size: 24px;
    line-height: 1.25;
  }
  .block-modal__paragraf {
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0 0;
  }
}

@media (max-width: 425px) {
  .block-modal__wrap {
    width: calc(100% - 30px);
  }
}

.hint-modal {
  height: 47px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  background: #d6712b;
  margin: 10px 0;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hint-modal__text {
  font: 500 14px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  position: relative;
  padding: 0 0 0 28px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hint-modal__text:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 16px;
  top: 1px;
  left: 0;
  background: url("../img/sucess-white.svg") no-repeat;
  background-size: 100%;
}

.notice-help {
  max-width: 310px;
  border-radius: 4px;
  background: #d6712b;
  margin: 0 0 40px;
  padding: 15px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.notice-help:hover .notice-help__paragraf {
  border-bottom: 1px solid #fff;
}

.notice-help:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 63px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #d6712b;
}

.notice-help__cls-btn {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  right: 10.7px;
  top: 10px;
  background: url("../img/cls-btn.svg") no-repeat #fff;
  background-size: 100%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: 10px;
  right: 8px;
  background: url("../img/cls-btn-white.svg") no-repeat transparent;
}

.notice-help__title {
  font: 500 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
}

.notice-help__sub-title {
  font: 500 14px/19px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
}

.notice-help__sub-title span {
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.notice-help__sub-title span:hover {
  opacity: .6;
}

@media (max-width: 729px) {
  .notice-help__sub-title span:hover {
    opacity: 1;
  }
}

.notice-help__format {
  font: 500 12px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notice-help__paragraf {
  display: inline;
  font: 17px/24px "TTDrugsCondensed-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
}

.change-theme {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  padding: 17px 0 33px;
}

.change-theme__container {
  width: 100%;
  max-width: 1080px;
}

.change-theme__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change-theme__title {
  display: none;
  font: 500 16px/28px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  width: 200px;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 28px;
  margin: 0 0 30px;
}

.change-theme__title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 15px;
  background: url("../img/cls-btn-black.svg") no-repeat;
}

.change-theme__intrest {
  padding: 0 0 12px;
  border-bottom: 1px solid #d8d8d8;
  color: #333;
}

.change-theme__intrest-title {
  font: 500 14px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
}

.change-theme__other {
  padding: 0 0 12px;
  border-bottom: 1px solid #d8d8d8;
  color: #333;
}

.change-theme__other-title {
  font: 500 14px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
}

.change-theme__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 412px;
  padding: 10px 0 0;
}

.change-theme__theme-wrap {
  width: 216px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 18px;
  padding: 0 10px 0 0;
}

.change-theme__theme-wrap:nth-child(10), .change-theme__theme-wrap:nth-child(20) {
  margin: 0;
}

.change-theme__theme-input {
  display: none;
}

.change-theme__theme-text {
  font: 15px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  width: 200px;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.change-theme__theme-text:hover:not(:checked) {
  color: #d6712b;
}

@media (max-width: 729px) {
  .change-theme__theme-text:hover:not(:checked) {
    color: #333;
  }
}

.change-theme__theme-text_all {
  font-weight: 500;
}

.change-theme__theme-input:checked + .change-theme__theme-text {
  color: #d6712b;
}

.change-theme__theme-input:checked + .change-theme__theme-text:hover {
  opacity: 1;
}

.change-theme__theme_intrest {
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 0 30px;
}

@media (max-width: 1399px) {
  .change-theme {
    max-width: 970px;
  }
  .change-theme__container {
    max-width: 806px;
  }
  .change-theme__theme {
    height: 440px;
  }
  .change-theme__theme-wrap {
    max-width: 146px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .change-theme__theme-wrap:nth-child(10), .change-theme__theme-wrap:nth-child(20) {
    margin: 0 0 18px;
  }
}

@media (max-width: 1069px) {
  .change-theme {
    width: 100vw;
    min-height: 100vh;
    background: #fff;
    top: 0;
    left: 0;
    max-width: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 99;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .change-theme__wrap {
    width: 100%;
    max-width: 640px;
  }
  .change-theme__title {
    display: block;
  }
  .change-theme__container {
    max-width: none;
    width: 100%;
  }
  .change-theme__theme {
    height: 436px;
    padding: 0;
  }
  .change-theme__theme-wrap {
    max-width: 145px;
    padding: 0 10px 0 0;
    margin: 0 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .change-theme__theme-wrap:nth-child(10), .change-theme__theme-wrap:nth-child(20) {
    margin: 0 0 10px;
  }
  .change-theme__theme-text {
    font-size: 14px;
  }
}

@media (max-width: 729px) {
  .change-theme__wrap {
    max-width: calc(100% - 92px);
  }
  .change-theme__theme {
    height: auto;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .change-theme__theme-wrap {
    width: 50%;
    max-width: none;
  }
  .change-theme__theme-wrap:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .change-theme__theme-wrap:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .change-theme__theme-wrap:nth-child(25) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .change-theme__theme-wrap:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .change-theme__theme-wrap:nth-child(26) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .change-theme__theme-wrap:nth-child(4) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .change-theme__theme-wrap:nth-child(27) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .change-theme__theme-wrap:nth-child(5) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .change-theme__theme-wrap:nth-child(28) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .change-theme__theme-wrap:nth-child(6) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .change-theme__theme-wrap:nth-child(29) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .change-theme__theme-wrap:nth-child(7) {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .change-theme__theme-wrap:nth-child(30) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .change-theme__theme-wrap:nth-child(8) {
    -webkit-box-ordinal-group: 16;
        -ms-flex-order: 15;
            order: 15;
  }
  .change-theme__theme-wrap:nth-child(31) {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .change-theme__theme-wrap:nth-child(9) {
    -webkit-box-ordinal-group: 18;
        -ms-flex-order: 17;
            order: 17;
  }
  .change-theme__theme-wrap:nth-child(32) {
    -webkit-box-ordinal-group: 17;
        -ms-flex-order: 16;
            order: 16;
  }
  .change-theme__theme-wrap:nth-child(10) {
    -webkit-box-ordinal-group: 20;
        -ms-flex-order: 19;
            order: 19;
  }
  .change-theme__theme-wrap:nth-child(33) {
    -webkit-box-ordinal-group: 19;
        -ms-flex-order: 18;
            order: 18;
  }
  .change-theme__theme-wrap:nth-child(11) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
  }
  .change-theme__theme-wrap:nth-child(34) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .change-theme__theme-wrap:nth-child(12) {
    -webkit-box-ordinal-group: 24;
        -ms-flex-order: 23;
            order: 23;
  }
  .change-theme__theme-wrap:nth-child(35) {
    -webkit-box-ordinal-group: 23;
        -ms-flex-order: 22;
            order: 22;
  }
  .change-theme__theme-wrap:nth-child(13) {
    -webkit-box-ordinal-group: 26;
        -ms-flex-order: 25;
            order: 25;
  }
  .change-theme__theme-wrap:nth-child(36) {
    -webkit-box-ordinal-group: 25;
        -ms-flex-order: 24;
            order: 24;
  }
  .change-theme__theme-wrap:nth-child(14) {
    -webkit-box-ordinal-group: 28;
        -ms-flex-order: 27;
            order: 27;
  }
  .change-theme__theme-wrap:nth-child(37) {
    -webkit-box-ordinal-group: 27;
        -ms-flex-order: 26;
            order: 26;
  }
  .change-theme__theme-wrap:nth-child(15) {
    -webkit-box-ordinal-group: 30;
        -ms-flex-order: 29;
            order: 29;
  }
  .change-theme__theme-wrap:nth-child(38) {
    -webkit-box-ordinal-group: 29;
        -ms-flex-order: 28;
            order: 28;
  }
  .change-theme__theme-wrap:nth-child(16) {
    -webkit-box-ordinal-group: 32;
        -ms-flex-order: 31;
            order: 31;
  }
  .change-theme__theme-wrap:nth-child(39) {
    -webkit-box-ordinal-group: 31;
        -ms-flex-order: 30;
            order: 30;
  }
  .change-theme__theme-wrap:nth-child(17) {
    -webkit-box-ordinal-group: 34;
        -ms-flex-order: 33;
            order: 33;
  }
  .change-theme__theme-wrap:nth-child(40) {
    -webkit-box-ordinal-group: 33;
        -ms-flex-order: 32;
            order: 32;
  }
  .change-theme__theme-wrap:nth-child(18) {
    -webkit-box-ordinal-group: 36;
        -ms-flex-order: 35;
            order: 35;
  }
  .change-theme__theme-wrap:nth-child(41) {
    -webkit-box-ordinal-group: 35;
        -ms-flex-order: 34;
            order: 34;
  }
  .change-theme__theme-wrap:nth-child(19) {
    -webkit-box-ordinal-group: 38;
        -ms-flex-order: 37;
            order: 37;
  }
  .change-theme__theme-wrap:nth-child(42) {
    -webkit-box-ordinal-group: 37;
        -ms-flex-order: 36;
            order: 36;
  }
  .change-theme__theme-wrap:nth-child(20) {
    -webkit-box-ordinal-group: 40;
        -ms-flex-order: 39;
            order: 39;
  }
  .change-theme__theme-wrap:nth-child(43) {
    -webkit-box-ordinal-group: 39;
        -ms-flex-order: 38;
            order: 38;
  }
  .change-theme__theme-wrap:nth-child(21) {
    -webkit-box-ordinal-group: 42;
        -ms-flex-order: 41;
            order: 41;
  }
  .change-theme__theme-wrap:nth-child(44) {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .change-theme__theme-wrap:nth-child(22) {
    -webkit-box-ordinal-group: 44;
        -ms-flex-order: 43;
            order: 43;
  }
  .change-theme__theme-wrap:nth-child(45) {
    -webkit-box-ordinal-group: 43;
        -ms-flex-order: 42;
            order: 42;
  }
  .change-theme__theme-wrap:nth-child(23) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .change-theme__theme-wrap:nth-child(46) {
    -webkit-box-ordinal-group: 45;
        -ms-flex-order: 44;
            order: 44;
  }
  .change-theme__theme-wrap:nth-child(24) {
    -webkit-box-ordinal-group: 48;
        -ms-flex-order: 47;
            order: 47;
  }
  .change-theme__theme-wrap:nth-child(47) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .change-theme__theme-wrap:nth-child(48) {
    -webkit-box-ordinal-group: 49;
        -ms-flex-order: 48;
            order: 48;
  }
}

@media (max-width: 425px) {
  .change-theme__wrap {
    max-width: calc(100% - 40px);
  }
}

.modal-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  position: relative;
}

.modal-calendar:before {
  content: '';
  position: absolute;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 -4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 -4px 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal-calendar__container {
  width: calc(100% - 30px);
}

.modal-calendar__wrap {
  width: 290px;
  border-radius: 4px;
  min-height: 310px;
  padding: 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fff;
}

.modal-calendar__change-month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 10px;
}

.modal-calendar__prev-btn, .modal-calendar__next-btn {
  width: 8px;
  height: 14px;
  background: url("../img/next-btn-grey.svg") no-repeat;
  background-size: 100%;
}

.modal-calendar__prev-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-calendar__change-month_hide {
  width: calc(100% - 16px);
  height: 31px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-calendar__change-month_hide .change-month__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2880px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font: 16px/28px 'Geometria';
  color: #333;
}

.modal-calendar__change-month_hide .change-month__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
}

.modal-calendar .change-day__week,
.modal-calendar .change-day__day {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-calendar .change-day__week {
  font-weight: 500;
  margin: 10px 0 30px;
  color: #a5a5a5;
}

.modal-calendar .change-day__week-item {
  width: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-calendar .change-day__day {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal-calendar .change-day__day-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  margin: 0 0 25px;
}

.modal-calendar .change-day__day_past {
  color: #a5a5a5;
}

.modal-calendar__info {
  width: 290px;
  margin: 3px 0 0;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
  background: #fff;
}

.modal-calendar__info-paragraf {
  max-width: 205px;
  font: 12px/17px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  position: relative;
  margin: 0;
}

.modal-calendar__info-paragraf:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -26px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url("../img/info.svg") center no-repeat #ff954b;
}

.more-filter {
  padding: 20px 0;
  width: calc(100% - 92px);
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.more-filter__title {
  display: block;
  font: 500 16px/28px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 28px;
  margin: 20px 0 25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.more-filter__title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 15px;
  background: url("../img/cls-btn-black.svg") no-repeat;
}

.more-filter input {
  display: none;
}

.more-filter input[type='checkbox']:checked + .more-filter__checkbox {
  background: url("../img/check.svg") 50% 49% no-repeat #ff954b;
  border-color: #ff954b;
}

.more-filter__checkbox {
  display: inline-block;
  padding: 3px;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 1px rgba(102, 102, 102, 0.7);
  background-color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.more-filter__wrapper {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font: 14px/14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  padding: 0;
  margin: 0;
}

.more-filter__wrapper .more-filter_free,
.more-filter__wrapper .more-filter__date-wrap,
.more-filter__wrapper .more-filter__main-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.more-filter__wrapper .more-filter_free label:not(.more-filter__date-wrap),
.more-filter__wrapper .more-filter__date-wrap label:not(.more-filter__date-wrap),
.more-filter__wrapper .more-filter__main-sub label:not(.more-filter__date-wrap) {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.more-filter__wrapper .more-filter_free:hover:not(.more-filter__date-wrap) label,
.more-filter__wrapper .more-filter__date-wrap:hover:not(.more-filter__date-wrap) label,
.more-filter__wrapper .more-filter__main-sub:hover:not(.more-filter__date-wrap) label {
  opacity: .7;
  cursor: pointer;
}

.more-filter__item {
  margin: 0 0 25px;
}

.more-filter__wrapper_find {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 14px/14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  padding: 0;
  margin: 0;
}

.more-filter__wrapper_find li:first-child {
  margin: 0 15px 0 0;
}

.more-filter__wrapper_find li:last-child {
  padding: 0 0 0 26px;
  cursor: pointer;
  position: relative;
}

.more-filter__wrapper_find li:last-child:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 21px;
  height: 21px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  background: url("../img/close-ic.svg") center no-repeat #fff;
}

.more-filter__wrapper_not-find {
  display: none;
}

.more-filter__date-wrap {
  margin: 0;
}

.more-filter__main-sub {
  display: none;
}

.more-filter__calendar.modal-calendar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 0 25px;
}

.more-filter__calendar.modal-calendar:before {
  display: none;
}

.more-filter__calendar.modal-calendar .modal-calendar__info {
  margin: 0 0 20px;
  padding: 0;
}

.more-filter__calendar.modal-calendar .modal-calendar__info-paragraf {
  margin: 0;
}

.more-filter__calendar.modal-calendar .modal-calendar__wrap {
  overflow: hidden;
  height: 312px;
  min-height: auto;
}

.more-filter__immediate {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666666;
  padding: 0;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.more-filter__immediate li {
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.more-filter__immediate li:last-child {
  margin: 0 0 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.more-filter__immediate li:last-child:before {
  content: '';
  width: 20px;
  height: 22px;
  position: absolute;
  background: url("../img/kalendar.svg") no-repeat;
  left: -28px;
  top: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.more-filter__immediate li:last-child:hover {
  opacity: .7;
}

.more-filter__immediate li label {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.more-filter__immediate li label:hover {
  opacity: .7;
}

.more-filter__immediate input:checked + label {
  color: #d6712b;
}

@media (max-width: 425px) {
  .more-filter {
    width: calc(100% - 40px);
    max-width: none;
  }
}

.del-modal {
  width: calc(100% - 30px);
  max-width: 280px;
  border: 1px solid #ff954b;
  -webkit-box-shadow: 0 1px 8px 0 rgba(255, 149, 75, 0.35);
          box-shadow: 0 1px 8px 0 rgba(255, 149, 75, 0.35);
  border-radius: 4px;
  padding: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.del-modal__paragraf {
  font: 500 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 0 0 15px;
  text-align: center;
}

.del-modal__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.del-modal__btn {
  height: 36px;
  padding: 0 15px;
  margin: 0 5px 0 0;
}

.del-modal__btn:last-child {
  margin: 0;
  color: #7f7f7f;
}

@media (max-width: 729px) {
  .del-modal {
    padding: 15px 0 20px;
    width: 100%;
    max-width: 130px;
  }
  .del-modal__btn {
    margin: 0 0 5px;
  }
  .del-modal__btn:last-child {
    margin: 0;
    color: #7f7f7f;
  }
}

.errors {
  width: calc(100% - 40px);
  max-width: 640px;
}

.errors .g-error-text {
  display: block;
  margin: 20px 0 0;
}

.errors .g-error-text span {
  white-space: nowrap;
}

.errors .g-error-email {
  max-width: 640px;
  margin: 20px 0 0;
}

.errors .g-error-email span {
  white-space: nowrap;
}

.errors .not-email {
  font: 14px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #7f7f7f;
  max-width: 410px;
  margin: 10px 0 0;
}

@media (max-width: 729px) {
  .errors .not-email {
    font-size: 12px;
    line-height: 1.33;
    margin: 12px 0 0;
  }
}
