@import url(//hello.myfonts.net/count/394097);.event-modal {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.event-modal__window {
  width: 1380px;
  min-height: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: relative;
}

.event-modal__window-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  width: 20px;
  height: 20px;
  background: url("../img/cls-btn.svg") no-repeat;
  background-size: 100%;
}

.event-page__line {
  background: #d8d8d8;
  border: 0;
  height: 1px;
  margin: 0;
}

.event-page__line_media {
  display: none;
}

.modal-event__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.modal-event__edit {
  width: 100%;
  max-width: 1300px;
  margin: 25px 0 0;
}

.modal-event__head {
  width: calc(100% - 80px);
  max-width: 1300px;
  position: relative;
  margin: 33px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.modal-event__head-paragraf {
  font: 14px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #7f7f7f;
  margin: 0 0 6px 0;
}

.modal-event__head-title {
  width: 100%;
  max-width: 860px;
}

.modal-event__head-title .head-title__format {
  font: 14px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  letter-spacing: 2.5px;
  color: #666;
  text-transform: uppercase;
  padding: 0 0 0 19px;
  position: relative;
  margin: 0;
}

.modal-event__head-title .head-title__format:before {
  display: block;
  border-radius: 50%;
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  top: 2px;
  left: 0;
}

.modal-event__head-title .head-title__title {
  font: 40px/56px 'TTDrugsCondensed-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 10px 0 25px;
}

.modal-event__head-title .head-title__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 47px;
}

.modal-event__head-title .head-title__tags-item {
  width: auto;
  height: 28px;
  font: 13px/13px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  border: 1px solid rgba(216, 216, 216, 0.9);
  background: #f7f7f7;
  color: #7f7f7f;
  margin: 0 7px 8px 0;
}

.modal-event__head-title .head-title__tags-item:last-child {
  margin: 0;
}

.modal-event__head-author {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 300px;
  margin: 40px 0 0;
}

.modal-event__head-author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0;
}

.modal-event__head-author-wrap .head-author__avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden;
}

.modal-event__head-author-wrap .head-author__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-event__head-author-wrap .head-author__descr-item {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 8px 0;
}

.modal-event__head-author-wrap .head-author__descr-name {
  color: #333333;
}

.modal-event__head-author-wrap .head-author__descr-insta {
  color: #666666;
}

.modal-event__head-other {
  position: absolute;
  top: 135px;
  right: 0;
  width: 100%;
  max-width: 300px;
}

.modal-event__head-other-item {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  color: #333333;
}

.modal-event__head-other-item_past {
  color: #7f7f7f;
}

.modal-event__head-other .head-other__date-day span {
  display: inline-block;
  padding: 0 0 0 22px;
  position: relative;
}

.modal-event__head-other .head-other__date-day span:before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  left: 8px;
  top: 5px;
}

.modal-event__head-other .head-other__price {
  margin: 20px 0 40px;
}

.modal-event__head-other .head-other__price-item:last-child {
  display: none;
}

.modal-event__head-other .head-other__price_sale .head-other__price-item {
  text-decoration: line-through;
}

.modal-event__head-other .head-other__price_sale .head-other__price-item:last-child {
  display: inline;
  text-decoration: none;
  color: #d6712b;
  font-weight: 500;
}

.modal-event__head-other .head-other__price-item_past {
  font: 500 16px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  margin: 7px 0 36px;
}

.modal-event__head-other .head-other__subscr-button,
.modal-event__head-other .head-other__unsubscr-button {
  height: 50px;
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border: none;
  border-radius: 4px;
  background: #007f60;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  outline: none;
  white-space: nowrap;
}

.modal-event__head-other .head-other__subscr-button .line-button,
.modal-event__head-other .head-other__unsubscr-button .line-button {
  height: 50px;
  width: 1px;
  background: #fff;
  margin: 0 25px;
}

.modal-event__head-other .head-other__subscr-button div:first-child,
.modal-event__head-other .head-other__unsubscr-button div:first-child {
  min-width: 122px;
}

.modal-event__head-other .head-other__subscr-button div:last-child p,
.modal-event__head-other .head-other__unsubscr-button div:last-child p {
  padding: 0 0 0 23px;
  position: relative;
}

.modal-event__head-other .head-other__subscr-button div:last-child p:before,
.modal-event__head-other .head-other__unsubscr-button div:last-child p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/follower.svg") no-repeat;
  background-size: 100%;
  width: 15px;
  height: 17px;
}

.modal-event__head-other .head-other__subscr-button:hover,
.modal-event__head-other .head-other__unsubscr-button:hover {
  background-color: #006154;
}

.modal-event__head-other .head-other__unsubscr-button {
  border: 1px solid #d8d8d8;
  background: #fff;
  color: #666;
}

.modal-event__head-other .head-other__unsubscr-button .line-button {
  background: #d8d8d8;
}

.modal-event__head-other .head-other__unsubscr-button div:last-child p:before {
  background: url("../img/follower-grey.svg");
}

.modal-event__head-img {
  width: 100%;
  max-width: 640px;
  height: auto;
}

.modal-event__head-img img {
  width: 100%;
}

.modal-event__description {
  width: calc(100%  - 80px);
  max-width: 1300px;
  position: relative;
}

.modal-event__description-nav_gradient {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.modal-event__description-nav {
  width: 100%;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 14px/24px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  z-index: 1;
}

.modal-event__description-nav-item {
  position: relative;
  padding: 0 0 0 13px;
  opacity: .6;
  margin: 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.modal-event__description-nav-item:last-child {
  margin: 0;
}

.modal-event__description-nav-item:hover:not(.active-event) {
  opacity: 1;
}

@media (max-width: 729px) {
  .modal-event__description-nav-item:hover:not(.active-event) {
    opacity: .6;
  }
}

.modal-event__description .modal-event__content-nav_fixed {
  top: 0;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 720px;
  max-width: none;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 0 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  will-change: transform;
}

.modal-event__description .modal-event__content-nav_fixed:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
}

.modal-event__description .modal-event__content-nav_fixed .modal-event__description-nav-wrap {
  margin: 0;
}

.modal-event__description .modal-event__content-nav_fixed .modal-event__description-nav-scrll {
  width: 100%;
  max-width: 640px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}

.modal-event__description .active-event {
  opacity: 1;
}

.modal-event__description .active-event:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 24px;
  left: 0;
  top: 0;
  background: #d6712b;
}

.modal-event__description-about {
  width: 100%;
  max-width: 860px;
}

.modal-event__description-about .description__article {
  font: 20px/1.5 'Geometria';
  color: #333;
  padding: 0 0 80px;
  margin: 37px 0 0;
}

.modal-event__description-about .description__article p,
.modal-event__description-about .description__article .article__path p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
}

.modal-event__description-about .description__article ul,
.modal-event__description-about .description__article .article__list ul {
  margin: 0;
  padding: 0 0 0 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font: 20px/1.5 'Geometria';
  color: #333;
}

.modal-event__description-about .description__article ul li,
.modal-event__description-about .description__article .article__list ul li {
  margin-bottom: 2px;
}

.modal-event__description-about .description__article h1,
.modal-event__description-about .description__article .article__list h1,
.modal-event__description-about .description__article .article__path h1 {
  margin: 40px 0 10px;
  font: 500 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
}

.modal-event__price {
  width: calc(100% - 80px);
  max-width: 1300px;
  padding: 0 0 80px;
}

.modal-event__price h1 {
  font: 30px/36px 'TTDrugsCondensed-Regular';
  color: #000;
  margin: 30px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-event__price-list {
  max-width: 860px;
}

.modal-event__price-list h1 {
  margin: 40px 0 10px;
  font: 20px/32px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-weight: 500;
  color: #000;
}

.modal-event__price-list ul {
  margin: 0;
  padding: 0 0 0 20px;
  font: 20px/32px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-event__price-list ul li {
  margin-bottom: 2px;
}

.modal-event__price-list ul .modal-event__price-list-item_sale span {
  text-decoration: line-through;
}

.modal-event__price-list ul .modal-event__price-list-item_sale span:last-child {
  text-decoration: none;
  color: #d6712b;
  font-weight: 500;
}

.modal-event__price-path {
  max-width: 860px;
}

.modal-event__price-path h1 {
  margin: 40px 0 10px;
  font: 500 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
}

.modal-event__price-path p {
  font: 20px/32px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
}

.modal-event__details {
  width: calc(100% - 80px);
  max-width: 1300px;
  padding: 0 0 80px;
}

.modal-event__details h1 {
  font: 30px/36px 'TTDrugsCondensed-Regular';
  color: #000;
  margin: 30px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-event__details-path {
  max-width: 860px;
}

.modal-event__details-path h1 {
  margin: 40px 0 10px;
  font: 500 20px/32px 'Geometria';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-event__details-path p {
  font: 20px/32px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  max-width: 610px;
  margin: 0;
  position: relative;
}

.modal-event__details-path p span {
  display: inline-block;
  padding: 0 0 0 22px;
  position: relative;
}

.modal-event__details-path p span:before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  left: 8px;
  top: calc(50% - 2px);
}

.modal-event__details-list {
  max-width: 860px;
}

.modal-event__details-list h1 {
  margin: 40px 0 10px;
  font: 500 20px/32px 'Geometria';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.modal-event__details-list ul {
  margin: 0;
  padding: 0 0 0 20px;
  font: 20px/32px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  list-style-type: none;
  padding: 0;
}

.modal-event__details-list ul li {
  margin-bottom: 10px;
}

.modal-event__subscr, .modal-event__unsubscr {
  width: calc(100% - 80px);
  max-width: 1300px;
  margin: 45px 0 75px;
  position: relative;
}

.modal-event__subscr-button, .modal-event__unsubscr-button {
  height: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border: none;
  border-radius: 4px;
  background: #007f60;
  font: 500 20px/22px 'Geometria';
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  outline: none;
  white-space: nowrap;
}

.modal-event__subscr-button .line-button, .modal-event__unsubscr-button .line-button {
  height: 60px;
  width: 1px;
  background: #fff;
  margin: 0 30px;
}

.modal-event__subscr-button div:first-child, .modal-event__unsubscr-button div:first-child {
  min-width: 152px;
}

.modal-event__subscr-button div:last-child p, .modal-event__unsubscr-button div:last-child p {
  padding: 0 0 0 25px;
  position: relative;
  margin: 0;
}

.modal-event__subscr-button div:last-child p:before, .modal-event__unsubscr-button div:last-child p:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  background: url("../img/follower.svg") no-repeat;
  background-size: 100%;
  width: 17px;
  height: 19px;
}

.modal-event__subscr-button:hover, .modal-event__unsubscr-button:hover {
  background-color: #006154;
}

.modal-event__unsubscr-button {
  border: 1px solid #d8d8d8;
  background: #fff;
  color: #666;
}

.modal-event__btn-wrap {
  position: relative;
}

.button-up {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: url("../img/btn-up.svg") center no-repeat #e8e8e8;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  z-index: 10;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  will-change: transform;
}

.button-up:hover {
  background-color: #d8d8d8;
}

@media (max-width: 1399px) {
  .event-modal__window {
    width: 1050px;
  }
  .modal-event__head-title {
    max-width: 640px;
  }
  .modal-event__head-img {
    max-width: 560px;
  }
  .modal-event__edit {
    max-width: 970px;
  }
  .modal-event__description-about {
    max-width: 638px;
  }
  .modal-event__description-nav {
    max-width: 201px;
  }
  .modal-event__price-title, .modal-event__price-list, .modal-event__price-path {
    max-width: 640px;
  }
  .modal-event__details-title, .modal-event__details-list, .modal-event__details-path {
    max-width: 640px;
  }
}

@media (max-width: 1069px) {
  .event-modal__window {
    width: 720px;
  }
  .modal-event__head {
    margin-bottom: 40px;
  }
  .modal-event__head-author {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 0 35px;
  }
  .modal-event__head-other {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 0 65px;
  }
  .modal-event__head-other .head-other__price-item_past {
    margin-bottom: 16px;
  }
  .modal-event__head-other .g-btn__my-sbscr {
    width: 100%;
    max-width: 280px;
  }
  .modal-event__head-other .head-other__subscr-button,
  .modal-event__head-other .head-other__unsubscr-button {
    width: 280px;
    padding-right: 0;
  }
  .modal-event__head-other .head-other__subscr-button .line-button,
  .modal-event__head-other .head-other__unsubscr-button .line-button {
    margin-right: 0;
  }
  .modal-event__head-other .head-other__subscr-button div:last-child,
  .modal-event__head-other .head-other__unsubscr-button div:last-child {
    width: calc(100% - (25px + 104px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-event__head-other .head-other__subscr-button:hover,
  .modal-event__head-other .head-other__unsubscr-button:hover {
    background-color: #007f60;
  }
  .modal-event__head .modal-event__head-title .head-title__tags {
    margin-bottom: 32px;
  }
  .event-page__line_media {
    display: block;
  }
  .modal-event__description-nav_gradient {
    max-width: 640px;
  }
  .modal-event__description-about {
    max-width: none;
  }
  .modal-event__description-nav-wrap {
    margin: 10px 0 0;
    width: 100%;
    height: 25px;
    max-width: 640px;
  }
  .modal-event__content-nav-scrll {
    -webkit-overflow-scrolling: touch;
  }
  .modal-event__description-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 285px;
  }
  .modal-event__description-nav-item {
    margin: 0 10px 0 0;
    white-space: nowrap;
    padding: 0;
  }
  .modal-event__description-nav-item:last-child {
    margin: 0;
  }
  .modal-event__description-nav .active-event:before {
    height: 2px;
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
  }
  .modal-event__price-title, .modal-event__price-list, .modal-event__price-path {
    max-width: none;
  }
  .modal-event__details-title, .modal-event__details-list, .modal-event__details-path {
    max-width: none;
  }
}

@media (max-width: 729px) {
  .modal-event {
    margin: 0;
  }
  .modal-event__head,
  .modal-event__description,
  .modal-event__price,
  .modal-event__details,
  .modal-event__subscr,
  .modal-event__edit {
    width: 100%;
  }
  .event-modal {
    padding: 0;
  }
  .event-modal__window {
    width: 100%;
    max-width: none;
    border-radius: 0;
  }
  .modal-event__edit {
    max-width: calc(100% - 92px);
  }
  .modal-event__edit .g-btn_white {
    width: 100%;
    max-width: 280px;
  }
  .modal-event__head {
    max-width: calc(100% - 92px);
    margin-bottom: 30px;
    margin-top: 18px;
  }
  .modal-event__head-author {
    margin-bottom: 33px;
  }
  .modal-event__head-author-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-event__head-author-wrap .head-author__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal-event__head-author-wrap .head-author__descr-item {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 3px;
  }
  .modal-event__head-author-wrap .head-author__descr-item:last-child {
    margin: 0;
    margin-bottom: 0;
  }
  .modal-event__head .head-title__title {
    font-size: 26px;
    line-height: 1.23;
  }
  .modal-event__head .modal-event__head-title .head-title__tags {
    margin-bottom: 20px;
  }
  .modal-event__head-img {
    max-width: none;
  }
  .modal-event__head .modal-event__head-other {
    margin-bottom: 40px;
  }
  .modal-event__head .modal-event__head-other-item {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__head .modal-event__head-other-item span:before {
    top: 8px;
  }
  .modal-event__head .modal-event__head-other .head-other__price {
    margin: 15px 0 20px;
  }
  .modal-event__description {
    max-width: calc(100% - 92px);
  }
  .modal-event__description .description__article {
    font-size: 14px;
    line-height: 1.43;
    margin: 25px 0 0;
  }
  .modal-event__description .modal-event__description-about .description__article {
    padding-bottom: 50px;
  }
  .modal-event__description .modal-event__description-about .description__article .article__list h1,
  .modal-event__description .modal-event__description-about .description__article .article__list ul,
  .modal-event__description .modal-event__description-about .description__article .article__path h1,
  .modal-event__description .modal-event__description-about .description__article .article__path p {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__description .modal-event__description-about .description__article .article__list h1,
  .modal-event__description .modal-event__description-about .description__article .article__path h1 {
    margin-top: 25px;
  }
  .modal-event__description-nav_gradient {
    width: 100vw;
    max-width: none;
    left: -45px;
  }
  .modal-event__description-nav-wrap {
    width: 100%;
    max-width: none;
  }
  .modal-event__description-nav-wrap .modal-event__description-nav-scrll {
    height: 50px;
    padding: 0 45px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .modal-event__description-nav-wrap .modal-event__description-nav-scrll .modal-event__description-nav {
    width: 617px;
    white-space: nowrap;
    padding: 0 45px 0 0;
  }
  .modal-event__description-nav-wrap:after, .modal-event__description-nav-wrap:before {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .modal-event__description-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .modal-event__description-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .modal-event__description .modal-event__content-nav_fixed {
    left: 0;
    transform: translateX(0) translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .modal-event__description .modal-event__content-nav_fixed .modal-event__description-nav-scrll {
    padding: 0 46px;
    -webkit-overflow-scrolling: touch;
  }
  .modal-event__price {
    max-width: calc(100% - 92px);
    padding-bottom: 50px;
  }
  .modal-event__price h1 {
    font-size: 22px;
    margin-top: 15px;
  }
  .modal-event__price .modal-event__price-list h1 {
    margin-top: 25px;
  }
  .modal-event__price .modal-event__price-list h1,
  .modal-event__price .modal-event__price-list ul {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__price .modal-event__price-path h1 {
    margin-top: 25px;
  }
  .modal-event__price .modal-event__price-path h1,
  .modal-event__price .modal-event__price-path p {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__details {
    max-width: calc(100% - 92px);
    padding-bottom: 50px;
  }
  .modal-event__details h1 {
    font-size: 22px;
    margin-top: 15px;
  }
  .modal-event__details .modal-event__details-list h1 {
    margin-top: 25px;
  }
  .modal-event__details .modal-event__details-list h1,
  .modal-event__details .modal-event__details-list ul {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__details .modal-event__details-list h1 .modal-event__details-list-item,
  .modal-event__details .modal-event__details-list ul .modal-event__details-list-item {
    margin-bottom: 10px;
  }
  .modal-event__details .modal-event__details-list h1 .modal-event__details-list-item:last-child,
  .modal-event__details .modal-event__details-list ul .modal-event__details-list-item:last-child {
    border-bottom: 0;
  }
  .modal-event__details .modal-event__details-path h1 {
    margin-top: 25px;
  }
  .modal-event__details .modal-event__details-path h1,
  .modal-event__details .modal-event__details-path p {
    font-size: 14px;
    line-height: 1.43;
  }
  .modal-event__details .modal-event__details-path p a:hover {
    opacity: 1;
  }
  .modal-event__subscr {
    max-width: calc(100% - 92px);
    margin: 20px 0 30px;
  }
  .modal-event__subscr-button {
    width: 280px;
    height: 50px;
    padding-right: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .modal-event__subscr-button .line-button {
    height: inherit;
    margin-right: 1px;
    margin: 0 0 0 25px;
  }
  .modal-event__subscr-button div:first-child {
    min-width: 122px;
  }
  .modal-event__subscr-button div:last-child {
    width: calc(100% - (25px + 104px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-event__subscr-button:hover {
    background-color: #007f60;
  }
  .button-up {
    bottom: 86px;
    right: 10px;
  }
}

@media (max-width: 425px) {
  .modal-event__head,
  .modal-event__description,
  .modal-event__price,
  .modal-event__details,
  .modal-event__subscr,
  .modal-event__edit {
    max-width: calc(100% - 40px);
  }
  .modal-event__head-title .head-title__tags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .modal-event__description-nav_gradient {
    left: -20px;
  }
  .modal-event__description .modal-event__content-nav_fixed .modal-event__description-nav-scrll {
    padding: 0 20px;
  }
  .modal-event__description-nav-wrap {
    height: 25px;
    overflow: hidden;
  }
  .modal-event__description-nav-wrap .modal-event__description-nav-scrll {
    padding: 0 20px;
  }
  .modal-event__description-nav-wrap .modal-event__description-nav-scrll .modal-event__description-nav {
    padding: 0 20px 0 0;
  }
  .modal-event__description-nav-wrap:before {
    width: 20px;
  }
  .modal-event__description-nav-wrap:after {
    width: 20px;
  }
}
