.main {
  width: 100%;
}

.main__wrap {
  width: calc(1240px / 2);
  margin: 60px 0 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.main__wrap:not(:first-child) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__wrap img {
  margin: 0 0 5px;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.main__wrap-text {
  font: 500 36px/40px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__wrap-text span {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 3px;
}

.main__title {
  margin: 0 0 30px;
}

.main__nav {
  width: 299px;
  font: 500 18px/24px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: rgba(0, 1, 5, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(0, 1, 5, 0.3);
}

.main__nav-item_active {
  color: #000105;
  position: relative;
}

.main__nav-item_active:before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e7490f;
}

.main__subtitle {
  font: 500 12px/18px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: rgba(0, 1, 5, 0.6);
}

.main__text-wrap {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text-wrap:nth-child(1) {
  margin: 0 0 0 41px;
}

.main__text-wrap:nth-child(2) {
  margin: 0 0 0 31px;
}

.main__text-wrap:nth-child(3) {
  margin: 0 0 0 95px;
}

.main__text-wrap:nth-child(4) {
  margin: 0 0 0 108px;
}

.main__filter {
  border-top: 1px solid rgba(0, 1, 5, 0.3);
  padding: 20px 0;
}

.main__filter-content {
  width: calc(100% - 60px);
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}

.main__filter-item input {
  display: none;
}

.main__filter-item input:checked + .main__filter-checkbox {
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 63%;
  opacity: 1;
}

.main__filter-text {
  font: 500 14px/20px "Museo Sans Cyrl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000105;
}

.main__filter-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: .5;
  margin: 1px 5px 0 0;
}

.main__filter-checkbox_school {
  background: #abaeb3;
}

.main__filter-checkbox_child {
  background: #ffcb0d;
}

.main__filter-checkbox_market {
  background: #2095d2;
}

.main__filter-checkbox_kafe {
  background: #f2883d;
}

.main__filter-checkbox_hosp {
  background: #fa9191;
}

.main__filter-checkbox_pharmacy {
  background: #ec1f27;
}

.main__filter-checkbox_sport {
  background: #1da600;
}

.main__filter-checkbox_rek {
  background: #aaab22;
}

.main__filter-checkbox_stop {
  background: #297acc;
}

.main__map {
  width: 100%;
  height: calc(100vh - 146px - 275px - 51px);
}
