@import url(//hello.myfonts.net/count/394097);body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

textarea {
  display: block;
  background-color: transparent;
  outline: none;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

@media (max-width: 729px) {
  textarea {
    font-size: 14px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

input {
  background-color: #fff;
  outline: none;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

@media (max-width: 729px) {
  input {
    font-size: 14px;
    line-height: 22px;
  }
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.viber {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.viber:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/viber-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .viber {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .viber:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.skype {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.skype:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/skype-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .skype {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .skype:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(102, 102, 102, 0.7);
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}

@media (max-width: 1399px) {
  .main__head,
  .main__face,
  .main__content-nav-wrap,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: 970px;
  }
  .main__content-nav {
    right: 32px;
  }
  .main__common-name,
  .main__common-spec,
  .main__about-messg,
  .main__about-info-wrap,
  .main__project-item,
  .main__contact-name {
    max-width: 723px;
  }
}

@media (max-width: 1069px) {
  .main__head,
  .main__face,
  .main__common,
  .main__content-nav-wrap,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: 640px;
  }
  .main__line:nth-of-type(2) {
    display: block;
  }
  .main__face {
    border-bottom: none;
  }
  .main__face-descr {
    max-width: 410px;
  }
  .main__face-descr .face-descr__photo {
    max-width: 90px;
  }
  .main__face-descr .face-descr__photo-wrap {
    height: 90px;
  }
  .main__face-descr .face-descr__photo-change {
    top: 50%;
  }
  .main__face-descr .face-descr__name-insta {
    margin: 10px 0 6px;
  }
  .main__content-nav-wrap {
    margin: 10px 0 0;
  }
  .main__content-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    width: 660px;
  }
  .main__content-nav-item {
    margin: 0 15px 0 0;
  }
  .main__content-nav-item:last-child {
    margin: 0;
  }
  .main__content-nav-item_active:before {
    width: 100%;
    height: 2px;
    top: auto;
    left: 0;
    bottom: -5px;
  }
  .main__common {
    margin-top: 55px;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__face,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: calc(100% - 92px);
  }
  .main__head .active:before {
    bottom: -16px;
  }
  .main__head-title {
    font-size: 22px;
    line-height: 22px;
    margin: 25px 0 15px;
  }
  .main__head-title:first-child {
    margin-right: 18px;
  }
  .main__face {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 25px 0 40px;
  }
  .main__face-descr {
    max-width: none;
  }
  .main__face-descr .face-descr__name {
    width: calc(100% - 100px);
    max-width: none;
  }
  .main__face-descr .face-descr__name-title {
    font-size: 17px;
    line-height: 26px;
  }
  .main__face-descr .face-descr__name-insta {
    margin: 5px 0 4px;
    padding-left: 24px;
  }
  .main__face-descr .face-descr__name-insta:before {
    top: 0.5px;
  }
  .main__face-descr .face-descr__name-btn {
    width: 174px;
    font-size: 12px;
    line-height: 20px;
  }
  .main__face-descr .face-descr__photo {
    max-width: 80px;
  }
  .main__face-descr .face-descr__photo-wrap {
    height: 80px;
  }
  .main__face-descr .face-descr__photo-change {
    width: 34px;
    height: 34px;
    background-size: calc(100% - 12px);
    top: 67px;
  }
  .main__face-subscr {
    margin: 35px 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__face-subscr .face-subscr__btn {
    margin-bottom: 7px;
  }
  .main__content-nav-wrap {
    width: 100vw;
    height: 30px;
    max-width: none;
    position: relative;
    overflow: hidden;
  }
  .main__content-nav-wrap:before, .main__content-nav-wrap:after {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .main__content-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    overflow: scroll;
    position: relative;
    padding: 0 45px;
    height: 50px;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    padding: 0 45px 0 0;
  }
  .main__face-descr .face-descr__name-insta,
  .main__common-text,
  .main__common-name,
  .main__common-spec,
  .main__about-info,
  .main__about-messg,
  .main__project-info,
  .main__project-item .project-item__wrap label,
  .input,
  .main__contact-text,
  .main__contact-info,
  .main__contact-messng-item .telegramm,
  .main__contact-messng-item .whatsapp,
  .main__contact-messng-item .skype,
  .main__contact-messng-item .viber {
    font-size: 14px;
    line-height: 22px;
  }
  .main__common {
    margin-top: 47px;
  }
  .main__common-title {
    margin-bottom: 20px;
  }
  .main__common-name {
    margin: 11px 0 16px;
  }
  .main__about {
    margin-top: 45px;
  }
  .main__about-title {
    margin-bottom: 20px;
  }
  .main__about-text {
    font-size: 14px;
    line-height: 22px;
  }
  .main__about-more {
    margin-top: 20px;
  }
  .main__project-title {
    margin: 45px 0 20px;
  }
  .main__project-info {
    max-width: 310px;
  }
  .main__contact-title {
    margin: 45px 0 20px;
  }
  .main__contact-messng {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main__contact-messng-item:nth-child(1), .main__contact-messng-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .main__contact-messng-item .telegramm {
    padding-left: 40px;
  }
  .main__contact-messng-item .skype,
  .main__contact-messng-item .whatsapp,
  .main__contact-messng-item .viber {
    padding-left: 35px;
  }
  .main__contact-messng-item .telegramm:before {
    width: 28px;
    height: 24px;
  }
  .main__contact-messng-item .skype:before,
  .main__contact-messng-item .whatsapp:before,
  .main__contact-messng-item .viber:before {
    width: 24px;
    height: 24px;
  }
  .main__theme-title {
    margin: 35px 0 20px;
  }
  .main__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .main__theme-wrap {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__face,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: calc(100% - 40px);
  }
  .main__content-nav-wrap:before {
    width: 20px;
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    padding: 0 20px;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    padding-right: 20px;
  }
  .main__project-title {
    line-height: 28px;
  }
  .main__contact-messng-item:nth-child(2) {
    margin-right: 0;
  }
}
