@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__head,
  .main__face,
  .main__content-nav-wrap,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme,
  .main__content-nav_gradient {
    max-width: 970px;
  }
  .main__content-nav {
    right: 32px;
  }
  .main__common-name,
  .main__common-spec,
  .main__about-messg,
  .main__about-info-wrap,
  .main__project-item,
  .main__contact-name {
    max-width: 723px;
  }
}

@media (max-width: 1069px) {
  .main__head,
  .main__face,
  .main__common,
  .main__content-nav-wrap,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: 640px;
  }
  .main__line:nth-of-type(2) {
    display: block;
  }
  .main__face {
    border-bottom: none;
  }
  .main__face-descr {
    max-width: 410px;
  }
  .main__face-descr .face-descr__photo {
    max-width: 90px;
  }
  .main__face-descr .face-descr__photo-wrap {
    height: 90px;
  }
  .main__face-descr .face-descr__photo-change {
    top: 50%;
  }
  .main__face-descr .face-descr__name-insta {
    margin: 10px 0 6px;
  }
  .main__content-nav_gradient {
    max-width: 640px;
  }
  .main__content-nav-wrap {
    margin: 10px 0 0;
  }
  .main__content-nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    width: 660px;
  }
  .main__content-nav-item {
    margin: 0 15px 0 0;
  }
  .main__content-nav-item:last-child {
    margin: 0;
  }
  .main__content-nav-item_active:before {
    width: 100%;
    height: 2px;
    top: auto;
    left: 0;
    bottom: -5px;
  }
  .main__common {
    margin-top: 55px;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__face,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: calc(100% - 92px);
  }
  .main__content-nav_gradient {
    width: 100vw;
    max-width: none;
  }
  .main .main__content-nav_fixed .main__content-nav-scrll {
    max-width: none;
    -webkit-overflow-scrolling: touch;
  }
  .main__head .active:before {
    bottom: -16px;
  }
  .main__head-title {
    font-size: 22px;
    line-height: 22px;
    margin: 25px 0 15px;
  }
  .main__head-title:first-child {
    margin-right: 18px;
  }
  .main__face {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 25px 0 40px;
  }
  .main__face-descr {
    max-width: none;
  }
  .main__face-descr .face-descr__name {
    width: calc(100% - 100px);
    max-width: none;
  }
  .main__face-descr .face-descr__name-title {
    font-size: 17px;
    line-height: 26px;
  }
  .main__face-descr .face-descr__name-insta {
    margin: 5px 0 4px;
    padding-left: 24px;
  }
  .main__face-descr .face-descr__name-insta:before {
    top: 0.5px;
  }
  .main__face-descr .face-descr__name-btn {
    width: 174px;
    font-size: 12px;
    line-height: 20px;
  }
  .main__face-descr .face-descr__photo {
    max-width: 80px;
  }
  .main__face-descr .face-descr__photo-wrap {
    height: 80px;
  }
  .main__face-descr .face-descr__photo-change {
    width: 34px;
    height: 34px;
    background-size: calc(100% - 12px);
    top: 67px;
  }
  .main__face-subscr {
    margin: 35px 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__face-subscr .face-subscr__btn {
    width: 280px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 7px;
  }
  .main__content-nav-wrap {
    width: 100%;
    max-width: none;
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  .main__content-nav-wrap:before, .main__content-nav-wrap:after {
    content: '';
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .main__content-nav-wrap:before {
    left: 0;
    z-index: 1;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    overflow-x: scroll;
    position: relative;
    padding: 0 45px;
    height: 50px;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    padding: 0 45px 0 0;
  }
  .main__face-descr .face-descr__name-insta,
  .main__common-text,
  .main__common-name,
  .main__common-spec,
  .main__about-info,
  .main__about-messg,
  .main__project-info,
  .main__project-item .project-item__wrap label,
  .input,
  .main__contact-text,
  .main__contact-info,
  .main__contact-messng-item .telegramm,
  .main__contact-messng-item .whatsapp,
  .main__contact-messng-item .skype,
  .main__contact-messng-item .viber,
  .main__theme-descr,
  .main__theme-info {
    font-size: 14px;
    line-height: 22px;
  }
  .main__common {
    margin-top: 47px;
  }
  .main__common-title {
    margin-bottom: 20px;
  }
  .main__common-name {
    margin: 6px 0 16px;
  }
  .main__common-text_sex {
    margin: 0 0 11px;
  }
  .main__about {
    margin-top: 45px;
  }
  .main__about-title {
    margin-bottom: 20px;
  }
  .main__about-text {
    font-size: 14px;
    line-height: 22px;
  }
  .main__about-more {
    margin-top: 20px;
  }
  .main__project-title {
    margin: 45px 0 20px;
  }
  .main__project-info {
    max-width: 310px;
  }
  .main__project-item {
    padding: 0 15px;
  }
  .main__contact-title {
    margin: 45px 0 20px;
  }
  .main__contact-messng {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main__contact-messng-item:nth-child(1), .main__contact-messng-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .main__contact-messng-item .telegramm {
    padding-left: 40px;
  }
  .main__contact-messng-item .skype,
  .main__contact-messng-item .whatsapp,
  .main__contact-messng-item .viber {
    padding-left: 35px;
  }
  .main__contact-messng-item .telegramm:before {
    width: 28px;
    height: 24px;
  }
  .main__contact-messng-item .skype:before,
  .main__contact-messng-item .whatsapp:before,
  .main__contact-messng-item .viber:before {
    width: 24px;
    height: 24px;
  }
  .main__theme {
    margin-bottom: 42px;
  }
  .main__theme-info {
    margin-bottom: 15px;
  }
  .main__theme-title {
    margin: 40px 0 20px;
  }
  .main__theme-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .main__theme-wrap {
    width: 50%;
    min-width: auto;
  }
  .main__theme-wrap:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__theme-wrap:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main__theme-wrap:nth-child(25) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__theme-wrap:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main__theme-wrap:nth-child(26) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main__theme-wrap:nth-child(4) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .main__theme-wrap:nth-child(27) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .main__theme-wrap:nth-child(5) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .main__theme-wrap:nth-child(28) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .main__theme-wrap:nth-child(6) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .main__theme-wrap:nth-child(29) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .main__theme-wrap:nth-child(7) {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .main__theme-wrap:nth-child(30) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .main__theme-wrap:nth-child(8) {
    -webkit-box-ordinal-group: 16;
        -ms-flex-order: 15;
            order: 15;
  }
  .main__theme-wrap:nth-child(31) {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .main__theme-wrap:nth-child(9) {
    -webkit-box-ordinal-group: 18;
        -ms-flex-order: 17;
            order: 17;
  }
  .main__theme-wrap:nth-child(32) {
    -webkit-box-ordinal-group: 17;
        -ms-flex-order: 16;
            order: 16;
  }
  .main__theme-wrap:nth-child(10) {
    -webkit-box-ordinal-group: 20;
        -ms-flex-order: 19;
            order: 19;
  }
  .main__theme-wrap:nth-child(33) {
    -webkit-box-ordinal-group: 19;
        -ms-flex-order: 18;
            order: 18;
  }
  .main__theme-wrap:nth-child(11) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
  }
  .main__theme-wrap:nth-child(34) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .main__theme-wrap:nth-child(12) {
    -webkit-box-ordinal-group: 24;
        -ms-flex-order: 23;
            order: 23;
  }
  .main__theme-wrap:nth-child(35) {
    -webkit-box-ordinal-group: 23;
        -ms-flex-order: 22;
            order: 22;
  }
  .main__theme-wrap:nth-child(13) {
    -webkit-box-ordinal-group: 26;
        -ms-flex-order: 25;
            order: 25;
  }
  .main__theme-wrap:nth-child(36) {
    -webkit-box-ordinal-group: 25;
        -ms-flex-order: 24;
            order: 24;
  }
  .main__theme-wrap:nth-child(14) {
    -webkit-box-ordinal-group: 28;
        -ms-flex-order: 27;
            order: 27;
  }
  .main__theme-wrap:nth-child(37) {
    -webkit-box-ordinal-group: 27;
        -ms-flex-order: 26;
            order: 26;
  }
  .main__theme-wrap:nth-child(15) {
    -webkit-box-ordinal-group: 30;
        -ms-flex-order: 29;
            order: 29;
  }
  .main__theme-wrap:nth-child(38) {
    -webkit-box-ordinal-group: 29;
        -ms-flex-order: 28;
            order: 28;
  }
  .main__theme-wrap:nth-child(16) {
    -webkit-box-ordinal-group: 32;
        -ms-flex-order: 31;
            order: 31;
  }
  .main__theme-wrap:nth-child(39) {
    -webkit-box-ordinal-group: 31;
        -ms-flex-order: 30;
            order: 30;
  }
  .main__theme-wrap:nth-child(17) {
    -webkit-box-ordinal-group: 34;
        -ms-flex-order: 33;
            order: 33;
  }
  .main__theme-wrap:nth-child(40) {
    -webkit-box-ordinal-group: 33;
        -ms-flex-order: 32;
            order: 32;
  }
  .main__theme-wrap:nth-child(18) {
    -webkit-box-ordinal-group: 36;
        -ms-flex-order: 35;
            order: 35;
  }
  .main__theme-wrap:nth-child(41) {
    -webkit-box-ordinal-group: 35;
        -ms-flex-order: 34;
            order: 34;
  }
  .main__theme-wrap:nth-child(19) {
    -webkit-box-ordinal-group: 38;
        -ms-flex-order: 37;
            order: 37;
  }
  .main__theme-wrap:nth-child(42) {
    -webkit-box-ordinal-group: 37;
        -ms-flex-order: 36;
            order: 36;
  }
  .main__theme-wrap:nth-child(20) {
    -webkit-box-ordinal-group: 40;
        -ms-flex-order: 39;
            order: 39;
  }
  .main__theme-wrap:nth-child(43) {
    -webkit-box-ordinal-group: 39;
        -ms-flex-order: 38;
            order: 38;
  }
  .main__theme-wrap:nth-child(21) {
    -webkit-box-ordinal-group: 42;
        -ms-flex-order: 41;
            order: 41;
  }
  .main__theme-wrap:nth-child(44) {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .main__theme-wrap:nth-child(22) {
    -webkit-box-ordinal-group: 44;
        -ms-flex-order: 43;
            order: 43;
  }
  .main__theme-wrap:nth-child(45) {
    -webkit-box-ordinal-group: 43;
        -ms-flex-order: 42;
            order: 42;
  }
  .main__theme-wrap:nth-child(23) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .main__theme-wrap:nth-child(46) {
    -webkit-box-ordinal-group: 45;
        -ms-flex-order: 44;
            order: 44;
  }
  .main__theme-wrap:nth-child(24) {
    -webkit-box-ordinal-group: 48;
        -ms-flex-order: 47;
            order: 47;
  }
  .main__theme-wrap:nth-child(47) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__face,
  .main__common,
  .main__about,
  .main__project,
  .main__contact,
  .main__theme {
    max-width: calc(100% - 40px);
  }
  .main__content-nav-wrap:before {
    width: 20px;
  }
  .main__content-nav-wrap .main__content-nav-scrll {
    padding: 0 20px;
  }
  .main__content-nav-wrap .main__content-nav-scrll .main__content-nav {
    padding-right: 20px;
  }
  .main__project-title {
    line-height: 28px;
  }
  .main__contact-messng-item:nth-child(2) {
    margin-right: 0;
  }
}
