@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__head {
    max-width: 970px;
  }
  .main__snippet {
    max-width: 976px;
  }
  .main__snippet-wrap .main__snippet-item:nth-child(even),
  .main__snippet-wrap .main__snippet-item:nth-child(odd) {
    margin: 0 20px 20px 0;
  }
  .main__snippet-wrap .main__snippet-item:nth-child(3n) {
    margin: 0;
  }
  .main__snippet-archive .main__snippet-item:nth-child(even),
  .main__snippet-archive .main__snippet-item:nth-child(odd) {
    margin: 0 20px 20px 0;
  }
  .main__snippet-archive .main__snippet-item:nth-child(3n) {
    margin: 0;
  }
}

@media (max-width: 1069px) {
  .main__head {
    max-width: 640px;
  }
  .main__snippet {
    max-width: 646px;
  }
  .main__snippet-wrap .main__snippet-item:nth-child(2n) {
    margin: 0;
  }
  .main__snippet-wrap .main__snippet-item:nth-child(3) {
    margin: 0 20px 20px 0;
  }
  .main__snippet-archive .main__snippet-item:nth-child(2n) {
    margin: 0;
  }
  .main__snippet-archive .main__snippet-item:nth-child(3) {
    margin: 0 20px 20px 0;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__snippet {
    max-width: calc(100% - 92px);
  }
  .main__head-item {
    font-size: 22px;
    line-height: 22px;
  }
  .main__head-item:first-child {
    margin-right: 15px;
  }
  .main__snippet-wrap {
    width: 100%;
    max-width: none;
    margin: 25px 0 30px;
  }
  .main__snippet-wrap .main__snippet-item {
    width: calc(50% - 10px);
    height: auto;
    max-width: 309px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 0;
  }
  .main__snippet-wrap .main__snippet-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__snippet-wrap .main__snippet-item:hover .snippet-item__descr-title {
    border-bottom: none;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head {
    margin: 0 0 10px 0;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-subscr, .main__snippet-wrap .main__snippet-item .snippet-item__head-views {
    font-size: 12px;
    line-height: 20px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-subscr {
    margin: 0 8px 0 0;
    padding: 0 0 0 18px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-views {
    padding: 0 0 0 21px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-edit {
    width: 15px;
    height: 15px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__image {
    height: 29vw;
    border-radius: 4px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__descr {
    margin-bottom: 79px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__descr-format {
    font-size: 11px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__descr-title {
    font-size: 15px;
    display: block;
    margin: 0;
    max-height: 57px;
    overflow: hidden;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__time-price {
    left: 0;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__time-price span {
    display: block;
    margin: 0;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__time-price span:before {
    display: none;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__time-price-item {
    font-size: 12px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__time-price-money {
    font-weight: 500;
  }
  .main__snippet-wrap .main__snippet-item:nth-child(2n) {
    margin: 0 0 20px 0;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-avatar {
    width: 32px;
    height: 32px;
  }
  .main__snippet-wrap .main__snippet-item .snippet-item__head-name {
    width: 80%;
    overflow: hidden;
  }
  .main__show-more-wrap .main__settings-btn, .main__show-more-wrap .main__settings-btn_fixed {
    right: 10px;
  }
  .main__snippet-archive {
    width: 100%;
    max-width: none;
    margin: 25px 0 30px;
  }
  .main__snippet-archive .main__snippet-item {
    width: calc(50% - 10px);
    height: auto;
    max-width: 309px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 0;
  }
  .main__snippet-archive .main__snippet-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main__snippet-archive .main__snippet-item:hover .snippet-item__descr-title {
    border-bottom: none;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head {
    margin: 0 0 10px 0;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-subscr, .main__snippet-archive .main__snippet-item .snippet-item__head-views {
    font-size: 12px;
    line-height: 20px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-subscr {
    margin: 0 8px 0 0;
    padding: 0 0 0 18px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-views {
    padding: 0 0 0 21px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-edit {
    width: 15px;
    height: 15px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__image {
    height: 29vw;
    border-radius: 4px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__descr {
    margin-bottom: 79px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__descr-format {
    font-size: 11px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__descr-title {
    font-size: 15px;
    display: block;
    margin: 0;
    max-height: 57px;
    overflow: hidden;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__time-price {
    left: 0;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__time-price span {
    display: block;
    margin: 0;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__time-price span:before {
    display: none;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__time-price-item {
    font-size: 12px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__time-price-money {
    font-weight: 500;
  }
  .main__snippet-archive .main__snippet-item:nth-child(2n) {
    margin: 0 0 20px 0;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-avatar {
    width: 32px;
    height: 32px;
  }
  .main__snippet-archive .main__snippet-item .snippet-item__head-name {
    width: 80%;
    overflow: hidden;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__snippet {
    max-width: calc(100% - 40px);
  }
}
