@import url(//hello.myfonts.net/count/394097);body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  border-radius: 2px;
  opacity: .7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}

.head__point-user-item:last-child {
  opacity: .7;
}

.main {
  width: 100%;
}

.main__line {
  border: none;
  height: 1px;
  background-color: #d8d8d8;
  margin: 0;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__head, .main__acc, .main__notice, .main__mytape, .main__del {
  width: 100%;
  max-width: 1300px;
}

.main__head-title {
  font: 30px/30px 'Geometria';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 45px 0 20px;
}

.main__acc {
  margin: 0 0 60px;
}

.main__acc-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 26px 0 14px;
}

.main__acc-title-item {
  margin: 0;
  padding: 0;
}

.main__acc-title-item:first-child {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
}

.main__acc-title-item:last-child {
  width: 251px;
  height: 50px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #ff954b;
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.main__acc-title-item:last-child:hover {
  background-color: #d6712b;
}

@media (max-width: 729px) {
  .main__acc-title-item:last-child:hover {
    background-color: #ff954b;
  }
}

.main__acc-form .acc-form__title {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
}

.main__acc-form .acc-form__wrap {
  width: 100%;
  max-width: 640px;
  height: 60px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0 20px;
}

.main__acc-form .acc-form__wrap:last-child {
  margin: 10px 0 25px;
}

.main__acc-form .acc-form__item {
  width: 100%;
  height: 70%;
  font: 16px/18px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  border: none;
  outline: none;
  background-color: transparent;
}

.main__acc-pass {
  font: 500 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #d6712b;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__acc-pass:hover {
  opacity: .71;
}

@media (max-width: 729px) {
  .main__acc-pass:hover {
    opacity: 1;
  }
}

.main__notice {
  margin: 0 0 60px;
}

.main__notice-title {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 30px;
}

.main__notice-wrap {
  margin: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__notice-wrap:last-child {
  margin: 0;
}

.main__notice-checkbox {
  display: none;
}

.main__notice-checkbox:checked + .checkbox {
  background: url("../img/check.svg") center no-repeat #ff954b;
  background-size: 80%;
}

.main__notice .checkbox {
  margin: 0 10px 3px 0;
}

.main__notice-text {
  width: calc(100% - 25px);
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__notice-text:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__notice-text:hover {
    opacity: 1;
  }
}

.main__mytape {
  margin: 0 0 90px;
}

.main__mytape-title {
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #000;
  margin: 0 0 30px;
}

.main__mytape-text {
  font: 16px/16px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  margin: 0 0 35px;
}

.main__mytape-theme {
  width: 100%;
  max-width: 860px;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main__mytape-wrap {
  max-width: 200px;
  margin: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__mytape-checkbox {
  display: none;
}

.main__mytape-checkbox:checked + .checkbox {
  background: url("../img/check.svg") center no-repeat #ff954b;
  background-size: 80%;
}

.main__mytape .checkbox {
  margin: 0 10px 3px 0;
}

.main__mytape-descr {
  width: calc(100% - 27px);
  font: 16px/22px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #333;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__mytape-descr:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__mytape-descr:hover {
    opacity: 1;
  }
}

.main__mytape-descr_bold {
  font-weight: 500;
}

.main__del-wrap {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.main__del {
  padding: 33px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 95px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main__del-title {
  height: 30px;
  font: 500 20px/20px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 0 30px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.main__del-title:before {
  content: '';
  width: 28px;
  height: 28px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -43px;
  background: url("../img/show_hide.svg") center no-repeat;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.main__del-text {
  max-width: 420px;
  font: 14px/18px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0 0 14px;
  color: #7f7f7f;
}

.main__del-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 29px;
  font: 500 14px/14px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: #666;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.main__del-btn:before {
  content: '';
  width: 19px;
  height: 22px;
  position: absolute;
  top: -7px;
  left: 0;
  background: url("../img/del-ic.svg") center no-repeat;
}

.main__del-btn:hover {
  opacity: .7;
}

@media (max-width: 729px) {
  .main__del-btn:hover {
    opacity: 1;
  }
}

.main .main__del.main__del_open {
  height: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main .main__del.main__del_open .main__del-title:before {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
