@import url(//hello.myfonts.net/count/394097);body {
  margin: 0;
  padding: 0;
  font-family: "Geometria";
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

button {
  outline: none;
}

.master-class p:before {
  background-color: #b26329;
}

.master-class div {
  background-color: #b26329;
}

.intens p:before {
  background-color: #7f1a40;
}

.intens div {
  background-color: #7f1a40;
}

.curs p:before {
  background-color: #f8b400;
}

.curs div {
  background-color: #f8b400;
}

.live:before {
  background: #99b976;
}

.marafon:before {
  background: #0092ba;
}

.vebinar:before {
  background: #ee003e;
}

.mast-class:before {
  background: #b26329;
}

.lect:before {
  background: #007f60;
}

.curs:before {
  background: #f8b400;
}

.none-before:before {
  display: none;
}

.telegramm {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.telegramm:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/telegram-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .telegramm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .telegramm:before {
    width: 20px;
    height: 20px;
    top: -3px;
    background-size: 100%;
  }
}

.whatsapp {
  font: 500 20px/30px 'Geometria';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  padding: 0 0 0 35px;
  position: relative;
}

.whatsapp:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/whatsapp-ic.svg") no-repeat;
}

@media (max-width: 729px) {
  .whatsapp {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 0 0 30px;
  }
  .whatsapp:before {
    width: 20px;
    height: 20px;
    top: -2px;
    background-size: 100%;
  }
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  border-radius: 2px;
  opacity: .7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.input {
  width: 100%;
  max-width: 750px;
  height: 60px;
  font: 16px/26px 'Geometria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.input:hover, .input:focus {
  border-color: #7f7f7f;
}

@media (max-width: 1399px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: 970px;
  }
  .main__acc-form .acc-form__wrap {
    max-width: 475px;
  }
}

@media (max-width: 1069px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: 640px;
  }
  .main__acc-form .acc-form__wrap {
    max-width: none;
  }
  .main__notice-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__notice-text {
    padding: 2px 0 0;
  }
  .main__mytape {
    margin-bottom: 69px;
  }
  .main__mytape-text {
    line-height: 24px;
  }
  .main__mytape-theme {
    max-width: 640px;
    height: 615px;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: calc(100% - 92px);
  }
  .main__head-title {
    font-size: 22px;
    line-height: normal;
    margin: 25px 0 15px;
  }
  .main__acc-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 15px 0 30px;
  }
  .main__acc-title-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__acc-title-item:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 30px;
    width: 280px;
  }
  .main__acc-form .acc-form__title,
  .main__acc-pass,
  .main__notice-text,
  .main__mytape-text,
  .main__mytape-descr {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__notice-text,
  .main__mytape-descr {
    padding: 0;
  }
  .main__mytape {
    margin-bottom: 47px;
  }
  .main__mytape-theme {
    height: auto;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .main__mytape-wrap {
    width: 50%;
    padding: 0 10px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: none;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: calc(100% - 40px);
  }
  .main__acc,
  .main__notice {
    margin-bottom: 45px;
  }
  .main__acc-title,
  .main__mytape-title,
  .main__notice-title,
  .main__mytape-text {
    margin-bottom: 20px;
  }
}
