@import url(//hello.myfonts.net/count/394097);@media (max-width: 1399px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: 970px;
  }
  .main__acc-form .acc-form__wrap {
    max-width: 475px;
  }
}

@media (max-width: 1069px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: 640px;
  }
  .main__acc-form .acc-form__wrap {
    max-width: none;
  }
  .main__notice-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__mytape {
    margin-bottom: 69px;
  }
  .main__mytape-text {
    line-height: 24px;
  }
  .main__mytape-theme {
    max-width: 640px;
    height: 615px;
  }
}

@media (max-width: 729px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: calc(100% - 92px);
  }
  .main__head-title {
    font-size: 22px;
    line-height: normal;
    margin: 25px 0 15px;
  }
  .main__acc-form .input {
    padding: 0 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .main__acc-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 15px 0 30px;
  }
  .main__acc-title-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__acc-title-item:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 30px;
    width: 280px;
  }
  .main__acc {
    margin-bottom: 45px;
  }
  .main__acc-pass {
    margin: 0;
  }
  .main__acc-title {
    margin-bottom: 20px;
  }
  .main__notice {
    margin-bottom: 42px;
  }
  .main__notice-title {
    margin-bottom: 20px;
  }
  .main__acc-form .acc-form__title,
  .main__acc-pass,
  .main__notice-text,
  .main__mytape-text,
  .main__mytape-descr {
    font-size: 14px;
    line-height: 1.43;
  }
  .main__notice-text,
  .main__mytape-descr {
    padding: 0;
  }
  .main__mytape {
    margin-bottom: 47px;
  }
  .main__mytape-title {
    margin-bottom: 20px;
  }
  .main__mytape-theme {
    height: auto;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .main__mytape-wrap {
    width: 50%;
    padding: 0 10px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: none;
  }
  .main__mytape-wrap:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__mytape-wrap:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main__mytape-wrap:nth-child(25) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__mytape-wrap:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main__mytape-wrap:nth-child(26) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main__mytape-wrap:nth-child(4) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .main__mytape-wrap:nth-child(27) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .main__mytape-wrap:nth-child(5) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .main__mytape-wrap:nth-child(28) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .main__mytape-wrap:nth-child(6) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .main__mytape-wrap:nth-child(29) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .main__mytape-wrap:nth-child(7) {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .main__mytape-wrap:nth-child(30) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .main__mytape-wrap:nth-child(8) {
    -webkit-box-ordinal-group: 16;
        -ms-flex-order: 15;
            order: 15;
  }
  .main__mytape-wrap:nth-child(31) {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .main__mytape-wrap:nth-child(9) {
    -webkit-box-ordinal-group: 18;
        -ms-flex-order: 17;
            order: 17;
  }
  .main__mytape-wrap:nth-child(32) {
    -webkit-box-ordinal-group: 17;
        -ms-flex-order: 16;
            order: 16;
  }
  .main__mytape-wrap:nth-child(10) {
    -webkit-box-ordinal-group: 20;
        -ms-flex-order: 19;
            order: 19;
  }
  .main__mytape-wrap:nth-child(33) {
    -webkit-box-ordinal-group: 19;
        -ms-flex-order: 18;
            order: 18;
  }
  .main__mytape-wrap:nth-child(11) {
    -webkit-box-ordinal-group: 22;
        -ms-flex-order: 21;
            order: 21;
  }
  .main__mytape-wrap:nth-child(34) {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .main__mytape-wrap:nth-child(12) {
    -webkit-box-ordinal-group: 24;
        -ms-flex-order: 23;
            order: 23;
  }
  .main__mytape-wrap:nth-child(35) {
    -webkit-box-ordinal-group: 23;
        -ms-flex-order: 22;
            order: 22;
  }
  .main__mytape-wrap:nth-child(13) {
    -webkit-box-ordinal-group: 26;
        -ms-flex-order: 25;
            order: 25;
  }
  .main__mytape-wrap:nth-child(36) {
    -webkit-box-ordinal-group: 25;
        -ms-flex-order: 24;
            order: 24;
  }
  .main__mytape-wrap:nth-child(14) {
    -webkit-box-ordinal-group: 28;
        -ms-flex-order: 27;
            order: 27;
  }
  .main__mytape-wrap:nth-child(37) {
    -webkit-box-ordinal-group: 27;
        -ms-flex-order: 26;
            order: 26;
  }
  .main__mytape-wrap:nth-child(15) {
    -webkit-box-ordinal-group: 30;
        -ms-flex-order: 29;
            order: 29;
  }
  .main__mytape-wrap:nth-child(38) {
    -webkit-box-ordinal-group: 29;
        -ms-flex-order: 28;
            order: 28;
  }
  .main__mytape-wrap:nth-child(16) {
    -webkit-box-ordinal-group: 32;
        -ms-flex-order: 31;
            order: 31;
  }
  .main__mytape-wrap:nth-child(39) {
    -webkit-box-ordinal-group: 31;
        -ms-flex-order: 30;
            order: 30;
  }
  .main__mytape-wrap:nth-child(17) {
    -webkit-box-ordinal-group: 34;
        -ms-flex-order: 33;
            order: 33;
  }
  .main__mytape-wrap:nth-child(40) {
    -webkit-box-ordinal-group: 33;
        -ms-flex-order: 32;
            order: 32;
  }
  .main__mytape-wrap:nth-child(18) {
    -webkit-box-ordinal-group: 36;
        -ms-flex-order: 35;
            order: 35;
  }
  .main__mytape-wrap:nth-child(41) {
    -webkit-box-ordinal-group: 35;
        -ms-flex-order: 34;
            order: 34;
  }
  .main__mytape-wrap:nth-child(19) {
    -webkit-box-ordinal-group: 38;
        -ms-flex-order: 37;
            order: 37;
  }
  .main__mytape-wrap:nth-child(42) {
    -webkit-box-ordinal-group: 37;
        -ms-flex-order: 36;
            order: 36;
  }
  .main__mytape-wrap:nth-child(20) {
    -webkit-box-ordinal-group: 40;
        -ms-flex-order: 39;
            order: 39;
  }
  .main__mytape-wrap:nth-child(43) {
    -webkit-box-ordinal-group: 39;
        -ms-flex-order: 38;
            order: 38;
  }
  .main__mytape-wrap:nth-child(21) {
    -webkit-box-ordinal-group: 42;
        -ms-flex-order: 41;
            order: 41;
  }
  .main__mytape-wrap:nth-child(44) {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .main__mytape-wrap:nth-child(22) {
    -webkit-box-ordinal-group: 44;
        -ms-flex-order: 43;
            order: 43;
  }
  .main__mytape-wrap:nth-child(45) {
    -webkit-box-ordinal-group: 43;
        -ms-flex-order: 42;
            order: 42;
  }
  .main__mytape-wrap:nth-child(23) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .main__mytape-wrap:nth-child(46) {
    -webkit-box-ordinal-group: 45;
        -ms-flex-order: 44;
            order: 44;
  }
  .main__mytape-wrap:nth-child(24) {
    -webkit-box-ordinal-group: 48;
        -ms-flex-order: 47;
            order: 47;
  }
  .main__mytape-wrap:nth-child(47) {
    -webkit-box-ordinal-group: 46;
        -ms-flex-order: 45;
            order: 45;
  }
  .main__mytape-wrap:nth-child(48) {
    -webkit-box-ordinal-group: 49;
        -ms-flex-order: 48;
            order: 48;
  }
  .main__mytape-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .main__head,
  .main__acc,
  .main__notice,
  .main__mytape,
  .main__del {
    max-width: calc(100% - 40px);
  }
  .main__acc,
  .main__notice {
    margin-bottom: 45px;
  }
  .main__acc-title,
  .main__mytape-title,
  .main__notice-title,
  .main__mytape-text {
    margin-bottom: 20px;
  }
}
