
@import "_mixins/mixin"

.longread-preview
    width: 100%
    padding: 40px 0 140px
    @media (max-width: 1375px)
        padding: 40px 0 140px 80px

    &__head
        margin: 0 0 35px
    &__page,
    &__page-mobile
        margin: 0 0 140px

@import "_page/_longread-component/_longread-preview/preview-head"
@import "_page/_longread-component/_longread-preview/preview-page"

// Мобильная версия:
@import "_page/_longread-component/_longread-preview/preview-mobile"
