@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  max-width: 320px;
  min-width: 414px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 50;
}
.header-fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 51;
  transition: transform 0.2s linear;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.header-fixed--hide {
  transform: translateY(-86px);
}
.header-container {
  min-width: 320px;
  max-width: 414px;
  padding: 0 20px;
  margin: auto;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product {
  min-width: 320px;
  max-width: 414px;
  padding: 0 20px;
  margin: auto;
  padding-top: 206px ;
  position: relative;
}
.product__shape-img {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 2;
}
.product__title {
  font-size: 28px;
  margin-bottom: 24px;
}
.product__text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}
.product__sidetext {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 64px;
}
.product__image {
  width: 100%;
  margin-bottom: 64px;
}
.product__parallax-index1,
.product__parallax-index2,
.product__parallax-index3 {
  position: absolute;
}
.product__parallax-index1 {
  top: 110px;
  left: 75px;
  z-index: 15;
}
.product__parallax-index2 {
  top: 80px;
  left: 240px;
  z-index: 15;
  color: #fff;
}
.product__parallax-index3 {
  top: 385px;
  left: 250px;
  z-index: 3;
  color: #fff;
}
.product__parallax-num {
  font-size: 72px;
  font-family: 'Formular';
}
.product__parallax-num--mod {
  position: relative;
}
.product__parallax-num--mod sup {
  position: absolute;
  right: -30px;
  top: 0px;
  font-size: 48px;
}
.product__parallax-text {
  font-size: 24px;
  line-height: 1.25;
}
.product__parallax-item1,
.product__parallax-item2,
.product__parallax-item3 {
  position: absolute;
  top: 0;
  left: 160PX;
  z-index: 1;
}
.product__parallax-item2 {
  top: 250px;
  left: 16px;
  z-index: 2;
}
.product__parallax-item3 {
  top: 600px;
  left: -20px;
  z-index: 3;
}
.product__parallax-group2 {
  min-width: 280px;
  max-width: 384px;
  position: relative;
}
.product__parallax-item4 {
  position: absolute;
  right: -20px;
  top: 0;
}
.product__parallax-item4 img {
  height: 810px;
}
.product__parallax-item5 {
  margin-bottom: 205px;
  padding-top: 35px;
}
.product__parallax-item6 {
  margin-bottom: 60px;
}
.product__parallax-item7 {
  margin-bottom: 35px;
}
@keyframes parallax {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
.product__parallax-item5,
.product__parallax-item6,
.product__parallax-item7,
.product__parallax-item8 {
  text-align: left;
  width: 264px;
}
.company__year {
  font-size: 32px;
  color: #ee4237;
  font-family: "Formular";
}
.company__info {
  font-size: 16px;
  line-height: 22px;
  width: 256px;
}
.functions {
  min-width: 320px;
  max-width: 414px;
  padding: 98px 20px 64px;
  margin: auto;
}
.functions--fixed {
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;
  z-index: -1;
}
.functions__title {
  font-size: 28px;
  margin-bottom: 24px;
}
.functions__text {
  font-size: 16px;
  line-height: 22px;
}
.function__wrap {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 56px;
  grid-row-gap: 40px;
  margin-top: 48px;
}
.function__title {
  font-size: 24px;
  margin-bottom: 8px;
}
.function__text {
  font-size: 16px;
  line-height: 22px;
  padding-right: 10px;
}
.stage {
  background: #2d358f;
  height: 400px;
  max-width: 100%;
}
.stage__container {
  margin: auto;
  min-width: 320px;
  max-width: 414px;
  padding: 40px 20px 0 ;
  color: #fff;
}
.stage__title {
  font-size: 28px;
  width: 224px;
}
.stage__text {
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0 56px;
  width: 280px;
}
.stage__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stage__btn {
  background: 0;
  outline: 0;
  cursor: pointer;
  border: 0;
}
.stage__slider-container {
  display: none;
  width: 0%;
  overflow: hidden;
}
.stage__slider-img1 {
  width: 441px;
  height: 195px;
  margin-top: 32px;
}
.stage__slider-img4 {
  margin-right: 95px;
  margin-top: 32px;
}
.stage__slider-img5 {
  width: 92px;
  height: 143px;
  margin-top: 32px;
}
.stage__slider-img7 {
  width: 132px;
  height: 126px;
  margin-top: 32px;
  margin-left: calc(100% - 132px);
}
.stage__slider-img8 {
  width: 131px;
  height: 74px;
  margin-top: 32px;
}
.stage__slider-img9 {
  width: 200px;
  height: 112px;
  margin-top: 32px;
  margin-left: 80px;
}
.stage__slider-img10 {
  width: 148px;
  height: 119px;
  margin-top: 32px;
  margin-left: 410px;
}
.stage__slider-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show {
  display: block !important;
  width: 100% !important;
}
.stage__slider-dots {
  display: flex;
  margin-top: 14px;
  margin-bottom: 16px;
}
.slider__button-left,
.slider__button-right {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.stage__slider-items {
  display: none;
}
.stage__slider-left {
  margin-right: 16px;
}
.stage__slider-dot {
  width: 6px ;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
.stage__slider-dot--active {
  background: #ee4237;
}
.stage__slider-num {
  font-size: 20px;
  line-height: 1.25;
  font-family: 'Formular';
}
.team {
  margin: auto;
  min-width: 320px;
  max-width: 414px;
  padding: 64px 0px 0px 20px;
}
.team__title {
  font-size: 28px;
  margin-bottom: 24px;
}
.team__item {
  margin-bottom: 30px;
}
.team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.team__wrap {
  display: flex;
  overflow-x: scroll;
  height: 120%;
  width: 100%;
}
.team__helper {
  overflow: hidden;
  height: 310px;
}
.team__item-arrow {
  margin-right: 32px;
}
.team__item-title {
  font-size: 20px;
  line-height: 26px;
}
.team__btn {
  background: url(../assets/img/arrow-down.svg) right no-repeat;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  color: #ee4237;
  line-height: 23px;
  padding-right: 22px;
}
.btn--active {
  background: url(../assets/img/arrow-top.svg) right no-repeat;
}
.team__list-image {
  width: 66%;
  margin-right: 24px;
}
.team__list-image img {
  display: block;
}
.team__list-name {
  font-size: 16px;
  line-height: 22px;
  margin: 8px 0 4px;
}
.team__list-prof {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.career__container {
  margin: auto;
  padding: 44px 20px 64px;
  min-width: 320px;
  max-width: 414px;
}
.career__title {
  font-size: 28px;
  margin-bottom: 24px;
  line-height: 1.25;
}
.career__wrap {
  display: grid;
  grid-template-columns: 280px ;
  grid-row-gap: 24px;
}
.career__prof {
  font-size: 20px;
  line-height: 24px;
}
.career__link {
  color: #ee4237;
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
}
.news {
  margin: auto;
  min-width: 320px;
  max-width: 414px;
  padding: 0 20px 64px 20px;
  overflow: hidden;
}
.news__title {
  font-size: 28px;
  margin-bottom: 28px;
  line-height: 1.25;
}
.tabs__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.tabs {
  margin-bottom: 16px ;
  display: flex;
}
.tabs li {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px 0px 5px ;
  padding-left: 16px;
}
.tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 8px 16px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
.tab:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab--active {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237;
}
.news__link {
  color: #ee4237;
  font-size: 18px;
}
.news__link::after {
  content: url(../assets/img/news_arrow.svg);
  margin-left: 11px;
}
.news__slider-wrap {
  display: grid;
  grid-template-columns: 66% 66% ;
  grid-column-gap: 24px;
}
.news__slider-category {
  color: #000;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 2px;
}
.news__slider-category::before {
  content: url(../assets/img/news_build.svg);
  margin-right: 5px;
}
.news__slider-category--empty::before {
  content: '';
}
.news__slider-img {
  display: block;
  width: 100%;
}
.news__slider-title {
  color: #000;
  font-size: 16px;
  margin: 9px 0 4px;
  line-height: 22px;
  height: 46px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news__date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.news__slider-wrapper {
  position: relative;
}
.news__slider-left,
.news__slider-right {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-43px);
  border: 0;
  outline: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.news__slider-left {
  display: none;
}
.news__slider-left {
  left: -24px;
  background: url(../assets/img/slideLeft.svg);
}
.news__slider-right {
  right: -24px;
  background: url(../assets/img/slideRight.svg);
}
.news__btn-all {
  padding: 14px 0;
  font-size: 18px ;
  color: #000;
  display: inline-block;
  text-align: center;
  border: 1px solid #ee4237;
  width: 100%;
  margin-top: 32px;
}
.news__btn-all::after {
  content: url(../assets/img/all-news.svg);
  margin-left: 8px;
}
.documentation {
  margin: auto;
  max-width: 320px;
  min-width: 414px;
  padding: 0 20px 64px;
}
.documentation__wrap:last-child .documentation__content {
  border: 0;
}
.documentation__content {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 16px;
}
.documentation__title {
  font-size: 28px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.documentation__item {
  margin-bottom: 16px;
}
.documentation__category {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 16px;
  width: 280px;
}
.doc__file {
  color: #ee4237;
  margin-top: 5px;
  position: relative;
  line-height: 1.25;
  padding-left: 27px;
  font-size: 16px;
}
.doc__file::before {
  content: url(../assets/img/icon-pdf.svg);
  margin-right: 8px;
  position: absolute;
  top: -25%;
  left: 0px;
}
.doc__date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 11px;
}
.doc__btn {
  color: #ee4237;
  font-size: 16px;
  position: relative;
  background: none;
  border: none;
  font-family: inherit;
  outline: 0;
}
.doc__btn::after {
  content: url(../assets/img/arrow-down.svg);
  margin-right: 11px;
  position: absolute;
  top: 0;
  right: -30px;
}
.footer__wrap {
  margin: auto;
  padding: 20px ;
  min-width: 320px;
  max-width: 414px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-container {
  margin: auto;
  min-width: 320px;
  max-width: 414px;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__socials {
  display: flex;
}
.footer__link {
  display: block;
  margin-right: 16px;
}
.footer__link:last-child {
  margin-right: 0;
}
.copyright {
  font-size: 18px;
  line-height: 1.25;
  margin-left: 24px;
}
.footer__item2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__credits {
  color: #000;
  margin-left: 8px;
  border-bottom: 1px solid #000;
}
.menu {
  background-color: #f5f5f5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}
.menu-container {
  margin: auto;
  padding: 48px 20px  20px;
  max-width: 414px;
  position: relative;
  width: 100%;
  height: 100%;
}
.btn-close {
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 32px;
  z-index: 100;
  border: 0;
}
.menu-list li {
  padding: 12px 0;
  border-bottom: 1px solid #d8d8d8;
}
.menu-link {
  color: #000;
  font-size: 24px;
  line-height: 32px;
}
.menu--heart {
  border: 0 !important;
}
.menu-link--heart::before {
  content: url(../assets/img/heart.svg);
  margin-right: 7px;
}
.menu__footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.menu__footer-wrap {
  display: flex;
  justify-content: space-between;
}
.menu__footer-socials {
  display: flex;
  justify-content: space-between;
}
.menu__footer-text {
  font-size: 16px;
  width: 250px;
  line-height: 1.25;
  margin-bottom: 16px;
}
.menu__footer-phone {
  color: #ee4237;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
