@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  max-width: 916px;
  width: 100%;
  margin: 64px auto;
  padding: 48px 70px;
  background: #fff;
  position: relative;
}
.form__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-item {
  display: block;
  position: relative;
  margin-top: 40px;
}
.form-label {
  position: absolute;
  pointer-events: none;
  font-size: 18px;
  left: 0;
  top: 0;
  line-height: 40px;
  transition: 0.3s;
}
.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
  top: -28px;
  font-size: 14px;
}
.button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  top: 64px;
  left: 0;
  margin: auto;
  transform: translateX(506px);
  z-index: 1;
  outline: none;
  border: none;
  cursor: pointer;
}
.button--del:hover {
  background: #EFEFEF;
  display: inline-block;
}
.button--accept {
  background: #46b757;
  top: 120px;
}
.button--accept:hover {
  background: #298136;
}
.button__delete {
  position: absolute;
  border-radius: 50%;
  background: #ee4237;
  width: 17px;
  height: 17px;
  top: -8px;
  left: -8px;
  z-index: 2;
  outline: none;
  border: none;
  cursor: pointer;
}
.button__delete:hover {
  background: #ee534a;
}
.preiew__img {
  position: absolute;
  top: 5px;
  left: 5px;
}
.preview__title {
  font-size: 36px;
  margin-bottom: 24px;
}
.preview__info {
  background: #efefef;
  padding: 20px 24px 32px;
}
.info-title {
  margin-bottom: 46px;
  font-size: 24px;
}
textarea {
  resize: none;
  overflow: hidden;
}
.info-input {
  width: 100%;
  border: 0;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  outline: none;
  padding-bottom: 8px;
  font-size: 18px;
}
.info-suptitle,
.info-input {
  display: block;
  font-family: inherit;
}
.info-suptitle {
  font-size: 18px;
  color: #000;
  opacity: 0.5;
}
.btn {
  margin: 48px 0 0px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.56);
  padding: 10px 16px;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}
.snippet {
  padding: 40px 0;
}
.snippet__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.snippet__delete {
  color: black;
  font-size: 18px;
}
.snippet__delete:hover {
  color: rgba(0, 0, 0, 0.5);
}
.snippet__info {
  background: #efefef;
  padding: 20px 24px 32px;
  margin: 16px 0 -8px;
}
.snippet__checkbox {
  display: none;
}
.snippet__label {
  position: relative;
  font-size: 18px;
  padding-left: 32px;
  margin: 24px 0 5px;
  display: inline-block;
}
.snippet__label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #898989;
  background: transparent;
  position: absolute;
  left: 0;
  top: -25%;
}
.snippet__text {
  padding-left: 32px;
  color: rgba(0, 0, 0, 0.5);
}
.snippet__checkbox:checked + .snippet__label:before {
  background: url(../../assets/img/previewContent/check.svg) no-repeat center / cover;
  background-size: 80%;
  border-color: #ee4237;
}
.btn--save {
  background: #ee4237;
  padding: 14px 16px;
}
.btn--save:hover {
  background: #ee534a;
}
.btn--cancel {
  background: transparent;
  padding: 14px 16px;
  color: #000;
}
.btn--cancel:hover {
  color: rgba(0, 0, 0, 0.5);
}
