
.modal
    width: 100%
    height: 100%
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    overflow-y: auto
    overflow-x: hidden
    padding: 60px 0
    background-color: rgba(54, 54, 54, .8)
    &_many-items
        align-items: flex-start

    &__gallery
        width: 1000px
        min-height: 90px
        padding: 69px 95px 69px 134px
        background-color: #f5f2f1
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06)

        &-item
            width: 100%
            margin: 0 0 20px
            &:first-child
                transform: translateY(-30px)
            &:nth-last-child(2)
                margin: 0 0 80px
                
        &-btn
            width: 100%
            display: flex
            justify-content: flex-end

            &_add,
            &_save
                width: 182px
                height: 44px
                font: 500 14px/24px $font-sans
                color: #6f6a60
                letter-spacing: .5px
                border-radius: 3px
                text-transform: uppercase
                @include linear (color)
                &:hover
                    color: $col-headline
            &_add
                display: flex
                justify-content: center
                align-items: center
                background-color: #fff
                margin-right: 23px
                cursor: pointer
                input
                    display: none
                &-empty-items
                    background-color: $col-active
            &_save
                background-color: $col-active

.gallery-item

    &__content
        display: flex
        align-items: center
        // justify-content: space-between
        margin: 0 0 20px

        &-move
            width: 24px
            height: 24px
            background: url(../img/longread/move.svg) center no-repeat
            cursor: pointer
            margin-right: 7px
        &-img
            width: 136px
            height: 90px
            background: url(../img/longread/image_72.svg) center no-repeat rgba(60, 60, 60, 0.8)
            background-size: 30px
            margin-right: 39px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &-name
            width: 260px
            font: 13px/15px $font-sans
            color: rgba(0, 0, 0, 0.87)
            overflow: hidden
            text-overflow: ellipsis
            margin-right: 40px
        &-replace,
        &-descr
            height: 30px
            font: 13px/15px $font-sans
            color: rgba(0, 0, 0, 0.87)
            transition: color .2s linear
            margin-right: 31px
            user-select: none
            display: flex
            align-items: center
            justify-content: center
            &:hover
                color: $col-active
            &_active
                color: $col-active
            input 
                display: none
        &-del
            width: 24px
            height: 24px
            background: url(../img/longread/delete.svg) center no-repeat

    &__descr
        display: none
        flex-flow: column nowrap
        align-items: flex-end
        &_active
            display: flex

        &-text,
        &-credit
            width: calc(100% - 31px)
            height: 48px
            font: 16px/24px $font-sans
            color: $col-75
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06)
            border: none
            margin: 0 0 20px
            padding-left: 10px 
        &-copy
            display: flex
            align-items: center
            font: 16px/24px $font-sans
            color: $col-75
            cursor: pointer
            input
                display: none
                &:checked + .gallery-item__descr-checkbox
                    background: url(../img/longread/check.svg) center no-repeat
        &-checkbox
            width: 18px
            height: 18px
            border: 2px solid #9c9c9c
            border-radius: 3px
            margin-right: 11px