@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  z-index: 1;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  width: 1280px;
  padding: 24px 32px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #f5f5f5;
  z-index: 54;
}
.header-fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 51;
  transition: transform 0.2s linear;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.header-fixed--hide {
  transform: translateY(-77px);
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__bar li {
  padding-right: 24px;
}
.nav__bar li:last-child {
  padding-right: 0;
}
.header__logo {
  margin-right: 41px;
}
.nav__link {
  font-size: 24px;
  color: #000;
  transition: all 0.3s linear;
}
.nav__link:hover {
  color: #ee4237;
}
.active {
  color: #ee4237 !important;
}
.nav__link-heart {
  position: relative;
  font-size: 24px;
  color: #000;
  margin-right: 67px;
  transition: all 0.3s linear;
}
.nav__link-heart sup {
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -14px;
}
.nav__link-heart::before {
  content: url(../assets/img/header_hearthover.svg);
  font-size: 14px;
  position: absolute;
  top: -4px;
  right: 0;
  display: none;
}
.nav__link-heart:hover::before {
  display: block;
}
.header__phone {
  color: #ee4237;
  font-size: 24px;
}
.about {
  padding-top: 77px;
  background-color: #f5f5f5;
}
.about-container {
  width: 1280px;
  margin: auto;
  padding: 0 88px  100px;
}
.about__helper {
  display: grid;
  grid-template-columns: 580px 620px;
}
.about-wrap {
  position: relative;
}
.about__img {
  width: 971px;
  height: 570px;
  display: block;
}
.about__img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.about__img2 {
  position: absolute;
  bottom: -20px;
  right: -105px;
  width: 231px;
  height: 392px;
  z-index: 1;
}
.about__img3 {
  position: absolute;
  top: 45px;
  left: -62px;
  width: 231px;
  height: 236px;
}
.about__img4 {
  position: absolute;
  top: 255px;
  right: 40px;
  width: 124px;
  height: 147px;
  z-index: 2;
}
.about__title {
  margin: 100px 0 24px;
  font-size: 36px;
  line-height: 1.25;
}
.about__text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 48px;
  width: 410px;
}
.about__news-preview {
  color: #ee4237;
}
.about__news-preview:hover {
  color: rgba(0, 0, 0, 0.5);
}
.about__date-preview {
  font-size: 15px;
}
.about__text-preview {
  font-size: 24px;
  line-height: 31px;
  margin-top: 8px;
  margin-bottom: 80px;
  width: 440px;
}
.about__mouse {
  position: relative;
}
.mouse-point {
  position: absolute;
  top: 10px;
  left: 11px;
  animation: myMove 2s infinite linear;
}
@keyframes myMove {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.offer {
  background-color: #f5f5f5;
}
.offer-container {
  width: 1280px;
  margin: auto;
  padding: 0px 88px 24px;
}
.offer-wrap {
  width: 1280px;
  margin: auto;
  padding: 12px 88px 0;
  display: grid;
  grid-template-columns: 190px  1fr 1fr 1fr;
  align-items: flex-start;
}
.offer__content {
  background: #fff;
}
.offer__title {
  font-size: 36px;
  line-height: 1.25;
}
.offer__room-search {
  display: flex;
  margin-top: 4px;
}
.offer__room-title {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
}
.offer__room-checkbox {
  display: none;
}
.offer__room-checkbox:checked + .offer__room-num {
  background: #ee4237;
  color: #fff;
}
.offer__room-num {
  font-size: 18px;
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 12px;
  line-height: 1.25;
  border: 1px solid #d8d8d8;
  border-left: 0;
}
.offer__room-num:hover {
  background: #ee534a;
}
.offer__room-num--1 {
  border-left: 1px solid #d8d8d8 !important;
}
.offer__cost {
  padding: 0 32px 0 40px;
}
.offer__cost-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.devider img {
  display: block;
  width: 100%;
}
.offer__cost-minvalue,
.offer__cost-maxvalue {
  font-size: 18px;
  line-height: 1.25;
}
.offer__cost-range {
  width: 100%;
  height: 1px;
  background: #ee4237;
  position: relative;
  margin: 12px 0 24px;
}
.offer__cost-range::before {
  content: '';
  width: 16px;
  height: 16px;
  background: #ee4237;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -8px;
}
.offer__cost-range::after {
  content: '';
  width: 16px;
  height: 16px;
  background: #ee4237;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -8px;
}
.offer__complex-search,
.objects__utilities-search {
  font-size: 18px;
  line-height: 1.25;
  position: relative;
  width: 116px;
  margin-top: 14px;
  background: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border: 0;
}
.offer__complex-search::after,
.objects__utilities-search::after {
  content: url(../assets/img/complex-arrow.svg);
  position: absolute;
  top: -7px;
  right: -35px;
}
.offer__complex-search--active::after {
  content: url(../assets/img/complex-uparrow.svg);
}
.offer__helper {
  position: relative;
}
.offer__complex-checkbox {
  display: none;
}
.offer__complex-wrap {
  margin-top: 12px !important;
}
.offer__complex-wrap,
.objects__utilities-wrap {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  width: 260px;
  border-top: 1px solid #d8d8d8;
  display: none;
}
.offer__complex-wrap--block,
.objects__utilities-wrap--block {
  display: block;
}
.offer__complex-wrapper {
  border: 1px solid #d8d8d8;
  border-top: 0;
  padding: 16px 16px 13px;
}
.offer__complex-label {
  position: relative;
  padding-left: 32px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.25;
}
.offer__complex-label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #898989;
  background: transparent;
  position: absolute;
  left: 0;
  top: -3px;
}
.offer__complex-label:hover {
  color: #ee4237;
}
.offer__complex-label:hover::before {
  border: 1px solid #ee4237;
}
.offer__complex-checkbox:checked + .offer__complex-label::before {
  background: url(../../assets/img/previewContent/check.svg) no-repeat center / cover;
  background-size: 80%;
  border-color: #ee4237;
}
.offer__complex-checkbox:checked + .offer__complex-label {
  color: #ee4237;
}
.offer__info-link {
  color: #fff;
  padding: 14px 16px;
  background: #ee4237;
  display: inline-block;
  font-size: 18px;
  margin: 18px 0 30px;
  text-align: center;
}
.objects {
  background: #f5f5f5;
  height: auto;
}
.objects-container {
  width: 1280px;
  margin: auto;
  padding: 96px 88px;
}
.objects-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}
.objects__title {
  font-size: 36px;
  line-height: 1.25;
}
.objects__title-wrap {
  display: flex;
  align-items: center;
}
.switch {
  display: none;
}
.objects__title-label {
  position: relative;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.25;
}
.objects__title-label::after {
  content: '';
  width: 42px;
  height: 24px;
  background: #d8d8d8;
  position: absolute;
  border-radius: 20px;
  top: -3px;
  right: -54px;
  z-index: 1;
}
.objects__title-label::before {
  content: '';
  width: 16px;
  height: 16px;
  background: #5f5f5f;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  right: -32px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.switch:checked + .objects__title-label::before {
  right: -51px;
  background: #fff;
}
.switch:checked + .objects__title-label::after {
  background: #ee4237;
}
.objects__link {
  color: #ee4237;
  font-size: 18px;
}
.objects__link::after {
  content: url(../assets/img/down-arrow.svg);
  margin-left: 11px;
}
.objects__utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.objects__utilities-lock {
  position: relative;
}
.objects__utilities-helper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.objects__utilities-search {
  width: 47px;
}
.objects__utilities-search::after {
  top: -7px;
  right: -39px;
}
.objects__utilities-wrap {
  margin-top: 10px;
  background: #f5f5f5;
}
.objects__utilities-price {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.objects__price-title {
  font-size: 18px;
}
.objects__price-input {
  background: none;
  border: 0ch;
  outline: 0;
  font-family: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 170px;
  line-height: 1.25;
  font-size: 18px;
  padding-bottom: 8px;
  margin-left: 20px;
}
.objects__price-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.objects__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.objects__nav-list li {
  margin-bottom: 8px;
}
.objects__nav-link {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  font-size: 18px;
  padding-bottom: 8px;
}
.objects__nav-link--ml {
  margin-left: 0 !important;
}
.objects__nav-link--active {
  color: #ee4237;
  border-bottom: 1px solid #ee4237;
}
.objects__map {
  display: flex;
  display: none;
}
.objects__map-container {
  width: 350px !important;
}
.objects__map-imgwrap {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.objects__map-img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.objects__map-item {
  display: flex;
  align-items: center;
}
.objects__map-item:hover {
  background: #ee4237;
  color: #fff;
}
.objects__map-item:hover .objects__map-title {
  color: #fff;
}
.objects__map-item:hover .objects__map-status {
  color: #fff;
}
.objects__map-title {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 6px;
  color: #000;
}
.objects__map-status {
  font-size: 15px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
}
.objects__map-item {
  padding: 0 20px;
}
.objects__item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.objects__item {
  height: 268px;
  width: 100%;
  position: relative;
}
.objects__item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50% ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 62%);
  opacity: 0.7;
  z-index: 1;
}
.objects__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100% ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 30%);
  z-index: 1;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.objects__item:hover::before {
  opacity: 0.6;
}
.objects__item:nth-child(1),
.objects__item:nth-child(5) {
  grid-row: span 2;
  height: 560px;
}
.objects__item:nth-child(1) .objects__item-img,
.objects__item:nth-child(5) .objects__item-img {
  height: 560px;
}
.objects__item-img {
  display: block;
  width: 100%;
  height: 268px;
  object-fit: cover;
  position: relative;
}
.objects__item-location {
  color: #000;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
  font-size: 14px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
.objects__item-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 3;
  color: #fff;
}
.objects__item-title {
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 1.25;
}
.objects__item-status {
  font-size: 18px;
  line-height: 1.25;
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}
.img-map {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.img-map--hover {
  border: 3px solid #ee4237;
  transform: scale(1.1);
}
.news {
  background-color: #f5f5f5;
}
.news-container {
  width: 1280px;
  margin: auto;
  padding: 0 88px 120px;
}
.news__title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.tabs__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tabs {
  margin-bottom: 16px ;
  display: flex;
}
.tabs li {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px 0px 8px ;
  padding-left: 16px;
}
.tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 8px 16px;
  font-size: 18px;
  position: relative;
}
.tab:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab--active {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237;
}
.news__link {
  color: #ee4237;
  font-size: 18px;
}
.news__link::after {
  content: url(../assets/img/down-arrow.svg);
  margin-left: 11px;
}
.news__slider-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
.news__slider-img-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100% ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 30%);
  z-index: 1;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.news__slider-item:hover .news__slider-img-wrap::before {
  opacity: 0.6;
}
.news__slider-item:hover .news__slider-title {
  color: #ee4237;
  transition: color 0.3s linear;
}
.news__slider-category {
  color: #000;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 2px;
}
.news__slider-category::before {
  content: url(../assets/img/news_build.svg);
  margin-right: 5px;
}
.news__slider-category--empty::before {
  content: '';
}
.news__slider-img-wrap {
  position: relative;
}
.news__slider-stock {
  background: #ee4237;
  color: #fff;
  padding: 6px 12px;
  line-height: 1.25;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 5;
}
.news__slider-img {
  display: block;
  width: 100%;
}
.news__slider-title {
  color: #000;
  font-size: 18px;
  margin: 9px 0 4px;
  line-height: 1.25;
  height: 46px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news__date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.news__slider-wrapper {
  position: relative;
}
.news__slider-left,
.news__slider-right {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-43px);
  border: 0;
  outline: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.news__slider-left {
  display: none;
}
.news__slider-left {
  left: -24px;
  background: url(../assets/img/slideLeft.svg);
}
.news__slider-right {
  right: -24px;
  background: url(../assets/img/slideRight.svg);
}
.info {
  background-color: #f5f5f5;
}
.info-container {
  width: 1280px;
  position: relative;
  margin: auto;
  padding: 0 88px 96px;
}
.info-wrap {
  height: 812px;
  position: relative;
}
.info__btn {
  margin-bottom: 16px;
  padding: 10px 16px ;
  background: #ee4237;
  color: #fff;
  font-size: 18px;
  outline: none;
  font-family: inherit;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.info__btn:hover {
  background: #ee534a;
}
.info__btn::before {
  content: url(../../assets/img/mainPage/content_icon.svg);
  margin-right: 5px ;
}
.info__wrapper {
  display: flex;
}
.info__content {
  margin-right: 24px;
  margin-top: 48px;
}
.info-img {
  width: 100%;
  display: block;
}
.info-img1 {
  position: absolute;
  top: 10px;
  right: 190px;
  z-index: 1;
  width: 502px;
  height: 407px;
}
.info-img2 {
  position: absolute;
  top: 17%;
  left: 0;
  z-index: 2;
  width: 1104px;
  height: 534px;
}
.info-img3 {
  position: absolute;
  bottom: 0;
  right: 120px;
  z-index: 3;
  width: 815px;
  height: 525px;
}
.info__main-text {
  font-size: 24px;
  margin-bottom: 24px;
  width: 405px;
  line-height: 1.25;
}
.info__text {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 12px;
  width: 540px;
}
.info__links {
  margin-top: 40px;
}
.info__links li {
  margin-bottom: 16px;
}
.info__link {
  color: #ee4237;
  line-height: 1.25;
  font-size: 18px;
}
.footer {
  background-color: #f5f5f5;
}
.footer__wrap {
  margin: auto;
  padding: 35px 32px ;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__socials {
  display: flex;
}
.footer__link {
  display: block;
  margin-right: 16px;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link:hover .footer__link-fill {
  fill: #797878;
}
.copyright {
  font-size: 18px;
  line-height: 1.25;
  margin-left: 24px;
}
.footer__item2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__credits {
  color: #000;
  margin-left: 8px;
  border-bottom: 1px solid #000;
}
