@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  max-width: 1280px;
  padding: 0 32px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 32px;
  height: 77px;
  background: #fafafa;
  z-index: 54;
}
.header-fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 51;
  transition: transform 0.2s linear;
}
.header-fixed--hide {
  transform: translateY(-77px);
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__bar li {
  padding-right: 24px;
}
.nav__bar li:last-child {
  padding-right: 0;
}
.header__logo {
  margin-right: 41px;
}
.nav__link {
  font-size: 24px;
  color: #000;
}
.nav__link:hover {
  color: #ee4237;
}
.active {
  color: #ee4237 !important;
}
.nav__link-heart {
  position: relative;
  font-size: 24px;
  color: #000;
  margin-right: 67px;
}
.nav__link-heart sup {
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -14px;
}
.nav__link-heart::before {
  content: url(../assets/img/header_hearthover.svg);
  font-size: 14px;
  position: absolute;
  top: -4px;
  right: 0;
  display: none;
}
.nav__link-heart:hover::before {
  display: block;
}
.header__phone {
  color: #ee4237;
  font-size: 24px;
}
.project__nav {
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 55px;
  background: #fafafa;
  z-index: 55;
}
.project__nav-fixed {
  position: fixed;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 50;
  transition: transform 0.2s linear;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
.project__nav-fixed--side {
  transform: translateY(77px);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.project__nav-container {
  height: 55px;
  max-width: 1280px;
  padding: 0 32px;
  margin: auto;
  display: flex;
  align-items: center;
}
.project__nav-bar {
  display: flex;
}
.project__nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-right: 16px;
  padding-bottom: 18px;
}
.project__nav-link:hover {
  color: #ee4237;
  border-bottom: 1px solid #ee4237;
}
.active-link {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237 !important;
}
.product {
  max-width: 1280px;
  padding: 0 88px;
  margin: auto;
  padding-top: 292px ;
  position: relative;
}
.product__shape-img {
  position: absolute;
  top: 212px;
  left: 88px;
  z-index: 2;
}
.product__inner {
  display: flex;
  margin-bottom: 90px;
}
.product__text {
  font-size: 24px;
  line-height: 30px;
  width: 634px;
  margin-right: 118px;
}
.product__sidetext {
  margin-top: 4px;
  font-size: 18px;
  line-height: 20px;
  width: 352px;
  padding-right: 60px;
  color: rgba(0, 0, 0, 0.5);
}
.product__parallax {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.product__parallax-group1 {
  width: auto;
  margin-right: 117px;
  position: relative;
}
.product__parallax-index1,
.product__parallax-index2,
.product__parallax-index3 {
  position: absolute;
}
.product__parallax-index1 {
  top: 110px;
  left: 75px;
  z-index: 15;
}
.product__parallax-index2 {
  top: 80px;
  left: 240px;
  z-index: 15;
  color: #fff;
}
.product__parallax-index3 {
  top: 385px;
  left: 250px;
  z-index: 3;
  color: #fff;
}
.product__parallax-num {
  font-size: 72px;
  font-family: 'Formular';
}
.product__parallax-num--mod {
  position: relative;
}
.product__parallax-num--mod sup {
  position: absolute;
  right: -30px;
  top: 0px;
  font-size: 48px;
}
.product__parallax-text {
  font-size: 24px;
  line-height: 1.25;
}
.product__parallax-item1,
.product__parallax-item2,
.product__parallax-item3 {
  position: absolute;
  top: 0;
  left: 160PX;
  z-index: 1;
}
.product__parallax-item2 {
  top: 250px;
  left: 16px;
  z-index: 2;
}
.product__parallax-item3 {
  top: 600px;
  left: -20px;
  z-index: 3;
}
.product__parallax-group2 {
  width: 351px;
  position: relative;
}
.product__parallax-item4 {
  position: absolute;
  right: 0;
  top: 0;
}
.product__parallax-item5 {
  margin-bottom: 240px;
  margin-top: 60px;
}
.product__parallax-item6,
.product__parallax-item7,
.product__parallax-item8 {
  margin-bottom: 56px;
  opacity: 0;
}
.product__parallax-item6--active,
.product__parallax-item7--active,
.product__parallax-item8--active {
  transform: translateY(-20px);
  animation: parallax 1s;
}
.product__parallax-item6--op,
.product__parallax-item7--op,
.product__parallax-item8--op {
  opacity: 1;
}
@keyframes parallax {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
.product__parallax-item5,
.product__parallax-item6,
.product__parallax-item7,
.product__parallax-item8 {
  text-align: left;
  width: 264px;
}
.company__year {
  font-size: 40px;
  color: #ee4237;
  font-family: "Formular";
  position: relative;
}
.company__year::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -46px;
  z-index: 2;
  width: 200px;
  height: 2px;
  background: #ee4237;
}
.company__info {
  font-size: 18px;
  line-height: 20px;
}
.functions {
  max-width: 1280px;
  padding: 96px 88px;
  margin: auto;
}
.functions--fixed {
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;
  z-index: -1;
}
.functions__container {
  max-width: 725px;
}
.functions__title {
  font-size: 36px;
  margin-bottom: 24px;
}
.functions__text {
  font-size: 24px;
  line-height: 125%;
}
.function__wrap {
  display: grid;
  grid-template-columns: 320px 320px;
  grid-column-gap: 56px;
  grid-row-gap: 40px;
  max-width: 725px;
  margin-top: 48px;
}
.function__title {
  font-size: 24px;
  margin-bottom: 8px;
}
.function__text {
  font-size: 18px;
  line-height: 26px;
  padding-right: 10px;
}
.stage {
  background: #2d358f;
  max-width: 100%;
}
.stage__container {
  margin: auto;
  padding: 96px 88px 140px;
  max-width: 1280px;
  color: #fff;
}
.stage__title {
  font-size: 36px;
}
.stage__text {
  font-size: 24px;
  line-height: 1.25;
  margin: 26px 0 56px;
  width: 715px;
}
.stage__parallax-wrap {
  position: relative;
  height: 1196px;
  padding-top: 30px;
}
.stage__parallax-img1 {
  position: absolute;
  top: -40px;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
  z-index: 1;
}
.stage__parallax-wrapper {
  max-width: 1280px;
  position: absolute;
  bottom: -15px;
  left: -88px;
  height: 100%;
  z-index: 2;
}
.stage__parallax-img2 {
  height: 100%;
  width: 100%;
  display: block;
}
.stage__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 240px;
  position: absolute ;
  z-index: 3;
}
.stage__grid-item {
  display: flex;
}
.stage__grid-item:nth-child(1) .stage__parallax-text {
  width: 162px;
}
.stage__grid-item:nth-child(2) {
  margin-left: 40px;
}
.stage__grid-item:nth-child(2) .stage__parallax-text {
  width: 300px;
  margin-left: 10px;
}
.stage__grid-item:nth-child(3) {
  grid-column-end: span 2;
  margin-left: 480px;
  margin-top: 30px;
}
.stage__grid-item:nth-child(3) .stage__parallax-text {
  width: 238px;
}
.stage__grid-item:nth-child(4) {
  margin-left: 205px;
  margin-top: 10px;
}
.stage__grid-item:nth-child(4) .stage__parallax-text {
  width: 174px;
}
.stage__grid-item:nth-child(5) {
  margin-left: 210px;
  margin-top: 10px;
}
.stage__grid-item:nth-child(5) .stage__parallax-text {
  width: 158px;
}
.stage__grid-item:nth-child(6) {
  grid-column-end: span 2;
  margin-left: 350px;
  margin-top: 25px;
}
.stage__grid-item:nth-child(6) .stage__parallax-text {
  width: 202px;
}
.stage__grid-item:nth-child(7) {
  grid-column-end: span 2;
  margin-left: 210px;
  margin-top: 50px;
}
.stage__grid-item:nth-child(7) .stage__parallax-text {
  width: 162px;
}
.stage__grid-item:nth-child(8) {
  grid-column-end: span 2;
  margin-left: 660px;
  margin-top: -50px;
}
.stage__grid-item:nth-child(8) .stage__parallax-text {
  width: 153px;
}
.stage__grid-item:nth-child(9) {
  grid-column-end: span 2;
  margin-left: 210px;
  margin-top: 32px;
}
.stage__grid-item:nth-child(9) .stage__parallax-text {
  width: 218px;
}
.stage__grid-item:nth-child(10) {
  grid-column-end: span 2;
  margin-left: 550px;
  margin-top: 10px;
}
.stage__grid-item:nth-child(10) .stage__parallax-text {
  width: 295px;
}
.stage__parallax-text {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 20px;
}
.stage__num {
  font-size: 96px;
  font-family: 'Formular';
  margin-right: 20px;
}
.team {
  margin: auto;
  padding: 96px 88px 0;
  max-width: 1280px;
}
.team__title {
  font-size: 36px;
  margin-bottom: 36px;
}
.team__item {
  margin-bottom: 56px;
}
.team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.team__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 48px;
}
.team__item-title {
  font-size: 24px;
}
.team__btn {
  background: url(../assets/img/arrow-down.svg) right no-repeat;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  color: #ee4237;
  line-height: 23px;
  padding-right: 22px;
}
.btn--active {
  background: url(../assets/img/arrow-top.svg) right no-repeat;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.team__list-image img {
  display: block;
  width: 100%;
}
.team__list-name {
  font-size: 18px;
  line-height: 1.25;
  margin: 8px 0 4px;
}
.team__list-prof {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.career__container {
  margin: auto;
  padding: 96px 88px 96px;
  max-width: 1280px;
}
.career__title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.career__wrap {
  display: grid;
  grid-template-columns: 352px 352px;
  grid-row-gap: 24px;
}
.career__prof {
  font-size: 24px;
  line-height: 1.25;
}
.career__link {
  color: #ee4237;
  font-size: 18px;
  line-height: 1.25;
  margin-top: 8px;
}
.news {
  margin: auto;
  padding: 0px 88px 96px;
  max-width: 1280px;
}
.news__title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.tabs__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tabs {
  margin-bottom: 16px ;
  display: flex;
}
.tabs li {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px 0px 8px ;
  padding-left: 16px;
}
.tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 8px 16px;
  font-size: 18px;
  position: relative;
}
.tab:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab--active {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237;
}
.news__link {
  color: #ee4237;
  font-size: 18px;
}
.news__link::after {
  content: url(../assets/img/news_arrow.svg);
  margin-left: 11px;
}
.news__slider-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
.news__slider-category {
  color: #000;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 2px;
}
.news__slider-category::before {
  content: url(../assets/img/news_build.svg);
  margin-right: 5px;
}
.news__slider-category--empty::before {
  content: '';
}
.news__slider-img {
  display: block;
  width: 100%;
}
.news__slider-title {
  color: #000;
  font-size: 18px;
  margin: 9px 0 4px;
  line-height: 1.25;
  height: 46px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news__date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.news__slider-wrapper {
  position: relative;
}
.news__slider-left,
.news__slider-right {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-43px);
  border: 0;
  outline: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.news__slider-left {
  display: none;
}
.news__slider-left {
  left: -24px;
  background: url(../assets/img/slideLeft.svg);
}
.news__slider-left:hover {
  background: url(../assets/img/slideLeft-hover.svg);
}
.news__slider-right {
  right: -24px;
  background: url(../assets/img/slideRight.svg);
}
.news__slider-right:hover {
  background: url(../assets/img/slideRight-hover.svg);
}
.documentation {
  margin: auto;
  padding: 0px 88px 113px;
  max-width: 1280px;
}
.documentation__title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.documentation__wrap {
  display: grid;
  grid-template-columns: 446px auto;
  grid-column-gap: 24px;
  align-items: flex-start;
}
.documentation__item {
  display: grid;
  grid-template-columns: 468px 78px;
  grid-column-gap: 88px;
  margin-bottom: 12px;
}
.documentation__category {
  font-size: 24px;
  line-height: 1.25;
}
.doc__file {
  color: #ee4237;
  margin-top: 5px;
  position: relative;
  line-height: 1.25;
  padding-left: 27px;
}
.doc__file::before {
  content: url(../assets/img/icon-pdf.svg);
  margin-right: 8px;
  position: absolute;
  top: -25%;
  left: 0px;
}
.doc__date {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.footer__wrap {
  margin: auto;
  padding: 35px 32px ;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__socials {
  display: flex;
}
.footer__link {
  display: block;
  margin-right: 16px;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link:hover .footer__link-fill {
  fill: #797878;
}
.copyright {
  font-size: 18px;
  line-height: 1.25;
  margin-left: 24px;
}
.footer__item2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__credits {
  color: #000;
  margin-left: 8px;
  border-bottom: 1px solid #000;
}
.helper {
  background-color: #fafafa;
}
