@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  z-index: 1;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.header {
  background-color: #f5f5f5;
}
.header-fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 51;
  transition: transform 0.2s linear;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.header-fixed--hide {
  transform: translateY(-86px);
}
.header-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  height: 86px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__container {
  max-width: 960px;
  min-width: 768px;
  padding: 24px 32px 80px;
  margin: auto;
}
.intro__wrap {
  display: flex;
  align-items: center;
}
.intro__text {
  font-size: 48px;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Formular';
  width: 612px;
}
.intro__text-span {
  color: #000;
}
.news__container {
  max-width: 960px;
  min-width: 768px;
  padding: 0px 32px 96px;
  margin: auto;
}
.tabs {
  display: flex;
}
.tabs li {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px 0px 8px ;
  padding-left: 16px;
}
.tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 8px 16px;
  font-size: 18px;
  position: relative;
}
.tab:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab--active {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237;
}
.news__item {
  margin-top: 16px;
  background: #fff;
  padding: 32px 48px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  display: block;
  transition: 0.2s linear;
}
.news__item:hover {
  background: #fef5f5;
}
.news__item-title {
  font-size: 36px;
  line-height: 1.25;
  color: #000;
}
.news__item-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 0 24px;
  line-height: 1.4;
}
.news__info-title {
  font-size: 24px;
  line-height: 1.25;
  color: #000;
}
.news__link {
  color: #ee4237;
  font-size: 18px;
  margin-top: 15px;
  display: block;
}
.footer {
  background-color: #f5f5f5;
}
.footer__wrap {
  margin: auto;
  padding: 32px ;
  max-width: 960px;
  min-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__socials {
  display: flex;
}
.footer__link {
  display: block;
  margin-right: 16px;
}
.footer__link:last-child {
  margin-right: 0;
}
.copyright {
  font-size: 18px;
  line-height: 1.25;
  margin-left: 24px;
}
.footer__item2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__credits {
  color: #000;
  margin-left: 8px;
  border-bottom: 1px solid #000;
}
.menu {
  background-color: #f5f5f5;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.menu-container {
  margin: auto;
  padding: 60px 32px  32px;
  max-width: 960px;
  min-width: 768px;
  position: relative;
  width: 100%;
  height: 100%;
}
.btn-close {
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 32px;
  top: 32px;
  z-index: 100;
  border: 0;
}
.menu-list li {
  padding: 12px 0;
  border-bottom: 1px solid #d8d8d8;
}
.menu-link {
  color: #000;
  font-size: 24px;
  line-height: 32px;
}
.menu--heart {
  border: 0 !important;
}
.menu-link--heart::before {
  content: url(../assets/img/heart.svg);
  margin-right: 7px;
}
.menu__footer {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
}
.menu__footer-wrap {
  display: flex;
  justify-content: space-between;
}
.menu__footer-socials {
  display: flex;
  justify-content: space-between;
}
.menu__footer-text {
  font-size: 16px;
  width: 250px;
  line-height: 1.25;
  margin-bottom: 16px;
}
.menu__footer-phone {
  color: #ee4237;
  font-size: 24px;
  line-height: 32px;
}
