@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  min-width: 768px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.header {
  background-color: #f5f5f5;
}
.header-fixed {
  position: fixed !important;
  top: 0;
  transform: translateY(0);
  left: 0;
  width: 100%;
  z-index: 51;
  transition: transform 0.2s linear;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.header-fixed--hide {
  transform: translateY(-86px);
}
.header-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  height: 86px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about {
  padding-top: 16px;
  background-color: #f5f5f5;
}
.about-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  padding: 0 32px 96px;
}
.about__img {
  width: 100%;
  display: block;
}
.about-wrapper {
  width: 605px;
}
.about__title {
  margin: 32px 0 24px;
  font-size: 36px;
  line-height: 1.25;
}
.about__text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 48px;
}
.about__news-preview {
  color: #ee4237;
}
.about__news-preview:hover {
  color: rgba(0, 0, 0, 0.5);
}
.about__date-preview {
  font-size: 15px;
}
.about__text-preview {
  font-size: 24px;
  line-height: 31px;
  margin-top: 8px;
}
.offer-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  padding: 48px 32px;
  background: #fff;
}
.offer__title {
  font-size: 36px;
  line-height: 1.25;
}
.offer__info-link {
  color: #fff;
  padding: 14px 16px;
  background: #ee4237;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
}
.objects {
  background: #f5f5f5;
}
.objects-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  padding: 96px 32px;
}
.objects-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.objects__title {
  font-size: 36px;
  line-height: 1.25;
}
.objects__link {
  color: #ee4237;
  font-size: 18px;
}
.objects__link::after {
  content: url(../assets/img/down-arrow.svg);
  margin-left: 11px;
}
.objects__utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.objects__utilities:first-child {
  margin-right: 12px;
}
.objects__utilities:last-child {
  margin-left: 12px;
}
.objects__btn {
  font-size: 16px;
  padding: 10px 130px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  margin: 40px 0 24px;
  width: 100%;
}
.objects__btn--active {
  background: #ee4237;
  color: #fff;
  transition: 0.1s linear;
}
.objects__btn-filter {
  margin-right: 8px;
}
.objects__btn-map {
  margin-left: 8px;
}
.objects__filter-key {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  margin: 8px 0  8px;
}
.devider img {
  display: block;
  width: 100%;
}
.objects__filter {
  display: none;
}
.objects__filter--block {
  display: block;
}
.objects__filter-value {
  margin-bottom: 32px;
}
.objects__filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.objects__filter-range {
  width: 100%;
  height: 1px;
  background: #ee4237;
  position: relative;
  margin: 20px 0 24px;
}
.objects__filter-range::before {
  content: '';
  width: 24px;
  height: 24px;
  background: #ee4237;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -12px;
}
.objects__filter-range::after {
  content: '';
  width: 24px;
  height: 24px;
  background: #ee4237;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -12px;
}
.objects__filter-selectAny,
.objects__filter-selectAll {
  margin: 8px 0 8px;
}
.btn-selectAny,
.btn-selectAll {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  padding: 14px;
  text-align: center;
  border: 1px solid #d8d8d8;
  background: #fff;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
  position: relative;
}
.btn-selectAny::after,
.btn-selectAll::after {
  content: url(../assets/img/select.svg);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.objects__selectAll-options,
.objects__selectAny-options {
  width: 100%;
  background: #fff;
  display: none;
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
  text-align: center;
  border: 1px solid #d8d8d8;
}
.objects__selectAll-options--block,
.objects__selectAny-options--block {
  display: block;
}
.objects__selectAll-option,
.objects__selectAny-option {
  border-bottom: 1px solid #d8d8d8;
  padding: 17px 0;
}
.objects__selectAll-option:last-child,
.objects__selectAny-option:last-child {
  border-bottom: 0;
}
.objects__selectAll-option--active,
.objects__selectAny-option--active {
  color: #ee4237;
}
.objects__selectAll-option:hover,
.objects__selectAny-option:hover {
  color: #ee4237;
}
.objects__selectAll-option sup,
.objects__selectAny-option sup {
  margin-left: 5px;
}
.objects__map {
  display: none;
}
.objects__map--block {
  display: block;
}
.objects__mapframe {
  width: 100%;
  margin-bottom: 8px;
}
.objects__item-container {
  display: block;
}
.objects__item-container--none {
  display: none;
}
.objects__item {
  position: relative;
  margin-bottom: 24px;
  height: 400px;
  display: block;
}
.objects__item:last-child {
  margin-bottom: 0;
}
.objects__item-wrap {
  width: 100%;
  position: relative;
}
.objects__item-wrap::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50% ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 62%);
  opacity: 0.7;
  z-index: 1;
}
.objects__item-img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}
.objects__item-location {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
  font-size: 14px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.objects__item-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 3;
  color: #fff;
}
.objects__item-title {
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 1.25;
}
.objects__item-status {
  font-size: 18px;
  line-height: 1.25;
}
.news {
  background-color: #f5f5f5;
}
.news-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  padding: 0 32px 96px;
}
.news__title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1.25;
}
.tabs__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tabs {
  margin-bottom: 16px ;
  display: flex;
}
.tabs li {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px 0px 8px ;
  padding-left: 16px;
}
.tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 0px 8px 16px;
  font-size: 18px;
  position: relative;
}
.tab:first-child {
  margin-left: 0;
  padding-left: 0;
}
.tab--active {
  color: #ee4237 !important;
  border-bottom: 1px solid #ee4237;
}
.news__link {
  color: #ee4237;
  font-size: 18px;
}
.news__link::after {
  content: url(../assets/img/down-arrow.svg);
  margin-left: 11px;
}
.news__slider-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 24px;
}
.news__slider-category {
  color: #000;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 2px;
}
.news__slider-category::before {
  content: url(../assets/img/news_build.svg);
  margin-right: 5px;
}
.news__slider-category--empty::before {
  content: '';
}
.news__slider-img {
  display: block;
  width: 100%;
}
.news__slider-title {
  color: #000;
  font-size: 18px;
  margin: 9px 0 4px;
  line-height: 1.25;
  height: 46px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news__date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.news__slider-wrapper {
  position: relative;
}
.news__slider-left,
.news__slider-right {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-43px);
  border: 0;
  outline: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.news__slider-left {
  display: none;
}
.news__slider-left {
  left: -24px;
  background: url(../assets/img/slideLeft.svg);
}
.news__slider-right {
  right: -24px;
  background: url(../assets/img/slideRight.svg);
}
.info {
  background-color: #f5f5f5;
}
.info-container {
  max-width: 960px;
  min-width: 768px;
  margin: auto;
  padding: 0 32px 96px;
}
.info-wrap {
  margin-bottom: 48px;
}
.info-img {
  width: 100%;
  display: block;
}
.info__main-text {
  font-size: 24px;
  margin-bottom: 24px;
  width: 405px;
}
.info__text {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 12px;
  width: 610px;
}
.info__links {
  margin-top: 40px;
}
.info__links li {
  margin-bottom: 16px;
}
.info__link {
  color: #ee4237;
  line-height: 1.25;
  font-size: 18px;
}
.footer {
  background-color: #f5f5f5;
}
.footer__wrap {
  margin: auto;
  padding: 35px 32px ;
  max-width: 960px;
  min-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__socials {
  display: flex;
}
.footer__link {
  display: block;
  margin-right: 16px;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link:hover .footer__link-fill {
  fill: #797878;
}
.copyright {
  font-size: 18px;
  line-height: 1.25;
  margin-left: 24px;
}
.footer__item2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__credits {
  color: #000;
  margin-left: 8px;
  border-bottom: 1px solid #000;
}
.menu {
  background-color: #f5f5f5;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.menu-container {
  margin: auto;
  padding: 60px 32px  32px;
  max-width: 960px;
  min-width: 768px;
  position: relative;
  width: 100%;
  height: 100%;
}
.btn-close {
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 32px;
  top: 32px;
  z-index: 100;
  border: 0;
}
.menu-list li {
  padding: 12px 0;
  border-bottom: 1px solid #d8d8d8;
}
.menu-link {
  color: #000;
  font-size: 24px;
  line-height: 32px;
}
.menu--heart {
  border: 0 !important;
}
.menu-link--heart::before {
  content: url(../assets/img/heart.svg);
  margin-right: 7px;
}
.menu__footer {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
}
.menu__footer-wrap {
  display: flex;
  justify-content: space-between;
}
.menu__footer-socials {
  display: flex;
  justify-content: space-between;
}
.menu__footer-text {
  font-size: 16px;
  width: 250px;
  line-height: 1.25;
  margin-bottom: 16px;
}
.menu__footer-phone {
  color: #ee4237;
  font-size: 24px;
  line-height: 32px;
}
.range {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #ddd;
  background-color: #ee4237;
}
.range__button_1,
.range__button_2 {
  position: absolute;
  top: 0%;
  width: 24px;
  height: 24px;
  cursor: move;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #ee4237;
}
.range__button_1 {
  left: 0;
}
.range__button_2 {
  right: 0 !important;
}
.range__between {
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  border: none;
  background-color: #ee4237;
}
.range_inpt1,
.range_inpt2 {
  width: 80px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  font-family: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
