@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular-Medium.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
