@font-face {
  font-family: 'ProbaPro';
  src: url(../../fonts/MintType-ProbaProRegular.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'ProbaPro';
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  max-width: 916px;
  width: 100%;
  margin: 64px auto;
  padding: 48px 70px;
  background: #fff;
  position: relative;
}
.button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  top: 64px;
  left: 0;
  margin: auto;
  transform: translateX(506px);
  z-index: 1;
  outline: none;
  border: none;
  cursor: pointer;
}
.button--del:hover {
  background: #EFEFEF;
  display: inline-block;
}
.button--modal {
  position: absolute;
  top: 0;
  right: 266px;
}
.button--accept {
  background: #46b757;
  top: 120px;
}
.button--accept:hover {
  background: #298136;
}
.button__delete {
  position: absolute;
  border-radius: 50%;
  background: #ee4237;
  width: 17px;
  height: 17px;
  top: -8px;
  left: -8px;
  z-index: 2;
  outline: none;
  border: none;
  cursor: pointer;
}
.button__delete:hover {
  background: #ee534a;
}
.decoration-settings__title {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 24px;
}
.wrap {
  display: flex;
  margin: 16px 0 24px;
  max-width: 660px;
  flex-wrap: wrap;
}
.bg-img {
  display: block;
}
.decoration-settings__wrapper {
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
}
.button__delete--textarea {
  top: 50%;
  left: 100% ;
}
.tab__img {
  position: absolute;
  top: 5px;
  left: 5px;
}
.item__wrap {
  background: #efefef;
  padding: 20px 24px 32px;
  margin-bottom: 8px;
}
.title__wrap {
  display: flex;
}
.decoration-settings__item-title {
  font-weight: normal;
  font-size: 24px;
  margin-right: 12px;
}
.decoration-settings__item-title--gray {
  color: rgba(0, 0, 0, 0.5);
}
.tabs__nav-link {
  color: #000;
  margin-left: 16px;
  font-size: 18px;
}
.tabs__nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}
.form__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__item-wrapper {
  display: grid;
  grid-template-columns: 57px auto;
  grid-column-gap: 9px;
  align-items: flex-end;
  margin-top: 30px;
}
.decoration-settings__img-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.decoration-settings__wrap-empty {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.decoration-settings__text {
  color: #ee4237;
  margin-top: 4px;
  font-size: 14px;
}
.form-item {
  display: block;
  position: relative;
  margin-right: 24px;
  padding-right: 16px;
}
.form-item--inline {
  width: 50%;
}
.form-item--mr {
  margin-right: 24px;
}
.form-label {
  position: absolute;
  pointer-events: none;
  font-size: 18px;
  left: 0;
  top: 8px;
  line-height: 26px;
  transition: 0.3s;
}
.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
  top: -20px;
  font-size: 14px;
}
.info-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  outline: none;
  font-size: 18px;
}
.info-suptitle,
.info-input {
  display: block;
  font-family: inherit;
}
.info-suptitle {
  font-size: 18px;
  color: #000;
  opacity: 0.5;
}
.textarea {
  overflow: hidden;
  resize: none;
}
.btn {
  margin: 24px 0 ;
  display: inline-block;
  background: #454545;
  padding: 8px 16px;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn--settings {
  background: #454545;
  margin: 0;
}
.btn--settings:hover {
  background: rgba(0, 0, 0, 0.7);
}
.btn--settings::before {
  content: url(../../assets/img/decorationContent/plus.svg);
  margin-right: 5px ;
}
.btn--camera {
  margin-top: 16px;
  margin-bottom: 0;
}
.btn--camera::before {
  content: url(../../assets/img/decorationContent/camera.svg);
  vertical-align: center;
  margin-right: 5px ;
}
.btn--camera:hover {
  background: rgba(0, 0, 0, 0.7);
}
.btn--save {
  background: #ee4237;
  padding: 14px 16px;
  margin-top: 40px;
}
.btn--save:hover {
  background: #ee534a;
}
.btn--cancel {
  background: transparent;
  padding: 14px 16px;
  color: #000;
}
.btn--cancel:hover {
  color: rgba(0, 0, 0, 0.5);
}
.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.flex__wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.modal__wrap {
  max-width: 634px;
  width: 100%;
  background: #fff;
  margin: auto;
  padding: 48px 82px 24px;
  position: relative;
}
.modal__wrapper {
  display: flex;
  margin-left: 32px;
}
.modal__items-wrap {
  margin-right: 32px;
}
.decoration__checkbox {
  display: none;
}
.modal__items {
  margin-top: 10px;
  margin-bottom: 40px;
}
.modal__items:nth-child(6),
.modal__items:nth-child(12) {
  margin-bottom: 9px;
}
.decoration__label {
  position: relative;
  padding-left: 64px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}
.decoration__label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #898989;
  background: transparent;
  position: absolute;
  left: 0;
  top: -15%;
  border-radius: 50%;
}
.decoration__label::after {
  content: url(../../assets/img/decorationContent/ceiling.svg);
  position: absolute;
  left: 24px;
  top: -50%;
}
.decoration__label--floor1::after {
  content: url(../../assets/img/decorationContent/floor_L.svg);
}
.decoration__label--floor2::after {
  content: url(../../assets/img/decorationContent/floor_P.svg);
}
.decoration__label--baseboard::after {
  content: url(../../assets/img/decorationContent/baseboard.svg);
}
.decoration__label--doors::after {
  content: url(../../assets/img/decorationContent/doors.svg);
}
.decoration__label--walls::after {
  content: url(../../assets/img/decorationContent/walls.svg);
}
.decoration__label--conditioning::after {
  content: url(../../assets/img/decorationContent/conditioning.svg);
}
.decoration__label--toilet::after {
  content: url(../../assets/img/decorationContent/toilet.svg);
}
.decoration__label--socket::after {
  content: url(../../assets/img/decorationContent/socket.svg);
}
.decoration__label--bath::after {
  content: url(../../assets/img/decorationContent/bath.svg);
}
.decoration__label--dryer::after {
  content: url(../../assets/img/decorationContent/dryer.svg);
}
.decoration__label--sink::after {
  content: url(../../assets/img/decorationContent/sink.svg);
}
.decoration__checkbox:checked + .decoration__label::before {
  background: url(../../assets/img/decorationContent/checkbox.svg) center;
}
.decoration__checkbox:checked + .decoration__label::after {
  content: url(../../assets/img/decorationContent/ceiling2.svg);
}
.decoration__checkbox:checked + .decoration__label--floor1::after {
  content: url(../../assets/img/decorationContent/floor_L2.svg);
}
.decoration__checkbox:checked + .decoration__label--floor2::after {
  content: url(../../assets/img/decorationContent/floor_P2.svg);
}
.decoration__checkbox:checked + .decoration__label--baseboard::after {
  content: url(../../assets/img/decorationContent/baseboard2.svg);
}
.decoration__checkbox:checked + .decoration__label--doors::after {
  content: url(../../assets/img/decorationContent/doors2.svg);
}
.decoration__checkbox:checked + .decoration__label--walls::after {
  content: url(../../assets/img/decorationContent/walls2.svg);
}
.decoration__checkbox:checked + .decoration__label--conditioning::after {
  content: url(../../assets/img/decorationContent/conditioning2.svg);
}
.decoration__checkbox:checked + .decoration__label--toilet::after {
  content: url(../../assets/img/decorationContent/toilet2.svg);
}
.decoration__checkbox:checked + .decoration__label--socket::after {
  content: url(../../assets/img/decorationContent/socket2.svg);
}
.decoration__checkbox:checked + .decoration__label--bath::after {
  content: url(../../assets/img/decorationContent/bath2.svg);
}
.decoration__checkbox:checked + .decoration__label--dryer::after {
  content: url(../../assets/img/decorationContent/dryer2.svg);
}
.decoration__checkbox:checked + .decoration__label--sink::after {
  content: url(../../assets/img/decorationContent/sink2.svg);
}
.decoration__checkbox:checked + .decoration__label {
  color: #ee4237;
}
